body {
  padding-top: 65px;
  background-size: cover;
  padding: 20px;
}

#header {
  margin-bottom: 50px;
}

#footer {
  margin-top: 25px;
  width: 100%;
  display: table;
  text-align: center;
  background-color: orange;
}

#copyright {
  padding: 15px;
}

label.required:after {
  content:"*";
  color:red;
}
