body {
  padding-top: 65px;
  background-size: cover;
  padding: 20px;
}

#header {
  margin-bottom: 50px;
}

#footer {
  width: 100%;
  display: table;
  text-align: center;
  background-color: orange;
}

#copyright {
  padding: 15px;
}

.message {
  background-color: #FFEB99;
  border-right: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 15px;
  padding: 10px;
}
