@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 3%;
  padding-top: 3%;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%;
}

a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  transition: opacity 0.5s;

  opacity: 1;
  color: #CD6600;
}

a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  transition: opacity 0.5s;
  opacity: 0.9;
  color: #FF8C00;
}

button:hover {
  opacity: 1;
}

button {
  transition: opacity 0.5s;
  opacity: 0.9;
}

table {
  border-collapse: separate;
}

.btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  background-color: #FFF;
  color: #333;
  margin-bottom: 5%;
}

.btn:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  background-color: orange;
  color: #FFF;
  margin-bottom: 5%;
}

/* I don't think the btn-primary class
 * is needed. I'll get rid of it when
 * I go through the grand CSS purging
 * of everything Caleb made for his
 * pages.
 */

.btn-primary {
  border-color: orange;
}

.btn-primary:hover {
  border-color: orange;
}

.container {
  width: 90%;
}

.half-float-right {
  width: 50%;
  float: right;
  display: inline-block;
  margin: 0;
}

.half-float-left {
  width: 45%;
  float: left;
  display: inline-block;
  margin: 0;
}

.jumbotron {
  background-color: #FFF;
  text-align: justify;
  padding-top: 30px;
}

.jumbotron embed {
  padding-bottom: 30px;
  width: 60%;
}

.jumbotron form input {
  padding: 0.5%;
  margin-top: 1%;
  border: 1px orange solid;
  border-radius: 5px;
  padding: 5px;
}

.jumbotron form input:focus {
  border: 1px orange solid;
}

.jumbotron form textarea {
  border: 1px orange solid;
}

.jumbotron form textarea:focus {
  border: 1px orange solid;
}

.large-text p {
  font-size: 150%;
}

.medium-text p {
  font-size: 120%;
}

.small-text p {
  font-size: 90%;
}

.navbar:before {
  content: "";
  position: relative;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, orange, #d96924);
}

.message {
  text-align: center;
  font-weight: 600;
}

.pos-center {
  text-align: center;
}

.pos-left {
  text-align: left;
}

.pos-right {
  text-align: right;
}

.triple-split-right {
  width: 30%;
  float: right;
  display: inline-block;
  margin: 0;
}

.triple-split-left {
  float: left;
  width: 30%;
  display: inline-block;
  margin: 0;
}

.triple-split-center {
  width: 30%;
  display: inline-block;
  margin: 0;
}

#content {
  width: 100%;
}

#header {
  margin-bottom: 50px;
}

#footer {
  width: 100%;
  text-align: right;
  z-index: 9999;
  bottom: 0;
  position: absolute;
}

#copyright {
  padding: 15px;
  color: #EEE;
  font-size: 10px;
}

label.required:after {
  content:"*";
  color:red;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 600px) and (orientation: portrait) {

  h2 {
    font-size: 5vw;
  }

  .caret {
    display: none;
  }

  .half-float-left {
    width: 100%;
  }

  .half-float-right {
    width: 100%;
  }

  .jumbotron button {
    font-size: 2vh;
  }

  .jumbotron embed {
    padding-bottom: 5%;
    width: 100%;
  }

  .jumbotron p {
    font-size: 2vh;
  }

  .jumbotron form {
    margin-top: 10%;
    font-size: 2vh;
  }

  .jumbotron form input {
    padding: 1%;
    margin-top: 5%;
    border: 1px orange solid;
    border-radius: 5px;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-toggle {
    float: left;
    margin-left: 5%;
  }

  .message {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    font-size: 2vh;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .triple-split-right {
    width: 100%;
  }

  .triple-split-left {
    width: 100%;
  }

  .triple-split-center {
    width: 100%;
  }

  #navbar button {
    font-size: 2vh;
    position: absolute;
    left: 7%;
  }

  #navbar li a {
    line-height: 3.5vh;
  }

  #navbar li {
    width: 100%;
    margin-bottom: 10%;
    margin-top: 5%;
    font-size: 2vh;
  }

  #content {
    width: 100%;
  }

  #footer {
    position: fixed;
    bottom: 0;
  }

  #copyright {
    font-size: 1vh;
    text-align: left;
  }
}

