{% extends "layout.html" %}
{% block page %}
<div class="col-md-6 col-md-offset-3" style="float: none">
  <div class="jumbotron">
    <h2 class="text-center">Reset my password!</h2>
    <form action="{{ url_for('auth.forgot_password_submit') }}" method="post">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" autofocus />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">E-mail address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter e-mail" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock page %}
