{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="jumbotron">
      <h2 class="text-center">Login to Donut!</h2>
      <form action="{{ url_for('auth.login_submit') }}" method="post">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
      </form>
      <br><br>
      <a href="{{ url_for('account.request_account') }}">Create an account</a><br>
      <a href="{{ url_for('auth.forgot_password') }}">Forgot your password?</a>
    </div>
  </div>
</div>
{% endblock %}
