{% extends "layout.html" %}
{% block page %}
  <h2>Reset my password!</h2>
  <form action="{{ url_for('auth.reset_password_submit', reset_key=reset_key) }}" method="post">
    <table class="form">
      <tr>
        <td>Username</td>
        <td>{{ username }}</td>
      </tr>
      <tr>
        <td>New password</td>
        <td><input type="password" name="password" tabindex="1" autofocus /></td>
      </tr>
      <tr>
        <td>New password (again)</td>
        <td><input type="password" name="password2" tabindex="2" /></td>
      </tr>
    </table>
    <br>
    <button type="submit" tabindex="3">Submit</button>
  </form>
{% endblock page %}
