{% extends "layout.html" %}
{% block page %}
<div class="col-md-6 col-md-offset-3" style="float: none">
  <div class="jumbotron">
    <h2 class="text-center">Reset my password!</h2>
    <form action="{{ url_for('auth.reset_password_submit', reset_key=reset_key) }}" method="post">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Username:</label>
            {{ username }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="required" for="password">New password:</label>
            <input type="password" class="form-control" id="password" name="password" autofocus />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="required" for="password2">New password (again):</label>
            <input type="password" class="form-control" id="password2" name="password2" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock page %}
