{% extends "layout.html" %}
{% block body %}
<div class="container theme-showcase" role="main">

	<div class="jumbotron">
		<h1>Register a New Account</h1>

		<form class = "form-horizontal" name = "user_reg" action = "{{url_for('auth.user_reg_submit')}}" method = "post">
			
			<p>Caltech Undergrads and members of the Caltech Community can apply for an account on the ASCIT web services system. To get an account you merely need to fill out the form below, be sure to follow the directions that appear below each field.</p>

			<p>*Note: If you are not a current undergrad, please directly email devteam@donut.caltech.edu for account creation assistance.</p>

			<p>If you have already created an account and you forgot your password, you can <a href = "{{url_for('auth.recover')}}"> recover your password </a>.</p>

			<div class = "form-group">
				<label class = "form-label col-sm-3" for = "username"> Requested Username:</label>
				<div class="col-sm-5">
					<input class = "form-control" type = "text" name = "username" id = "username" autofocus>
				</div>
			</div>

			<p>Please enter your preferred username. After you submit your registration, the system will check whether the name you requested is available. If not, you'll be prompted to enter a different username. Please restrict your username to contain only a-z and 0-9.</p>

			<div class = "form-group">
				<label class = "form-label col-sm-2" for = "rname">Real Name:</label>
				<div class="col-sm-6">
					<input class = "form-control" type = "text" name = "rname" id = "rname" autofocus>
				</div>
			</div>

			<p>Please enter your name exactly as it appears on your Caltech ID card. First Middle Last. This is important because it will be used to confirm that you are entitled to an account.</p>
			
			<span class = "login-caption">Birthday:</span>
			<div class = "form-group">
				<label class = "form-label col-sm-2" for = "month">Month:</label>
				<div class="col-sm-2">
					<input class = "form-control" type = "text" name = "month" id = "month" autofocus>
				</div>
				<label class = "form-label col-sm-2" for = "day">Day:</label>
				<div class="col-sm-2">
					<input class = "form-control" type = "text" name = "day" id = "day" autofocus>
				</div>
			</div>

			<p> Please enter your birthday's month and day. Ex: month: 12 day: 25</p>

			<div class = "form-group">
				<label class = "form-label col-sm-2" for = "uid">UID:</label>
				<div class="col-sm-6">
					<input class = "form-control" type = "text" name = "uid" id = "uid" autofocus>
				</div>
			</div>

			<p> Please enter your UID exactly as it appears on your Caltech ID card. This is to prevent people from taking out an account in your name.</p>

			<div class = "form-group">
				<label class = "form-label col-sm-2" for = "email">Contact Email:</label>
				<div class="col-sm-6">
					<input class = "form-control" type = "email" name = "email" id = "email" autofocus>
				</div>
			</div>

			<p> Please enter an email address that we can use to contact you if necessary.</p>

			<div class = "form-group">
				<label class = "form-label col-sm-2" for = "pass1">Password:</label>
				<div class="col-sm-6">
					<input class = "form-control" type = "password" name = "pass1" id = "pass1" autofocus>
				</div>
			</div>

			<p> Do you really need help on this part? Be sure and type the same password in the next box.</p>

			<div class = "form-group">
				<label class = "form-label col-sm-2" for = "pass2">Confirm Password:</label>
				<div class="col-sm-6">
					<input class = "form-control" type = "password" name = "pass2" id = "pass2" autofocus>
				</div>
			</div>

			<p> In case you were wondering, foobar, 3.14159, donut, etc. are not good passwords.</p>
			
			<input class = "btn btn-default center-block" type = "submit" value = "Register">
		</form>
	</div>
</div>
{% endblock %}