cov-core==1.15.0
coverage==5.0.3
Flask==2.3.2
flask_bootstrap==3.3.7.0
Werkzeug==1.*
itsdangerous==0.24
MarkupSafe==0.23
pytest==5.3.5
pytest-cov==2.8.1
six==1.9.0
PyMySQL==0.7.11
yapf==0.18.0
google==2.0.2
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
html2text==2020.1.16
