{% extends "layout.html" %}
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href={{ url_for('calendar.static', filename='style.css')}}>
{% endblock %}
{% block scripts %}
  {{super()}}
  <script src={{ url_for('calendar.static', filename='script.js', _external = True)}}></script>
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<base target="_parent" />
  <div class="month-year text-center">
    <h4></h4>
  </div>
  <div id='failover_message'>
    Using a cached version of events from donut's databases. To force a sync with google calendars, 
    <a href={{ url_for('calendar.sync')}}>click this link</a>
  </div>
  <table id="cal" class="table table-bordered">
    <tr class="calendarHeaders">
      <th>S</th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
    </tr>
  </table>
  {% for item in permissions if item != 'Any'%}
       <label class="checkbox-inline"><input type="checkbox" name="display_tag" value="{{ item }}"/>{{ item }}</label>
  {% endfor %}
  <label for="jumpto" class="required" id="start_time">Jump to:
  <input type="number" class="jumpto_month" max="12" placeholder="MM"/> </input>
  <input type="number" class="jumpto_year" min="1970" max="2036" placeholder="YYYY"/> </input>
  <button type="button" class="jumpto">Go</button>
</label>
  
  <div>
<button type="button" class="prev-month">Prev</button>
<button type="button" class="next-month">Next</button>
  </div>
  <div id="extraInfo_triangle">
  </div>
  <div class='container' id="extraInfo">
    <span class="close">&times;</span>
    {% if permissions['Any'] %}
      <form method="POST" action="{{ url_for('calendar.calendar_add_events', update=1) }}">
    {% endif %}
      <div class="form-group">
          <label for="name" class="required">Event Name:</label>
{% if permissions['Any'] %}
        <input id="eventName_edit" type="text" name="name" class="form-control" required />
{% else %}
          <label id="eventName" class="infoText" for="name"></label>
{% endif %}
      </div>
        <div class="form-group">
            <label for="tag" class="required">Tag:</label>
            <label class="infoText" id="tag"></label>
            <input type="hidden" id="htag" class="form-control" name="tag"></input>
        </div>
          <div class="form-group">
{% if permissions['Any'] %}
            <input type="hidden" id="calEventId" class="form-control" name="eventId"></input>
            <label for="date" class="required">Start Date </label>
              <input
                type="date"
                class="form-control"
                name="start_date"
                id="start_date"
                required
              />
          </div>
          <label for="start_hour" class="required">Start time</label>
		  <div class="input-group">
            <input
                type="number"
                class="form-control"
                name="start_hour"
                id="start_hour"
                required
                min="1"
                placeholder="4"
                max="24"
            />
            <span class="input-group-addon">:</span>
            <input
                type="number"  
                class="form-control"
                name="start_minute"     
                id="start_minute"
                required
                min="0"
                placeholder="00"
                max="59"
            />
        </div>
{% else %}
        <label>Start time : </label>
        <label id="eventStartTime" class="infoText" ></label>
        </div>
{% endif %}
          <div class="form-group">
{% if permissions['Any'] %}
            <label for="date" class="required">End Date </label>
            <input
                type="date"
                class="form-control"
                name="end_date"
                id="end_date"
                required
            />
          </div>
          <label for="end_hour" class="required">End time</label>
          <div class="input-group">
            <input
                type="number"
                class="form-control"
                name="end_hour"
                id="end_hour"
                required
                min="1"
                placeholder="4"
                max="24"
            />
            <span class="input-group-addon">:</span>
            <input
                type="number"
                class="form-control"
                name="end_minute"
                id="end_minute"
                required
                min="0"
                placeholder="00"
                max="59"
            />
        </div>
{% else %}
        <label>End time : </label>
        <label class="infoText" id="eventEndTime"></label>
        </div>
{% endif %}
        <div class="form-group">
            <label for="location">Location:</label>
            {% if permissions['Any'] %}
            <input type="text" id="eventLocation_edit" name="location" class="form-control"/>
            {% else %}
            <label id="eventLocation" class="infoText" ></label>
            {% endif %}
        </div>        
        <div class="form-group">
            <label for="name" class="required">Description:</label>
            {% if permissions['Any'] %}
            <textarea class="form-control" id="eventDescription_edit" name="description" rows="3" required ></textarea>
            {% else %}
            <label id="eventDescription" class="infoText"></label>
            {% endif %}
        </div>
     {% if permissions['Any'] %}
      <div class="row">
        <div class="text-center">
          <button type="submit" value="Update" target="_parent"> Update </button>
          <button type=button class="deleteEvent" value="Delete"> Delete </button>
        </div>
      </div>
    {% endif %}
    </form>
  </div>

{% endblock %}
