{% extends "layout.html" %}

{% block page %}
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <div class="col-md-6 col-md-offset-3">
    <h2>Create An Account</h2>
      <p style="color: red">All fields are required.</p>
      <form action="{{ url_for('account.create_account_submit', create_account_key=key) }}" method="post">
        <div class="form">

        <p>Choose a username and password.</p>
          <div class="form-group">
		    <label for="username" class="required">Username</label>           
            <input type="text" name="username" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="password" class="required">Password</label>
            <input type="password" name="password" class="form-control" />
          </div>
          <div>
            <label for="password2" class="required">Confirm password</label>
            <input type="password" name="password2" class="form-control" />
         </div>
       </div>
       <p>Please verify your personal information. Email donutascit@gmail.com for issues</p>
       <div class="form">
         <div class="form-group">
           <label>First Name: </label>
           {{ user_data['first_name'] }}
         </div>
         <div class="form-group">
           <label>Last Name: </label>
           {{ user_data['last_name'] }}
         </div>
         <div class="form-group">
           <label>Matriculation Year: </label>
           {{ user_data['entry_year'] }}
         </div>
         <div class="form-group">
           <label>Graduation Year: </label>
           {{ user_data['graduation_year'] }}
         </div>
         <div class="form-group">
           <label>Email: </label>
           {{ user_data['email'] }}
         </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
  </div>
</div>
{% endblock page %}
