<div
	class="modal fade"
	id="modal"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
	data-backdrop="static"
	data-keyboard="false"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" id="close-notes">
					<span aria-hidden="true">&times;</span>
				</button>
				<h5 id="modal-title"></h5>
			</div>
			<div class="modal-body">
				<div id="old-notes">
					<div id="notes-display"></div>
					<button class="btn btn-primary" id="edit-notes">Edit</button>
				</div>
				<div id="new-notes">
					<textarea class="form-control" id="notes-input" rows="10"></textarea>
					<button class="btn btn-primary" id="save-notes">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
