{% extends 'layout.html' %}
{% block page %}
  <div class='col-md-8 col-md-offset-2' style='float: none'>
    <h3 id='warning'></h3>
    <h1>Course Planner</h1>
    <div class='row'>
      <div class='col-md-3'>
        <input class='form-control' id='search' placeholder='Search...' />
        <ul class='list-group' id='courses'>
          <li class='list-group-item'>Loading...</li>
        </ul>
      </div>
      <div class='col-md-9'>
        <table class='table table-bordered courses'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-default btn-sm' id='show-requirements'>
                  Core requirements
                </button>
              </th>
              {% for term_name in TERMS.values() %}
                <th class='term-title'>{{ term_name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for year in YEARS %}
              <tr>
                <td>{{ YEARS[year] }}</td>
                {% for term in TERMS %}
                  <td class='term-courses'>
                    <ul class='list-group term-courses-list' year={{ year }} term={{ term }}></ul>
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='panel panel-primary' id='requirements-modal'>
    <div class='panel-heading'>
      <div class='panel-title'>Core Requirements</div>
    </div>
    <div class='panel-body'>
      486 units
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='units'></div>
      </div>

      Ma 1abc
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='ma1'></div>
      </div>

      Ph 1abc
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='ph1'></div>
      </div>

      Ch 1ab
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='ch1'></div>
      </div>

      Bi 1 or 1x
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='bi1'></div>
      </div>

      Menu class
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='menu'></div>
      </div>

      Ch 3a or 3x
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='ch3'></div>
      </div>

      Additional intro lab
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='add-lab'></div>
      </div>

      Humanities
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='hums'></div>
      </div>

      PE
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='pe'></div>
      </div>
    </div>
    <div class='panel-footer'>
      <button class='btn btn-danger' id='close-requirements'>
        Close
      </button>
    </div>
  </div>
{% endblock %}
{% block styles %}
  {{ super() }}
  <style>
    #warning {
      float: right;
    }
    #courses {
      height: 600px;
      overflow-y: auto;
      margin-bottom: 0;
    }
    .units {
      font-weight: bold;
    }
    .instructor {
      font-style: italic;
    }
    .terms {
      width: 100%;
    }
    .terms td {
      text-align: center;
    }
    {% for term, name in TERMS.items() %}
      .terms:not(.{{ name }}) td:nth-child({{ term }}) {
        visibility: hidden;
      }
    {% endfor %}
    table.courses {
      height: 600px;
    }
    .term-title {
      text-align: center;
    }
    .term-courses {
      width: {{ 100 / TERMS|length }}%;
    }
    .term-courses-list {
      width: 100%;
      height: 100%;
    }
    .term-courses-list .list-group-item {
      display: flex;
      justify-content: space-around;
      padding: 0;
    }
    #requirements-modal {
      position: fixed;
      top: 15%;
      left: 30%;
      right: 30%;
      display: none;
    }
    #requirements-modal .progress {
      margin-bottom: 10px;
    }
  </style>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    var SHOW_COURSES = 50
    var HSS_DEPARTMENTS = {
      An: true,
      BEM: true,
      Ec: true,
      En: true,
      H: true,
      HPS: true,
      Hum: true,
      L: true,
      Law: true,
      Mu: true,
      Pl: true,
      PS: true,
      Psy: true,
      SS: true,
      Wr: true
    }

    var courses = []
    var coursesList, termLists, requirementsModal
    var terms = $('<table>').addClass('terms').append(
      $('<tr>').append(
        {% for term_name in TERMS.values() %}
          $('<td>').text('{{ term_name }}'),
        {% endfor %}
      )
    )
    function courseUnits(course) {
      return course.units.reduce(function(a, b) { return a + b })
    }
    function getYearTerm(courseList) {
      return ['year', 'term'].map(function(attr) {
        return Number(courseList.attr(attr))
      })
    }
    var draggedCourse = null
    function addCourse(course, courseList, skipAPIAdd) {
      var yearTerm = getYearTerm(courseList)
      var year = yearTerm[0], term = yearTerm[1]
      var termIndex = course.terms.indexOf(term)
      if (termIndex < 0) {
        return alert('Class is not offered that term')
      }
      var id = String(course.ids[termIndex])
      var units = courseUnits(course)
      var courseItem = $('<li>').addClass('list-group-item').attr({course: course.number, units: units}).append(
        $('<span>').text(
          course.number + ' (' + units + ' unit' + (units === 1 ? '': 's') + ')'
        ),
        $('<button>').addClass('btn btn-danger btn-xs')
          .click(function() {
            courseItem.remove()
            displayWarning('Saving...')
            $.ajax({
              type: 'GET',
              url: '/1/planner/course/' + id + '/drop/' + String(year),
              dataType: 'json',
              success: function(response) {
                displayWarning(response.success ? '' : response.message)
              },
              error: function() {
                displayWarning('Failed to drop course ' + course.number)
              }
            })
          })
          .append(
            $('<span>').addClass('glyphicon glyphicon-trash')
          )
      )
      courseList.append(courseItem)
      if (skipAPIAdd) return

      displayWarning('Saving...')
      $.ajax({
        type: 'GET',
        url: '/1/planner/course/' + id + '/add/' + String(year),
        dataType: 'json',
        success: function(response) {
          displayWarning(response.success ? '' : response.message)
        },
        error: function() {
          displayWarning('Failed to add course ' + course.number)
        }
      })
    }
    function displayCourses(matchingCourses) {
      coursesList.children().remove()
      matchingCourses.slice(0, SHOW_COURSES).forEach(function(course) {
        var courseItem = $('<li>').addClass('list-group-item').append(
          $('<h4>').text(course.number),
          $('<h5>').text(course.name),
          $('<h5>').addClass('units').text(course.units.join('-'))
        )
        if (course.instructor) {
          courseItem.append(
            $('<h5>').addClass('instructor').text(course.instructor)
          )
        }
        var termsList = terms.clone()
        course.terms.forEach(function(term) {
          switch (term) {
            {% for term, name in TERMS.items() %}
              case {{ term }}:
                termsList.addClass('{{ name }}')
                break
            {% endfor %}
          }
        })
        courseItem
          .attr('draggable', 'true')
          .on('dragstart', function() { draggedCourse = course })
          .append(termsList)
        coursesList.append(courseItem)
      })
    }
    function displayWarning(message) {
      $('#warning').text(message).show()
    }
    $.ajax({
      type: 'GET',
      url: '{{ url_for("courses.planner_courses") }}',
      dataType: 'json',
      success: function(plannerCourses) {
        courses = plannerCourses
        displayCourses(courses)
      },
      error: function() { alert('Failed to load courses') }
    })
    $.ajax({
      type: 'GET',
      url: '{{ url_for("courses.planner_mine") }}',
      dataType: 'json',
      success: function(courses) {
        myCourses = courses
        courses.forEach(function(course) {
          var courseList = $('.term-courses-list[year=' + course.year + '][term=' + course.terms[0] + ']')
          addCourse(course, courseList, true)
        })
      }
    })
    function setRequirementsProgress() {
      var totalUnits = 0,
          Ma1a = false, Ma1b = false, Ma1c = false,
          Ph1a = false, Ph1b = false, Ph1c = false,
          Ch1a = false, Ch1b = false,
          Bi1 = false,
          menu = false,
          Ch3 = false, labUnits = 0,
          PE = 0,
          hums = 0
      termLists.each(function(_, termList) {
        $(termList).find('.list-group-item').each(function(_, course) {
          var courseName = $(course).attr('course'),
            units = Number($(course).attr('units'))
          totalUnits += units
          switch (courseName) {
            case 'Ma 1a': Ma1a = true; break
            case 'Ma 1b': Ma1b = true; break
            case 'Ma 1c': Ma1c = true; break
            case 'Ph 1a': Ph1a = true; break
            case 'Ph 1b': Ph1b = true; break
            case 'Ph 1c': Ph1c = true; break
            case 'Ch 1a': Ch1a = true; break
            case 'Ch 1b': Ch1b = true; break
            case 'Bi 1':
            case 'Bi 1x':
            case 'Bi 8':
            case 'Bi 9':
              Bi1 = true; break
            case 'Ay 1':
            case 'EE 1':
            case 'ESE 1':
            case 'Ge 1':
            case 'IST 4':
              menu = true; break
            case 'Ch 3a':
            case 'Ch 3x':
              Ch3 = true; break
            case 'APh/EE 9a':
            case 'APh/EE 9b':
            case 'APh 24':
            case 'Bi 10':
            case 'Ch 4a':
            case 'Ch 4b':
            case 'Ch 8':
            case 'Ch/ChE 9':
            case 'EE/ME 7':
            case 'Ge 116':
            case 'Ph 3':
            case 'Ph 5':
            case 'Ph 8b':
            case 'Ph 8c':
              labUnits += units
              break
            default:
              if (courseName.startsWith('PE ')) PE++
              else if (units >= 9) {
                var depts = courseName.split(' ')[0].split('/')
                var hss = false
                for (let i = 0; i < depts.length; i++) {
                  if (HSS_DEPARTMENTS[depts[i]]) {
                    hss = true
                    break
                  }
                }
                if (hss) hums++
              }
          }
        })
      })
      $('.progress-bar#units')
        .text(totalUnits + ' / 486')
        .css('width', totalUnits / 486 * 100 + '%')
      $('.progress-bar#ma1').css('width', (Ma1a + Ma1b + Ma1c) / 3 * 100 + '%')
      $('.progress-bar#ph1').css('width', (Ph1a + Ph1b + Ph1c) / 3 * 100 + '%')
      $('.progress-bar#ch1').css('width', (Ch1a * 6 + Ch1b * 9) / 15 * 100 + '%')
      $('.progress-bar#bi1').css('width', Bi1 * 100 + '%')
      $('.progress-bar#menu').css('width', menu * 100 + '%')
      $('.progress-bar#ch3').css('width', Ch3 * 100 + '%')
      $('.progress-bar#add-lab').css('width', Math.min(labUnits / 6, 1) * 100 + '%')
      $('.progress-bar#hums').css('width', Math.min(hums / 12, 1) * 100 + '%')
      $('.progress-bar#pe').css('width', Math.min(PE / 3, 1) * 100 + '%')
    }
    $(document).ready(function() {
      coursesList = $('ul#courses')
      termLists = $('.term-courses-list')
      requirementsModal = $('#requirements-modal')
      termLists
        .on('dragover', function(e) {
          e.preventDefault()
        })
        .on('drop', function(e) {
          e.stopPropagation() // Stops some browsers from redirecting.
          addCourse(draggedCourse, $(this))
          draggedCourse = null
        })
      $('#show-requirements').click(function() {
        setRequirementsProgress()
        requirementsModal.show()
      })
      $('#close-requirements').click(function() {
        requirementsModal.hide()
      })
      $('input#search').keyup(function() {
        var query = $(this).val()
          .trim()
          .toLowerCase()
          .split(/[ /]+/)
        var matches = []
        courses.forEach(function(course) {
          var number = course.number.toLowerCase(),
            name = course.name.toLowerCase()
          var score = 0
          query.forEach(function(segment) {
            var numberIndex = number.indexOf(segment)
            if (numberIndex > -1) {
              score += segment.length
              if (numberIndex === 0 || number[numberIndex - 1] === ' ') score++
              var matchEnd = numberIndex + segment.length
              if (matchEnd === number.length || number[matchEnd] === ' ') score++
            }
            else if (name.indexOf(segment) > -1) score += segment.length * 0.1
          })
          if (score) matches.push({course: course, score: score})
        })
        displayCourses(
          matches
            .sort(function(a, b) { return b.score - a.score })
            .map(function(courseScore) { return courseScore.course })
        )
      })
    })
  </script>
{% endblock %}