{% extends 'layout.html' %}
{% block page %}
  <div class='col-md-8 col-md-offset-2' style='float: none'>
    <h3 id='warning'></h3>
    <h1>Course Planner</h1>
    <div class='row'>
      <div class='col-md-3'>
        <input class='form-control' id='search' placeholder='Search...' />
        <ul class='list-group' id='course-results'>
          <li class='list-group-item'>Loading...</li>
        </ul>
      </div>
      <div class='col-md-9' id='courses-pane'>
        <table class='table table-bordered' id='courses'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-default btn-sm' id='show-requirements'>
                  Core requirements
                </button>
              </th>
              {% for term_name in TERMS.values() %}
                <th class='term-title'>{{ term_name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for year in YEARS %}
              <tr>
                <td>{{ YEARS[year] }}</td>
                {% for term in TERMS %}
                  <td class='term-courses'>
                    <ul class='list-group term-courses-list' year={{ year }} term={{ term }}>
                      <li class='list-group-item'>
                        <span class='term-units' units=0>0 units</span>
                        <button class='btn btn-default btn-xs add-placeholder'>
                          <span class='glyphicon glyphicon-plus'></span>
                        </button>
                      </li>
                    </ul>
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='panel panel-primary' id='requirements-modal'>
    <div class='panel-heading'>
      <div class='panel-title' style="display: inline;">Core Requirements</div>
        <button class='btn btn-danger' id='close-requirements'>
        ×
        </button>
    </div>
    <div class='panel-body'>
      486 units
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='units'></div>
      </div>

      Ma 1abc
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='ma1'></div>
      </div>

      Ph 1abc
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='ph1'></div>
      </div>

      Ch 1ab
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='ch1'></div>
      </div>

      Bi 1 or 1x
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='bi1'></div>
      </div>

      Menu class
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='menu'></div>
      </div>

      Ch 3a or 3x
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='ch3'></div>
      </div>

      Additional introductory lab
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='add-lab'></div>
      </div>

      Humanities and social sciences
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='hss'></div>
      </div>
      <ul id='hss-categories'>
        <li>
          Freshman humanities
          <div class='progress'>
            <div class='progress-bar progress-bar-success' id='frosh-hums'></div>
          </div>
        </li>
        <li>
          Advanced humanities
          <div class='progress'>
            <div class='progress-bar progress-bar-success' id='hums'></div>
          </div>
        </li>
        <li>
          Introductory social sciences
          <div class='progress'>
            <div class='progress-bar progress-bar-success' id='intro-ss'></div>
          </div>
        </li>
        <li>
          Advanced social sciences
          <div class='progress'>
            <div class='progress-bar progress-bar-success' id='ss'></div>
          </div>
        </li>
        <li>
          Writing intensives
          <div class='progress'>
            <div class='progress-bar progress-bar-success' id='writing'></div>
          </div>
        </li>
      </ul>

      PE
      <div class='progress'>
        <div class='progress-bar progress-bar-success' id='pe'></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block styles %}
  {{ super() }}
  <style>
    #warning {
      float: right;
      margin-bottom: 0;
    }
    #course-results, #courses-pane {
      overflow-y: auto;
      margin-bottom: 0;
    }
    .units {
      font-weight: bold;
    }
    .instructor {
      font-style: italic;
    }
    .terms {
      width: 100%;
    }
    .terms td {
      text-align: center;
    }
    {# Hide term in "FA WI SP" if course is not offered in that term #}
    {% for term, name in TERMS.items() %}
      .terms:not(.{{ name }}) td:nth-child({{ term }}) {
        visibility: hidden;
      }
    {% endfor %}
    thead tr {
      height: 1px; /* shrink header row */
    }
    .term-title {
      text-align: center;
    }
    .term-courses {
      width: {{ 100 / TERMS|length }}%;
    }
    .term-courses-list {
      width: 100%;
      margin: 0;
    }
    .term-courses-list .list-group-item {
      display: flex;
      justify-content: space-between;
      padding: 0;
      font-size: 14px;
    }
    .term-courses-list .list-group-item:last-child {
      border: none;
    }
    .term-units {
      font-weight: bold;
    }
    #requirements-modal {
      position: fixed;
      top: 15%;
      left: 30%;
      right: 30%;
      bottom: 5%;
      overflow-y: scroll;
      overflow: -moz-scrollbars-vertical;
      display: none;
    }
    #requirements-modal .progress {
      margin-bottom: 10px;
    }
    .panel-primary > .panel-heading {
      background-color: orange;
      border-color: orange;
    }
    .panel-primary {
      border-color: orange;
    }
    .list-group-item > span {
      padding: 3px;
    }
    .list-group-item {
      margin-bottom: 1px;
      border-color: #888;
    }
    .list-group-item .btn {
      margin-right: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    #hss-categories {
      font-size: 14px;
      font-weight: 400;
    }
    #close-requirements {
      position: absolute;
      right: 5px;
      top: 5px;
      background-color: #444;
      border: none;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 24px;
      color: #fff;
    }
  </style>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src='{{ url_for("static", filename="js/courses/search.js") }}'></script>
  <script>
    var SHOW_COURSES = 50
    var NUMBER_MATCH = /^\d+/
    var HUMANITIES_DEPARTMENTS = {
      En: true,
      H: true,
      HPS: true,
      Hum: true,
      Mu: true,
      Pl: true,
      VC: true
    }
    var SOCIAL_SCIENCE_DEPARTMENTS = {
      An: true,
      BEM: true,
      Ec: true,
      Law: true,
      PS: true,
      Psy: true,
      SS: true
    }
    var MISC_HSS_DEPARTMENTS = {
      L: true,
      Wr: true
    }
    var INTRO_SS_COURSES = {
      'An 14': true,
      'An 15': true,
      'An 16': true,
      'Ec 11': true,
      'PS 12': true,
      'Psy 13': true
    }
    var WRITING_INTENSIVE_SS_COURSES = {
      'An/PS 127': true,
      'Ec 105': true,
      'Ec 129': true,
      'Ec 130': true,
      'Ec 140': true,
      'PS 99a': true,
      'PS 99b': true,
      'PS 120': true,
      'PS 123': true,
      'PS 141a': true,
      'PS 141b': true
    }

    var courses = []
    var coursesList, termsTable, termLists, requirementsModal
    var terms = $('<table>').addClass('terms').append(
      $('<tr>').append(
        {% for term_name in TERMS.values() %}
          $('<td>').text('{{ term_name }}'),
        {% endfor %}
      )
    )
    function courseUnits(course) {
      return typeof course.units === 'number'
        ? course.units
        : course.units.reduce(function(a, b) { return a + b })
    }
    function getYearTerm(courseList) {
      return ['year', 'term'].map(function(attr) {
        return Number(courseList.attr(attr))
      })
    }
    function unitString(units) {
      return String(units) + ' unit' + (units === 1 ? '' : 's')
    }
    function getUnitsDisplay(courseList) {
      return courseList.find('.term-units')
    }
    function addUnits(courseList, units) {
      var unitsDisplay = getUnitsDisplay(courseList)
      var newUnits = Number(unitsDisplay.attr('units')) + units
      unitsDisplay.attr('units', newUnits)
      unitsDisplay.text(unitString(newUnits))
    }
    function addCourseOrPlaceholder(courseList, course, units, onDelete) {
      var courseItem = $('<li>')
        .addClass('list-group-item course')
        .attr({course: course, units: units})
        .append(
          $('<span>').text(course + ' (' + unitString(units) + ')'),
          $('<button>').addClass('btn btn-danger btn-xs').click(onDelete)
            .append($('<span>').addClass('glyphicon glyphicon-trash'))
        )
      getUnitsDisplay(courseList).parent().before(courseItem)
      addUnits(courseList, units)
      return courseItem
    }
    var draggedCourse = null, draggedCourseItem = null
    function makeDraggable(element, removeWhenDragged, getCourse) {
      element.attr('draggable', 'true')
        .on('dragstart', function(e) {
          // Needed for Firefox
          var event = e.originalEvent
          event.dataTransfer.setData('text/plain', null)
          event.dropEffect = 'move'

          draggedCourse = getCourse()
          draggedCourseItem = removeWhenDragged ? $(this) : null
        })
        .on('dragend', function() { draggedCourse = null })
    }
    function addCourse(courseList, course, oldCourseItem, skipAPIAdd) {
      var yearTerm = getYearTerm(courseList)
      var year = yearTerm[0], term = yearTerm[1]
      var termIndex = course.terms.indexOf(term)
      if (termIndex < 0) {
        return alert('Class is not offered that term')
      }

      // Remove the course from its old term if necessary
      if (oldCourseItem) oldCourseItem.find('button').click()

      // Display the new course
      var id = String(course.ids[termIndex])
      var units = courseUnits(course)
      var courseItem = addCourseOrPlaceholder(courseList, course.number, units, function() {
        courseItem.remove()
        addUnits(courseList, -units)
        displayWarning('Saving...')
        $.ajax({
          type: 'GET',
          url: '/1/planner/course/' + id + '/drop/' + String(year),
          dataType: 'json',
          success: function(response) {
            if (response.success) displayWarning('')
            else displayWarning(response.message)
          },
          error: function() {
            displayWarning('Failed to drop course ' + course.number)
          }
        })
      })
      makeDraggable(courseItem, true, function() {
        for (var i = 0; i < courses.length; i++) {
          if (courses[i].number === course.number) return courses[i]
        }
        return course
      })
      if (skipAPIAdd) return

      // Request the course to be added.
      // If moving a course, the warning will be updated by the remove request.
      if (!oldCourseItem) displayWarning('Saving...')
      $.ajax({
        type: 'GET',
        url: '/1/planner/course/' + id + '/add/' + String(year),
        dataType: 'json',
        success: function(response) {
          if (response.success) {
            if (!oldCourseItem) displayWarning('')
          }
          else displayWarning(response.message)
        },
        error: function() {
          displayWarning('Failed to add course ' + course.number)
        }
      })
    }
    function newPlaceholder(courseList) {
      var courseInput = $('<input>').addClass('form-control')
        .attr({name: 'course', placeholder: 'Course'})
        .keydown(saveOnEnter)
      var unitsInput = $('<input>').addClass('form-control')
        .attr({type: 'number', name: 'units', placeholder: 'Units'})
        .keydown(saveOnEnter)
      var placeholder = $('<li>').addClass('list-group-item').append(
        $('<form>').append(
          $('<div>').addClass('form-group').append(courseInput),
          $('<div>').addClass('form-group').append(unitsInput),
          $('<button>').attr('type', 'button').addClass('btn btn-success')
            .click(savePlaceholder)
            .append($('<span>').addClass('glyphicon glyphicon-ok'))
        )
      )
      courseList.prepend(placeholder)
      courseInput.focus()

      function savePlaceholder() {
        addPlaceholder(
          courseList,
          courseInput.val(),
          Number(unitsInput.val()),
          placeholder
        )
      }
      function saveOnEnter(e) {
        if (e.which === 13) savePlaceholder()
      }
    }
    function displayPlaceholder(courseList, course, units, placeholderID) {
      var courseItem = addCourseOrPlaceholder(courseList, course, units, function() {
        dropPlaceholder(courseItem, placeholderID)
      })
      makeDraggable(courseItem, true, function() {
        return {placeholder: true, course: course, units: units}
      })
    }
    function addPlaceholder(courseList, course, units, placeholder, oldCourseItem) {
      var yearTerm = getYearTerm(courseList)
      displayWarning('Saving...')
      $.ajax({
        type: 'POST',
        url: '/1/planner/' + yearTerm.join('/') + '/placeholder',
        data: {course: course, units: units},
        dataType: 'json',
        success: function(response) {
          if (response.success) {
            // Remove the previous location of this placeholder.
            // We can't add the placeholder until the response is received,
            // since we wouldn't know its ID yet.
            if (placeholder) placeholder.remove()
            if (oldCourseItem) oldCourseItem.find('button').click()
            else displayWarning('')
            displayPlaceholder(courseList, course, units, response.id)
          }
          else displayWarning(response.message)
        },
        error: function() {
          displayWarning('Failed to add placeholder')
        }
      })
    }
    function dropPlaceholder(placeholder, id) {
      displayWarning('Saving...')
      $.ajax({
        type: 'DELETE',
        url: '/1/planner/placeholder/' + String(id),
        dataType: 'json',
        success: function(response) {
          if (response.success) {
            displayWarning('')
            addUnits(
              placeholder.closest('.term-courses-list'),
              -Number(placeholder.attr('units'))
            )
            placeholder.remove()
          }
          else displayWarning(response.message)
        },
        error: function() {
          displayWarning('Failed to drop placeholder')
        }
      })
    }
    function displayCourses(matchingCourses) {
      coursesList.children().remove()
      matchingCourses.slice(0, SHOW_COURSES).forEach(function(course) {
        var courseItem = $('<li>').addClass('list-group-item').append(
          $('<h4>').text(course.number),
          $('<h5>').text(course.name),
          $('<h5>').addClass('units').text(course.units.join('-'))
        )
        if (course.instructor) {
          courseItem.append(
            $('<h5>').addClass('instructor').text(course.instructor)
          )
        }
        var termsList = terms.clone()
        course.terms.forEach(function(term) {
          switch (term) {
            {% for term, name in TERMS.items() %}
              case {{ term }}:
                termsList.addClass('{{ name }}')
                break
            {% endfor %}
          }
        })
        makeDraggable(courseItem, false, function() { return course })
        coursesList.append(courseItem.append(termsList))
      })
    }
    function displayWarning(message) {
      $('#warning').text(message).show()
    }
    function getTermCoursesList(year, term) {
      return $('.term-courses-list[year=' + String(year) + '][term=' + String(term) + ']')
    }
    $.ajax({
      type: 'GET',
      url: '{{ url_for("courses.planner_courses") }}',
      dataType: 'json',
      success: function(plannerCourses) {
        courses = plannerCourses
        displayCourses(courses)
      },
      error: function() {
        displayWarning('Failed to load courses')
      }
    })
    $.ajax({
      type: 'GET',
      url: '{{ url_for("courses.planner_mine") }}',
      dataType: 'json',
      success: function(courses) {
        courses.courses.forEach(function(course) {
          addCourse(getTermCoursesList(course.year, course.terms[0]), course, null, true)
        })
        courses.placeholders.forEach(function(placeholder) {
          displayPlaceholder(
            getTermCoursesList(placeholder.year, placeholder.term),
            placeholder.course,
            placeholder.units,
            placeholder.id
          )
        })
      },
      error: function() {
        displayWarning('Failed to load your courses')
      }
    })
    function setRequirementsProgress() {
      var totalUnits = 0,
          Ma1a = false, Ma1b = false, Ma1c = false,
          Ph1a = false, Ph1b = false, Ph1c = false,
          Ch1a = false, Ch1b = false,
          Bi1 = false, Bi1x = false, Bi8 = false, Bi9 = false,
          menu = false,
          Ch3 = false, Ch3AltUnits = 0, labUnits = 0,
          PE = 0,
          hss = 0, froshHumDepartments = {}, humanities = 0,
          introSS = 0, socialSciences = 0, writingIntensive = 0
      termLists.each(function() {
        $(this).children('.course').each(function() {
          var $this = $(this)
          var courseName = $this.attr('course'),
            units = Number($this.attr('units'))
          totalUnits += units
          switch (courseName) {
            case 'Ma 1a': Ma1a = true; break
            case 'Ma 1b': Ma1b = true; break
            case 'Ma 1c': Ma1c = true; break
            case 'Ph 1a': Ph1a = true; break
            case 'Ph 1b': Ph1b = true; break
            case 'Ph 1c': Ph1c = true; break
            case 'Ch 1a': Ch1a = true; break
            case 'Ch 1b': Ch1b = true; break
            case 'Bi 1': Bi1 = true; break
            case 'Bi 1x': Bi1x = true; break
            case 'Bi 8': Bi8 = true; break
            case 'Bi 9': Bi9 = true; break
            case 'Ay 1':
            case 'EE 1':
            case 'ESE 1':
            case 'Ge 1':
            case 'IST 4':
              menu = true; break
            case 'Ch 3a':
            case 'Ch 3x':
              Ch3 = true; break
            case 'Ch 4a':
            case 'Ch 8':
            case 'Ch/ChE 9':
              Ch3AltUnits += units; break
            case 'APh/EE 9a':
            case 'APh/EE 9b':
            case 'APh/EE 24':
            case 'Bi 10':
            case 'Ch 4b':
            case 'EE/ME 7':
            case 'Ge 116':
            case 'Ph 3':
            case 'Ph 5':
            case 'Ph 8b':
            case 'Ph 8c':
              labUnits += units; break
            default:
              var courseNamePieces = courseName.split(' ')
              var departmentString = courseNamePieces[0], number = courseNamePieces[1]
              if (departmentString === 'PE') PE++
              else if (units >= 9) {
                number = Number(NUMBER_MATCH.exec(number)[0])
                var departments = departmentString.split('/')
                var isHumanity = departments.some(function(department) {
                  return department in HUMANITIES_DEPARTMENTS
                })
                if (isHumanity) {
                  if (number <= 50) froshHumDepartments[departmentString] = true
                  else if (number >= 90) {
                    humanities++
                    writingIntensive++
                  }
                }
                var isSocialScience = courseName !== 'BEM 102' &&
                  departments.some(function(department) {
                    return department in SOCIAL_SCIENCE_DEPARTMENTS
                  })
                if (isSocialScience) {
                  if (courseName in INTRO_SS_COURSES) introSS++
                  else {
                    if (number >= 100) socialSciences++
                    if (courseName in WRITING_INTENSIVE_SS_COURSES) writingIntensive++
                  }
                }
                var isHSS = isHumanity || isSocialScience ||
                  departments.some(function(department) {
                    return department in MISC_HSS_DEPARTMENTS
                  })
                if (isHSS) hss++
              }
          }
        })
      })
      Bi1 = Bi1 || (Bi8 && Bi9);
      if (Bi1x) {
        if (Bi1) labUnits += 9;
        else Bi1 = true;
      }
      if (!Ch3 && Ch3AltUnits) {
        Ch3 = true;
        Ch3AltUnits -= 9;
      }
      labUnits += Ch3AltUnits;
      $('.progress-bar#units').text(totalUnits).css('width', totalUnits / 486 * 100 + '%')
      $('.progress-bar#ma1').css('width', (Ma1a + Ma1b + Ma1c) / 3 * 100 + '%')
      $('.progress-bar#ph1').css('width', (Ph1a + Ph1b + Ph1c) / 3 * 100 + '%')
      $('.progress-bar#ch1').css('width', (Ch1a * 6 + Ch1b * 9) / 15 * 100 + '%')
      $('.progress-bar#bi1').css('width', Bi1 * 100 + '%')
      $('.progress-bar#menu').css('width', menu * 100 + '%')
      $('.progress-bar#ch3').css('width', Ch3 * 100 + '%')
      $('.progress-bar#add-lab').css('width', Math.min(labUnits / 6, 1) * 100 + '%')
      $('.progress-bar#hss').css('width', Math.min(hss / 12, 1) * 100 + '%')
      $('.progress-bar#frosh-hums')
        .css('width', Math.min(Object.keys(froshHumDepartments).length / 2, 1) * 100 + '%')
      $('.progress-bar#hums').css('width', Math.min(humanities / 2, 1) * 100 + '%')
      $('.progress-bar#intro-ss').css('width', Math.min(introSS / 2, 1) * 100 + '%')
      $('.progress-bar#ss').css('width', Math.min(socialSciences / 2, 1) * 100 + '%')
      $('.progress-bar#writing').css('width', Math.min(writingIntensive / 3, 1) * 100 + '%')
      $('.progress-bar#pe').css('width', Math.min(PE / 3, 1) * 100 + '%')
    }
    function setCoursesHeight() {
      coursesList.css('height', String(innerHeight - 185) + 'px')
      var termsTableHeight = String(innerHeight - 150) + 'px'
      termsTable.css('height', termsTableHeight)
      termsTable.parent().css('max-height', termsTableHeight)
    }

    $(document).ready(function() {
      coursesList = $('ul#course-results')
      termsTable = $('table#courses')
      termLists = $('.term-courses-list')
      requirementsModal = $('#requirements-modal')
      $('.term-courses')
        .on('dragover', function(e) {
          e.preventDefault()
        })
        .on('drop', function(e) {
          e.preventDefault() // stops some browsers from redirecting
          var courseList = $(this).children('.term-courses-list')
          if (draggedCourse.placeholder) {
            addPlaceholder(
              courseList,
              draggedCourse.course,
              draggedCourse.units,
              null,
              draggedCourseItem
            )
          }
          else addCourse(courseList, draggedCourse, draggedCourseItem)
          draggedCourse = null
        })
      $('.add-placeholder').click(function() {
        newPlaceholder($(this).closest('.term-courses-list'))
      })
      $('#show-requirements').click(function() {
        setRequirementsProgress()
        requirementsModal.show()
      })
      $('#close-requirements').click(function() {
        requirementsModal.hide()
      })
      $('#search')
        .keyup(function() {
          displayCourses(searchCourses(courses, $(this).val()))
        })
        .on('drop', function(e) {
          if (draggedCourse) e.preventDefault()
        })
      setCoursesHeight()
      $(window).resize(setCoursesHeight)
    })
  </script>
{% endblock %}
