{% extends "layout.html" %}
{% block page %}
{% include "topbar.html" %}

<h3>
    Manage your listings
</h3>
<p>
Are you sure you want to {{ action }} the following item?
</p>
<table style="width:100%;min-width:590px" class="table table-condensed table-hover sortable" frame=void rules=rows>
    <thead>
        <tr>
            {% for i in headers %}
                <th>
                    <b>{{ i }}</b>
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <!-- display item to delete as a table -->
        <tr>
            {% for item_field in item %}
                {% set i = loop.index0 %}
                <td>
                    {% if links[i] %} <a href={{ links[i] }}> {% endif %}
                    {{ item_field }}
                    {% if links[i] %} </a> {% endif %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<form action={{ url_for(".manage") }} method="post">
    <input type="hidden" name="item" value={{ item_id }}>
    <button class="btn btn-warning" type="submit" name="state" value={{ action }}>Confirm</button>
    <button class="btn btn-primary" type="submit" name="state" value="">Back</button>
</form>

<br>
{% endblock %}
