{% extends "layout.html" %}
{% block page %}
{% include "topbar.html" %}

<h3>
    Manage your listings
</h3>
<div id='active'>
    {% if activelist %}
        <p>
            Your active listings:
        </p>
        <table style="width:100%;min-width:590px" class="table table-condensed table-hover sortable" frame=void rules=rows>
            <thead>
                <tr>
                    {% for i in headers %}
                        <th>
                            <b>{{i}}</b>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- display data in one main table -->
                {% for row in activelist %}
                    {% set i = loop.index0 %}
                    <tr>
                        {% for cell in row %}
                            {% set j = loop.index0 %}
                            {% set link = activelinks[i][j] %}
                            <td>
                                {% if link != '' %} <a href={{ link }}> {% endif %}
                                {{ cell }}
                                {% if link != '' %} </a> {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
        You have no active listings.
        </p>
    {% endif %}
</div>
<div id='inactive'>
    {% if inactivelist %}
        <p>
            Your inactive listings:
        </p>
        <table style="width:100%;min-width:590px" class="table table-condensed table-hover sortable" frame=void rules=rows>
            <thead>
                <tr>
                    {% for i in headers %}
                        <th>
                            <b>{{i}}</b>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- display data in one main table -->
                {% for row in inactivelist %}
                    {% set i = loop.index0 %}
                    <tr>
                        {% for cell in row %}
                            {% set j = loop.index0 %}
                            {% set link = inactivelinks[i][j] %}
                            <td>
                                {% if link != '' %} <a href={{ link }}> {% endif %}
                                {{ cell }}
                                {% if link != '' %} </a> {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            You have no inactive listings.
        </p>
    {% endif %}
</div>

{% endblock %}
