{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div class="col-md-24">
    <div class="jumbotron">
      <h1 class="text-center">BoC FAQ</h1>
      <div id = 'disclaimer'>
        <p>
          All cases are unique and all decisions are made on a case-by-case
          basis; the following is simply meant to give a general impression
          of how Board proceedings work and how the Board reaches its
          decisions. This is by no means a strict criterion or set of
          rules by which cases are conducted or decided. The formal
          procedures of the BoC are part of the
          <a href='#'>ASCIT Bylaws.</a>
        </p>
      </div>
      <div id = 'table of content'>

      </div>
      <div>
        <!--================================================================-->
        <h2>General Questions</h2>

        <p id = 'What exactly is the Honor System?' style="top:-100px;">
          <b><u>What exactly is the Honor System?</u></b>
        </p>

        <p>
          The Honor System is the framework for the Caltech community.
          At the core, this is embodied by the Honor Code, which states
          that no member of the Caltech community shall take unfair
          advantage of any other member. Sometimes it is not clear what
          constitutes "unfair advantage"; that is part of the reason for
          a Board of Control. As long as everyone acts in accordance with
          the Honor Code, everyone enjoys the benefits of the Honor System.
          When someone violates the Honor System by breaking the Honor Code,
          the Board attempts to undo the damage done and protect the
          community from further incidents.
        </p>
        <p id = 'What are the benefits of the Honor System?'>
          <b><u>What are the benefits of the Honor System?</u></b>
        </p>
        <p>
          As a direct result of the community trust created through the
          Honor System, we students at Caltech have quite a few special
          priviledges. Nearly all of our exams are take-home; none are
          proctered. Collaboration amongst classmates on classwork is
          encouraged. Students are trusted with keys to many buildings,
          computer lab and equipment storage. Most of all, each member of
          the community can feel safe about their possessions and themselves
          while among other members of the community.
        </p>

        <p id = 'Is the Board a policing agency?'>
          <b><u>Is the Board a policing agency?</u></b>
        </p>
        <p>
          No. The Board deals only with cases reported; members of the Board
          are not police officers of any kind. The Board doesn't seek out
          potential offenders, it only handles those reported to it by
          members of the Community.
        </p>

        <p id = 'Who can be investigated by the Board of Control?'>
          <b><u>Who can be investigated by the Board of Control?</u></b>
        </p>
        <p>
          The Board is in charge of dealing with suspected Honor System
          violations by undergraduates. The Graduate Review Board is
          responsible for cases involving graduate students. The Graduate
          Review Board may be reached through the Dean of Graduate Students
          or through referral from the Board of Control. For situations
          involving both graduate and undergraduate defendants,
          the GRB and BoC will investigate the case together.
          Problems involving faculty members, staff, or administration
          should be brought to the attention of the Student Grievance
          Committee. Currently, the ombudsman for the student grievance
          procedure is the Vice President for Student Affairs. The officers
          and representatives of the Board of Control have further
          information and can assist with pursuing these other procedures
        </p>

        <p id = 'Why is the Board so secretive?'>
          <b><u>Why is the Board so secretive?</u></b>
        </p>
        <p>
          The Board of Control investigations and hearings are conducted
          in secret to protect the individuals being investigated. In order
          to prevent the formation of an unfair bias or prejudice against
          those appearing before the Board, extreme measures are taken to
          ensure that details about particular cases do not become known to
          the community. The results of Board votes are kept confidential
          to prevent any conflicts between defendants and individual Board
          members. The Board is also secretive about where and when it meets
          to prevent speculation about people seen entering or leaving the
          meeting place.
        </p>

        <p id = 'What are the standards for bringing a case to a
        full BoC hearing?'>
          <b><u>
            What are the standards for bringing a case to a
            full BoC hearing?
          </u></b>
        </p>
        <p>
          If there is a significant lack of evidence or if it is abundantly
          clear that a defendant has not committed an Honor Code violation
          then the chair and secretary may dismiss the case without a full
          Board hearing. In the case of any ambiguity the chair and secretary
          will err on the side of proceeding to a full Board hearing.
        </p>
        <p>
          Defendants: Please understand that the decision to proceed to a
          full Board hearing does NOT imply your innocence or guilt and does
          NOT mean you are going to be convicted. Plenty of cases get dismissed
          before the full Board.
        </p>
        <p>
          Reporters: Please note that if the case is dismissed at this level,
          it does not necessarily mean that the concern was illegitimate, only
          that we feel that there is insufficient physical evidence to support
          it.
          Because of the potentially very serious consequences of conviction,
          the Board has a high standard for sufficient physical evidence.
        </p>

        <p id = 'What are the standards for conviction by the BoC?'>
          <b><u>What are the standards for conviction by the BoC?</u></b>
        </p>
        <p>
          The standards for conviction are somewhat analogous to the
          "preponderance of evidence" standard used in US civil courts.
          This decision is primarily evidence-based; if the Board believes
          there is not enough evidence then you will be dismissed. Common
          considerations in deciding convictions are as follows: a
          sufficient amount of direct and physical evidence, the
          testimonies of the defendants, witnesses, the details of the
          concern brought up by the reporter, and (to a lesser extent)
          circumstantial evidence revealed during the course of the
          investigation.
          Conviction requires a 6/7 vote of the BoC representatives -- the
          chair and secretary for the case are non-voting.
        </p>

        <p id = 'What can the Board do to a person?'>
          <b><u>What can the Board do to a person?</u></b>
        </p>
        <p>
          If a person is convicted of committing an Honor System violation by
          the Board of Control, the responsibility of the Board is to nullify
          whatever advantages were taken by the individual. This would include
          actions such as giving no credit for homework, or exam problems
          completed in violation of the Honor System or requiring the person
          to provide compensation if property had been damaged. After
          nullification, the Board considers whether the person is capable of
          living under the Honor System in the future. Among actions that
          may result from this are placing the student on probation, having
          the student take a leave of absence, or recommending the student
          for expulsion. See the Undergrad Honor System Handbook for more
          information.
        </p>

        <p id =
        'What are the standards for putting someone on academic suspension?'>
          <b><u>
            What are the standards for putting someone on academic suspension?
          </u></b>
        </p>
        <p>
          This decision is very much dependent on circumstances: whether or not
          a defendant has any prior violations, their understanding of the Honor
          Code, their understanding of the the seriousness of academic
          misconduct,
          and their capacity (or at least apparent capacity) to avoid future
          violations. This decision requires a 6/7 vote for approval.
        </p>
        <p>
          In cases where a defendant has been profoundly dishonest or who has
          one
          or multiple prior convictions, the BoC will consider stronger
          measures.
          In the more extreme cases, if the Board feels that you pose an
          immediate
          threat to the community or that the violations will continue unless
          some more serious action is taken, you may be placed on academic
          suspension. Defendants who have been put on leave are eligible to
          apply for reinstatement through the BoC after a set number of terms
          has passed.
        </p>
        <p>
          Many people hear horror stories about the harshness of BoC
          protection decisions. Please understand that many of these
          stories are exaggerated or have additional, confidential
          circumstances which are incredibly concerning. That being said,
          because there is so much trust placed in students to act honorably,
          the consequences for violating this trust can be very severe.
          My best advice for the concerned defendant is to be honest and
          straightforward with the Board and express willingness and
          competency of how you will avoid future violations. Provided that
          you do this, particularly if this is a first-time violation, the
          Board will almost certainly be willing to give you a second chance.
        </p>

        <p id = 'Are the Board’s decisions always carried out by the Dean?'>
          <b>
            <u>Are the Board’s decisions always carried out by the Dean?</u>
          </b>
        </p>
        <p>
          The Board of Control acts as an advisory committee for the Dean,
          providing recommendations after investigating the case and coming
          to a decision. If the Dean feels that the Board’s decision is not
          justified then he or she may choose to not follow it. However, it
          is only in very rare circumstances that the Dean will overrule a
          Board decision. Slightly more often he or she may ask the Board to
          reconsider its decision, though this too is rare.
        </p>

        <p id = 'Is it an Honor System violation to disobey Federal,
        State, or Local laws and Institute Rules?'>
          <b><u>
            Is it an Honor System violation to disobey Federal,
            State, or Local laws and Institute Rules?
          </u></b>
        </p>
        <p>
          Disobeying laws or Institute rules is not a priori a violation,
          but if the action results in placing other members of the
          community at an unfair disadvantage, it may become one. However,
          even though breaking a law or Institute rule might not fall within
          the Board’s jurisdiction, it is expected that students be cognizant
          of such rules and comport them selves accordingly. There are other
          bodies on campus that deal with various disciplinary problems that
          may not be Honor System violations, or that the Board of Control
          is not allowed to deal with. For example, a main purpose of the CRC
          is to work with cases concerning Institute policies, which are also
          possibly violations. Be reminded that the intent of legislation is
          often to protect people from unfair or dangerous actions in the first
          place, and Institute rules frequently uphold legal or
          insurance- related obligations. Students are still responsible to the
          appropriate bodies for the consequences of disobeying these laws or
          rules.
        </p>

        <p id = 'Why isn’t a person informed in advance as to the
        reasons why he or she is being summoned for questioning?'>
          <b><u>
            Why isn’t a person informed in advance as to the reasons why he or
            she is being summoned for questioning?
          </u></b>
        </p>
        <p>
          Defendant's are not informed of the contents of the report until the
          preliminary meeting. The purpose of this meeting is to share this
          report with the potential defendant and to get a general understanding
          of the situation from the defendant's perspective. You are not
          informed
          of the details in a report before this meeting for two reasons:
          confidentiality restrictions mean that we are careful not discuss the
          specific details of a case outside of an official meeting of the BoC,
          and we want to deter defendants from tampering with evidence or
          comparing and changing stories about the incident under investigation.
        </p>

        <p id = 'Why do cases take so long?'>
          <b><u>
            Why do cases take so long?
          </u></b>
        </p>
        <p>
          It's very difficult to coordinate schedules with defendants,
          witnesses,
          and the BoC representatives. In addition, at any given time the Board
          may have several cases awaiting completion. Because of this it can
          take
          several weeks to schedule a hearing with the Board. Please be patient
          with us, and feel free to contact us if you are worried about the
          case; we try to accommodate everyone as best we can.
        </p>
        <p>
          Once the Board is scheduled for a hearing it will take several hours
          for them to go over evidence and speak with the appropriate people. A
          typical case is done in one sitting of about 5-6 hours by the Board
          (any given defendant will be asked to join us for about 1-1.5 hours).
          Some cases may drag out over several days depending on circumstances,
          but usually the Board is able to reach a decision within a few hours
          of speaking with defendants.
        </p>
        <!--===============================================================-->
        <h2 id  = 'Defendant Questions'>Defendant Questions</h2>

        <p id = "I didn't do anything wrong! Why are you bothering me?">
          <b><u>I didn't do anything wrong! Why are you bothering me?</u></b>
        </p>
        <p>
          Sometimes innocent people get tangled up in cases, it is an
          unfortunate
          fact of life in any community that every violation has its victims.
          Sometimes nothing wrong happened at all, and it is just an unfortunate
          coincidence or a misunderstanding.
        </p>
        <p>
          Remain calm and try to be understanding -- we are careful to be
          open minded in every case until we have collected all appropriate
          evidence and spoken with all relevant people. We are meticulous with
          each case and only convict based on a high degree of physical
          evidence.
          Trust the system and be as clear and accurate with your testimony as
          possible, and everything is going to be fine.
        </p>
        <p>
          Don't be afraid to be inquisitive, ask what the report cited and
          make sure that you understand why you were implicated in the case;
          you have a right to know what the concern is so that you can respond
          to it accordingly.
        </p>

        <p id = 'What should I say at the BoC hearing?'>
          <b><u>What should I say at the BoC hearing?</u></b>
        </p>
        <p>
          The most important thing to do at a meeting with the BoC is to
          be honest and straightforward with the Board. As best as you can,
          try to remain calm and to be careful and clear with everything you
          say. The Board will have a lot of questions, and many of these
          questions may be details that you do not clearly remember; please
          answer these questions as best as you can, but also let us know if
          you do not remember -- it is perfectly understandable that you might
          not remember all of the details surrounding an incident that may
          have occurred several weeks in the past.
        </p>
        <p>
          If you ever feel that the Board is missing a detail, or that you did
          not get an opportunity to say something, speak up! And if you think of
          something shortly after you leave the meeting, contact the Chair. We
          want to make sure that you get every opportunity to for you to state
          your case.
        </p>
        <p>
          If you have committed an Honor Code violation, be clear about what you
          have done and express willingness to change and competency of how you
          will avoid future violations. If you have not committed an Honor Code
          violation, be clear about everything that happened from your
          perspective and try to be as accurate and detailed as possible.
        </p>

        <p id = "I'm really stressed about this case -- what should I do?">
          <b><u>I'm really stressed about this case -- what should I do?</u></b>
        </p>
        <p>
          Talk to someone and get help! The chair and secretary, a current or
          former BoC rep, the Deans, any member of the counseling center, an RA,
          or ask the chair to approve your silent witness (you can request more
          than one silent witness, and they can be any member of the Caltech
          community so long as they are approved by the Chair). You can talk
          to any of these people outside of a hearing.
        </p>
        <p>
          You may have your silent witness and a BoC rep of your choice to
          accompany you to any meeting with the Board. At any time during the
          hearing you may request an aside with any/all of these people or with
          any BoC rep who is present.
        </p>
        <p>
          Tell the chair for the case that you are stressed and he will try to
          accommodate you as much as possible, and will do what he can to make
          the process as quick and non-stressful as he can. Don't suffer in
          silence!
        </p>

        <p id = "Am I going to fail the class?">
          <b><u>Am I going to fail the class?</u></b>
        </p>
        <p>
          The relevant decision that would likely have an impact on your course
          grade is the Nullification Decision. This decision is meant to be as
          precise as possible and is not intended to be punitive.
        </p>
        <p>
          For example, if a person is convicted for plagiarizing a paragraph of
          a long paper, then the essay will be submitted for re-grading with the
          plagiarized paragraph removed. If a person is found to have copied
          certain problems from another student's exam, then credit for only
          these problems will be removed. The Board is careful to remove credit
          only for those things which we believe (and have sufficient evidence
          to support this belief) have been unfairly gained.
        </p>

        <p id = "Are you going to kick me out?">
          <b><u>Are you going to kick me out?</u></b>
        </p>
        <p>
          This is a tricky question to answer generally. You can consult
	  <a href="{{ url_for('committee_sites.FAQ', _anchor='What are the standards for putting someone on academic suspension') }}">
            "What are the standards for putting someone on academic suspension?"
          </a>
          for some general information. Please contact the BoC Chair, Secretary,
          or any current or former BoC representative if this information does
          not adequately address your concerns, or if you would like more
          specific advice. You can also construct hypothetical situations if
          you're bored and have nothing better to do and we can comment on
          those too.
        </p>

        <p id = "Will this go on my permanent record?">
          <b><u>Will this go on my permanent record?</u></b>
        </p>
        <p>
          If you are convicted, then there is a chance that a prior conviction
          will be revealed under the following circumstances. First -- in some
          Law School, Medical School, and Graduate School applications you are
          asked to sign a waiver for the Dean of Students to inform them of any
          incidents of academic misconduct. If you sign this release waiver,
          the Deans will inform them of your conviction and the associated
          details
          as much as the law requires. It is likely that the application will
          also ask you to discuss the circumstances surrounding any academic
          misconduct and to address any concerns that might arise. Second --
          if you are convicted of an Honor Code violation in the future, the BoC
          that is on that case will be informed of your prior conviction after
          they have reached a nullification decision and before they make the
          protection decision.
        </p>
        <p>
          If you are dismissed (i.e. no conviction results) there is no
          permanent record of the case.
        </p>

        <p id = "What records are kept of cases?">
          <b><u>What records are kept of cases?</u></b>
        </p>
        <p>
          In the case of a conviction, the records will contain the names of
          the defendants and the decisions of the Board, minutes of all
          proceedings connected with the case, and any physical evidence with
          bearing on the case. The minutes will also contain a summary of the
          ideas and concerns that were brought up during the investigation by
          Board members as well as testimonies of those interviewed. The records
          will only be consulted in the event of a future conviction of one of
          the defendants, or for purposes of preparing abstracts or computing
          statistics.
        </p>
        <p>
          If no conviction results, the records will contain the names of the
          defendants, minutes of all proceedings connected with the case, and
          any physical evidence with bearing on the case. The minutes will also
          contain record of the date of the case's dismissal. The records will
          only be consulted if the case is re-opened, if the current BoC Chair
          or
          Secretaries must verify that an old case was appropriately concluded,
          or for the purposes of computing statistics.
        </p>

        <p id = "Who finds out about these decisions?">
          <b><u>Who finds out about these decisions?</u></b>
        </p>
        <p>
          If you are convicted, then the appropriate TA or professor will be
          informed of this decision and the nullification decision so that
          they grade can be changed accordingly. If a course administrator
          reports a case that is dismissed they will be informed of this so
          that they can finalize the student's grades. They will typically NOT
          be informed of the protection decision unless they are specifically
          involved in it.
        </p>
        <p>
          If another person is directly involved in the protection decision then
          they will be informed as well. For example, if you are asked to meet
          with a member of the Hixon Writing Center to discuss avoiding
          plagiarism
          then that member will be informed of the decision. The Dean of
          Students
          reviews all of the Board's decisions, and cases involving leave
          receive
          an automatic procedural review through the Vice President for Student
          Affairs. Witnesses and reporters who are not class administrators will
          only be informed that, "the BoC has concluded the case."
        </p>
        <p>
          Once a case is concluded you are free to discuss your involvement in
          the case with whoever you wish. The Board, except for the people who
          must be informed of our decision, will maintain your confidentiality
          indefinitely.
        </p>
        <p>
          In the long-term, the Institute may be legally required in certain
          situations to disclose any record of academic misconduct. Please see
          <a href="{{ url_for('committee_sites.FAQ',
          _anchor='Will this go on my permanent record?')}}">"Will this go on my permanent record?"</a>
          for more details on that.
        </p>

        <p id = "As a defendant, who am I allowed to talk to?">
          <b><u>As a defendant, who am I allowed to talk to?</u></b>
        </p>
        <p>
          Before the preliminary meeting you may contact the chair and secretary
          for the case, a current or former BoC representative of your choice,
          the Deans, any member of the counseling center, and any
          Resident Associate (RA). You may also ask have these people to
          accompany you to the preliminary meeting. Please try to notify the
          chair before the meeting, but it's OK if you want to bring one of
          these people at the last minute.
        </p>
        <p>
          If the case proceeds to a full Board hearing, as soon as you are
          notified that it will be proceeding to a BoC hearing you can ask the
          chair to approve a silent witness (you can actually request more than
          one silent witness, and they can be any member of the Caltech
          community so long as they are approved by the chair).
        </p>
        <p>
          Outside of the hearing you may speak with the chair and secretary
          for the case, a current or former BoC representative of your choice,
          the Deans, any member of the counseling center, any Resident Associate
          (RA), and your silent witness(es). You may have your silent
          witness(es), a BoC rep of your choice, and an RA of your choice
          accompany you to any
          meeting with the Board. At any time during the hearing you may request
          an aside with any/all of the people who accompany you or with any
          current or former BoC representative (or House president) who is
          present at the hearing.
        </p>

        <!--================================================================-->
        <h2 id = "Reporting Questions">Reporting Questions</h2>

        <p id = "Who reports potential violations?">
          <b><u>Who reports potential violations?</u></b>
        </p>
        <p>
          The responsibility for reporting suspected Honor System violations
          falls
          to each member of the community. The intent here is not to create a
          police state; reporting a suspected violation is not in the same
          league
          as betrayal or treachery. When one reports a potential violation, the
          Board has a chance to investigate the matter completely and help
          remedy
          it accordingly. Just because a potential violation is reported doesn't
          mean there will be a convinction. If everyone who suspected a
          violation
          failed to report it the Honor System would fall apart.
        </p>
        <p>
          In practice most reports come from class administrators, professors or
          TAs, who identify a concern in one of the classes they are teaching.
          However any member of the Caltech community may report a concern to
          the Board, and all reports are treated with due diligence.
          Additionally,
          the BoC can guarantee that the identities of all reporters
          and witnesses
          will be held in strict confidence.
        </p>

        <p id ="Is it an Honor System offense to not report a suspected
        violation?">
          <b><u>
            Is it an Honor System offense to not report a suspected violation?
          </u></b>
        </p>
        <p>
          Strictly speaking, yes. The Honor System is only effective as long as
          the members of the community uphold it. However, cases where a Caltech
          community member fails to report a violation will need to be
          investigated
          for special circumstances. Covering up for someone else means that you
          are implicitly allowing another member of Caltech community to take
          unfair advantage of others.
        </p>
        <p>
          If you want to do the best thing for a friend who has committed and
          Honor
          Code violation, then bring them with you to the current BoC Chair,
          Secretaries, or to any current or former BoC representive so that they
          can turn themselves in; solving a minor problem now gives us a
          chance to
          advise them on how to avoid future violations and can prevent
          potentially
          more serious consequences further down the road. If you want to speak
          confidentiality about a BoC-related concern, please consult with the
          current BoC Chair, Secretaries, or with any current or former BoC
          representative; in my experience BoC reps can be very helpful and
          understanding, and we will always strictly maintain your
          confidentiality.
        </p>
        <p>
          The <a href='#'>Undergrad Honor Code Handbook</a> has more information.
        </p>

        <p id = "How do I report a potential violation?">
          <b><u>
            How do I report a potential violation?
          </u></b>
        </p>
        <p>
          To report a potential violation of the Honor System, you can:
	</p>
	<ul style="font-size:21px;font-weight:200;margin-bottom:15px;">
        <li>Email boc at caltech.edu</li>
        <li>Talk to the current Chair or Secretaries</li>
        <li>Talk to any current BoC rep</li>
        <li>Contact the Dean of Students</li>
	</ul>
	<p>
          Typically we are contacted by via email with the course and the
          general
          concern. Then we arrange a meeting with the reporter, the BoC chair,
          and one of the secretaries to go over the details of the concern.
        </p>

        <p id = "When should I report a concern to the Board?">
          <b><u>
            When should I report a concern to the Board?
          </u></b>
        </p>
        <p>
          Whenever you suspect that one or several undergraduates have violated
          the Honor Code, and have some amount of evidence to support this
          concern, please notify the current BoC Chair and Secretaries. See
          <a href='{{ url_for('committee_sites.reporters') }}'>Information for Reporters </a>
          and
          <a href='#How do I report a potential violation?'>
            "How do I report a potential violation?" </a>
          for more details. If you are in doubt about whether the report is
          appropriate for a BoC hearing or whether you have sufficient evidence,
          please err on the side of notifying the BoC about your concern.
        </p>

        <p id = "How much will I be involved in the case after I give a report?"
        >
          <b><u>
            How much will I be involved in the case after I give a report?
          </u></b>
        </p>
        <p>
          Very little, the Board operates under a pretty big shroud of secrecy.
          For most people this is a relief, for some it is very frustrating.
          In some cases we may ask you for additional or clarifying information
          regarding the report you give or details about the incident. You will
          likely not need to meet with the Board directly (unless it is
          necessary
          for some reason), and you will be notified when the case has been
          concluded. If you are a class administrator, professor or TA, for
          the course concerned you will be notified of the Board's conviction
          and nullification decision.
        </p>
        <p>
          Contact the current BoC Chair and Secretaries and they will update
          you (as much as they can) on the status of the case.
        </p>

        <p id = 'What if it is something "really minor,"
        should I still report it?'>
          <b><u>
            What if it is something "really minor," should I still report it?
          </u></b>
        </p>
        <p>
          The BoC's official position is all cases should be run through the
          system to ensure fairness of enforcement. In practice, especially
          for the most minor cases, people have reservations about making
          too big an issue out of a misunderstanding, and in these kinds of
          cases I advise people to use an evidence-based measure for reporting
          concerns (whether it is a hunch or something with concrete evidence)
          and to err on the side of talking with the BoC chair to see if the
          evidence/concern merits a BoC case. Even if it is something little,
          catching the problem now and making sure it is dealt with properly
          can prevent something much more serious from happening in the future.
        </p>

        <p id = "Should I tell the professor about this too?">
          <b><u>
            Should I tell the professor about this too?
          </u></b>
        </p>
        <p>
          The prevailing view these days is that professors have a right know
          what
          is going on in their classes. Information about a report should not be
          shared with anyone other than a class administrator (professor or TA),
          the BoC Chair, Secretary, or any current or former BoC representative.
        </p>
        <p>
          If you are a class administrator for this course feel free to
          consult with other class administrators as necessary.
        </p>
        <p>
          If you are not a class administrator (a student or someone else)
          you may speak with the professor about your concerns as well as
          reporting it to the BoC Chair. Please let us know if you have met
          with the professor, since we will likely want to meet with them as
          well, especially if you have not done so.
        </p>

        <!--================================================================-->
        <h2 id = "Witness Questions">Witness Questions</h2>

        <p id = "Why are you talking to me?">
          <b><u>
            Why are you talking to me?
          </u></b>
        </p>
        <p>
          There are several different ways to become a witness to a BoC case.
          You might accompany a friend as a 'silent witness,' you might have
          seen the incident or know relevant information about a defendant we
          are investigating, or you might have been involved directly or
          indirectly in the situation under investigation. If you are a
          'silent witness' we will not be asking you any questions, so you're
          role is to prove support and advice for the defendant who you are
          accompanying; if you are concerned for the defendant or about any
          element of the investigation please consult with the chair or
          secretary of the case as soon as possible.
        </p>
        <p>
          If you are called before the Board as a witness for information or
          details about an event, we ask you very general questions surrounding
          the event. As a witness, you will be given little specific information
          about a case beyond what you may already know. We will ask you to give
          details surrounding a general event and ask you to describe them in as
          much detail as possible.
        </p>
        <p>
          Unfortunately as a witness you might end up in the dark much of the
          time; it can be frustrating when you are asked questions without
          knowing precisely the issues at hand. We will be trying get the
          necessary information from you while holding to the strict
          requirements of confidentiality in BoC cases. After the case is
          done you are asked to keep everything about the case -- including
          even its existence -- completely secret. More details on
          confidentiality can be found in the
          answer to <a href="#What confidentiality must I keep?">
            "What confidentiality must I keep?"</a>
        </p>

        <p id = "Why is my role in the case?">
          <b><u>
            Why is my role in the case?
          </u></b>
        </p>
        <p>
          If you are a 'silent witness' you're role is to provide support and
          advice to the defendant who you are accompanying; if any concerns
          arise about the defendant or the case please consult with the chair
          and secretary as soon as possible.
        </p>
        <p>
          If you are a witness asked to speak with the Board, we are talking to
          you because we are seeking to corroborate some information or a story
          that has been related to us by another witness or a defendant, or we
          need some important details from you for some other reason. We do not
          ask to speak with witnesses lightly, and we appreciate whatever time
          you are willing to set aside to assist us in the investigation. It is
          important that you be as honest and accurate as possible, and state
          whether you remember something clearly, vaguely, or not at all. While
          the case almost certainly does not depend on your word alone
          (physical evidence is the number one factor), we do feel that your
          input will be important to ensure that this case is decided as
          accurately and fairly as possible.
        </p>

        <p id = "What kinds of things are you going to ask me?">
          <b><u>
            What kinds of things are you going to ask me?
          </u></b>
        </p>
        <p>
          This only applies if you are asked to speak with the Board; if you
          are a silent witness you will typically not be asked any questions
          and will not participate directly in the case discussion.
        </p>
        <p>
          Because of confidentiality concerns, we will reveal as little about
          the details of the case as possible. You will be asked general
          questions and may be asked to describe, for example, the events of
          a certain day and when you and friends began working on homework sets.
          Though you may glean some idea of what the case involves, the Board is
          careful never to reveal any information directly and do our best to
          keep the questions sufficiently general to prevent you from knowing
          the more sensitive details. For example, you might be asked if anyone
          had turned in a set for you in the last two weeks, who turned it in
          for you, and at what times they collected your homework.
        </p>

        <p id = "I don't want to get my friend BoC'd...
        is it an Honor Code violation if I refuse to speak with you?">
          <b><u>
            I don't want to get my friend BoC'd...
            is it an Honor Code violation if I refuse to speak with you?
          </u></b>
        </p>
        <p>
          Strictly speaking, yes. We need to clarify as much information as
          possible about the case to ensure that our decision is accurate,
          please understand that your testimony (whether incriminating or not)
          is probably only meant to ensure and corroborate already-existing
          physical evidence. If you are worried about accidentally saying
          something wrong and implicating someone wrongly, please be assured
          that it is always perfectly fine to say that you do not remember
          clearly enough; cases always come down to the physical evidence, so
          you are not going to be carrying the weight of the entire case on your
          testimony. That being said, the BoC would not have asked to speak with
          you if we did not think your testimony was relevant and important. A
          lot can ride on a single BoC case, and while you may be uncomfortable
          testifying before the BoC, you can do a lot to help ensure that the
          case is resolved as fairly as possible.
        </p>
        <p>
          Of course, being a witness to an Honor Code violation can be a very
          stressful and trying time as a witnesses. If you feel uncomfortable
          talking with the BoC about it directly, please contact the chair or
          secretary or speak with the Dean of Students. We can and will be as
          accommodating as possible while still trying to get the information
          we need. We hold the identities of BoC witnesses strictly
          confidential.
        </p>

        <p id = "How important is my testimony?">
          <b><u>
            How important is my testimony?
          </u></b>
        </p>
        <p>
          We are talking to you because we are seeking to corroborate some
          information or a story that has been related to us by another
          witness or a defendant, or we need some important details from you for
          some other reason. We do not ask to speak with witnesses lightly, and
          we appreciate whatever time you are willing to set aside to assist us
          in the investigation. While the case almost certainly does not depend
          on your word alone (physical evidence is the number one factor), we do
          feel that your input will be important to ensure that this case is
          decided as accurately and fairly as possible.
        </p>

        <p id = "Will my identity be revealed to the defendant?">
          <b><u>
            Will my identity be revealed to the defendant?
          </u></b>
        </p>
        <p>
          No. They might know already who would be called as a witness, but
          any guess that they have about a witnesses identity will not be
          confirmed or denied by the BoC.
        </p>
        <p>
          If you say anything that conflicts with a defendant's story or
          somehow implicates them in a new way, we will need to inform them
          that we "have spoken with a witness" about the event and will discuss
          the concern with them in this manner, without revealing your identity.
        </p>

        <p id = "As a witness, who am I allowed to talk to?">
          <b><u>
            As a witness, who am I allowed to talk to?
          </u></b>
        </p>
        <p>
          You may speak with the chair or secretary for the case, the Deans,
          and any member of the counseling center.
        </p>
        <p>
          If you wish to speak with another person about the case for some
          reason, you must first seek permission from the chair and secretary
          or the Deans. Permission to speak with someone else about the details
          of a case is not given without good reason. Please see
          <a href="#What confidentiality must I keep?">
            "What confidentiality must I keep?"</a>
          for more details on witness confidentiality.
        </p>

        <p id  = "What confidentiality must I keep?">
          <b><u>
            What confidentiality must I keep?
          </u></b>
        </p>
        <p>
          After the case is done you are asked to keep everything about the
          case -- including its existence, the people involved, the concern,
          the time it was held, the Board's meeting location, etcetera --
          completely secret.
        </p>
        <p>
          If the defendant wishes to publicly discuss the issues involved in the
          case, then witnesses in the case are no longer bound to secrecy
          regarding this defendant. Barring this, witnesses must maintain
          absolute secrecy regarding any defendants who have not chosen to
          discuss the case publicly. You are also asked to keep the meeting
          location(s) of the Board secret to protect the confidentiality of
          future defendants and witnesses.
        </p>

        <p><i><b>
        The preceding FAQ is an ongoing work. If you have any questions about
        the information above or any suggestions for the improvement of this
        FAQ, please contact the BoC Chair.
        </b></i></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

