{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div id = 'BoC'>
    <div class="col-md-24">
      <div class="jumbotron">
        <div>
          <h1 class="text-center">BoC Reps</h1>
          <h2>Board of Control</h2>
          <p><i>
          "No member of the Caltech community shall take unfair advantage of any
          other member of the Caltech community!"
          </i></p>
          <p>
          The Board of Control (BoC) is a committee charged with hearing cases of
          potential Honor System violations among undergraduates.
          The committee membership is entirely undergraduate.
          Decisions are reviewed by the Dean of Students.
          </p>
          <p>
          Cases are organized by the BoC Chair and BoC Secretaries.
          Each case is heard and decided by a board of seven BoC
          representatives selected from the pool of current BoC representatives.
          Former BoC representatives and current House presidents may sit be asked
          to sit on cases if necessary.
          </p>
        </div>
        <div id = 'Gen_info'>
	  <h2>GENERAL INFORMATION</h2>

          <p>
            For general information on BoC cases you can consult the Undergrad Honor
            System Handbook (see the Links Section).
            Much of the information below is drawn/summarized from this handbook.
          </p>

	  <h2><small>How Cases Work</small></h2>

          <p>
            Cases begin with a report of a potential Honor System violation.
            After receiving the report the chair and secretary for the case will
            meet separately with defendants and other relevant people in preliminary
            meeting to share the reported concern and to discuss general
            circumstances around the incident under investigation.
          </p>
          <p>
            At this point the chair and secretary may dismiss the case without
            proceeding to a full hearing. If there is a significant lack of
            evidence or if it is abundantly clear that a defendant has not
            committed an Honor Code violation then the chair and secretary may
            dismiss the case without a full Board hearing.
            In the case of any ambiguity the chair and secretary will err on
            the side of proceeding to a full Board hearing.
            Please understand that the decision to proceed to a
            full Board hearing does NOT imply your guilt and does NOT mean
            you will be convicted. Plenty of cases get dismissed before the
            full Board.
          </p>
          <p>
            If the case goes to a full Board hearing, sometime in the next couple of
            weeks the chair and secretary will organize an appropriate meeting time
            with the defendant(s) and witnesses. The defendant is asked to submit
            any dismissal requests (people that he knows well or feels would be
            unfairly biased); after the dismissals are processed a board of seven
            representatives is assembled. At this meeting the BoC will review all
            the relevant evidence and speak with the defendants and any relevant
            witnesses. Defendants will be shown all the concerns of the Board and
            will be given reasonable opportunity to respond. The chair and
            secretary who collected the report and ran the preliminary
            investigation will not have a vote on the Board.
          </p>
          <p>
            After the Board has reviewed all relevant evidence and spoken with all
            relevant people, they will deliberate until a decision is reached.
          </p>

	  <h2><small>Decisions</small></h2>

          <p>
            The Board makes up to three decisions: a conviction decision,
            a nullification decision, and a protection decision.
            (The last two, nullification and protection,
            are only made if the defendant is convicted.)
            <i>
              All cases are unique and all decisions are made on
              a case-by-case basis; the following is merely meant
              to give a general impression of how the Board reaches
              its decisions, and is by no means a strict criterion
              by which cases are decided.
            </i>
          </p>

          <p>
            <b>Conviction:</b> Whether or not an Honor Code you have committed an Honor Code
            violation. The standards for conviction are somewhat analogous to the
            "preponderance of evidence" standard used in US civil courts.
            This decision is primarily evidence-based; if the Board believes
            there is not enough evidence then you will be dismissed. A 6/7 vote
            is required for conviction and a 4/7 vote is sufficient for dismissal.
          </p>

          <p>
            <b>Nullification:</b> How to remove the unfair advantage gained.
            This decision is meant to be as precise as possible.
            For example, if a person is convicted for plagiarizing a
            paragraph of a long paper, then the essay will be submitted for
            re-grading with the plagiarized paragraph removed. If a person
            is found to have copied certain problems from another student's
            exam, then credit for only these problems will be removed. The
            Board is careful to remove credit only for those things which we
            believe (and have evidence to support this belief) have been
            unfairly gained. Thus the intent is that a student will be given
            credit for all portions of the assignment that were done fairly.
            A 6/7 vote is required for the nullification decision.
          </p>

          <p>
            <b>Protection:</b> How to protect the Caltech community from future violations.
            At this point the Board is informed of any previous Honor System
            violations committed by the defendant. This decision is very much
            dependent on circumstances. Being straightforward and honest with
            the Board, whether or not you have any prior violations, and your
            understanding of and respect for the Honor Code are all important
            for this decision. This decision requires a 6/7 vote for approval.
          </p>
          <p>
            In cases where a defendant has been straightforward with the
            Board and has no prior conviction, the BoC will make an
            education-focused protection decision. Educational decisions
            may be (for example) a reflective essay, a meeting with
            representatives of the Board to discuss your case and how to
            avoid future Honor Code violations, or a meeting to discuss
            how to avoid plagiarism.
          </p>
          <p>
            In cases where a defendant has been dishonest or who has one or
            multiple prior convictions, the BoC will consider stronger
            measures. A defendant may be given a unit cap for future terms
            of enrollment, or may be required to meet periodically with BoC
            reps to discuss the status of their work. In the more extreme
            cases, if the Board feels that you pose an immediate threat to
            the community or that the violations will continue unless some
            more serious action is taken, you may be placed on academic
            suspension. Defendants who have been put on leave are eligible
            to apply for reinstatement after a set number of terms has
            passed. Expulsion is academic suspension without the
            possibility of future reinstatement. Expulsion decisions are
            extremely rare, and are reserved for defendants who cannot be
            trusted in the community at any point in the future.
          </p>
          <p>
            If you are currently involved in a BoC case and/or want
            more specific information about case proceedings, please
            feel free to consult any current or former BoC representative.
          </p>
        </div>

        <div id = 'links'>
          <h2>USEFUL LINKS</h2>
          <li><a href="{{ url_for('committee_sites.bylaws') }}">BoC Bylaws</a></li>
          <li><a href="http://writing.caltech.edu/plagiarism">
            Plagiarism and Proper Citation
          </a></li>
          <li><a href="{{ url_for('committee_sites.defendants') }}">
            Information for Defendants
          </a></li>
          <li><a href="{{ url_for('committee_sites.reporters') }}">
            Information for Reporters
          </a></li>
          <li><a href="{{ url_for('committee_sites.witnesses') }}">
            Information for Witnesses
          </a></li>
          <li><a href="{{ url_for('committee_sites.FAQ') }}">
            Frequently Asked Questions
          </a></li>
        </div>

        <div id = 'representatives'>
	  <table class = "table">
            <h2>Current Members</h2>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Email</th>
            </tr>
            <!-- Creating table for list of people on boc. -->
            {% for name, pos, email in BoC %}
            <tr>
                <td>{{ member }}</td>
                <td>{{ pos }}</td>
                <td>{{ email }}</td>
            </tr>
            {% endfor %}
	  </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}

