{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div class="col-md-24">
    <div class="jumbotron">
      <div>
        <h1 class="text-center">Information for Defendants in BoC Cases</h1>
      </div>
      <div id = 'list'>
        <p>
          This is a guide with advice on how to respond to a BoC concern
          against you and what to expect throughout the case process.
          You may also find information in our
          <a href="{{ url_for('committee_sites.FAQ') }}">Frequently Asked Questions</a>
          useful.
        </p>

        <p>
          1: <b> Get advice from a rep. </b> Choose a current or former BoC rep who
          can serve as your assistant representative, or ask the chair to
          select one for you. Try to pick an experienced representative --
          someone who has been a BoC rep for a while -- since they will
          likely know more about how cases are conducted and what you can
          expect throughout the process. While this is (of course) optional,
          I strongly encourage defendants to take advantage of this resource;
          your assistant representative will maintain your confidentiality
          and can be very helpful and supportive. Have them accompany you
          to the preliminary meeting.
        </p>
        <p>
          2: <b> Arrange the preliminary meeting. </b> In your first contact with
          the BoC (when you wisely chose to look at this page...)
          they will have asked you for a schedule to arrange a preliminary
          meeting with the chair and secretary for the case. Respond to the
          secretary and chair and let them know your schedule. Ask them to
          arrange the meeting as soon as possible and let them know who
          you have chosen as your assistant representative.
        </p>

        <p>
          3: <b> Know the concern.</b> Learn what the concern is at the
          preliminary meeting. Ask the chair to tell you as specifically
          as possible the concerns for which they are being investigated
          by the BoC. If you do not have a copy of your assignment ask
          for a copy... you may not be given a copy depending on the
          circumstances of the case, but it never hurts to ask and most
          of the time copies are provided. If you do not understand the
          reported concern, ask for clarification from the chair or
          secretary investigating the case.
        </p>

        <p>
          4:  <b> Respond appropriately and honestly. </b>  Don't get excessively
          angry or upset, try to remain calm and respond to the concern
          as reasonably as possible. The preliminary meeting is not going
          to decide your innocence or guilt, so do not be too stressed
          about saying everything 'perfectly' at the meeting. Just be
          honest and state the facts as accurately as possible, be
          inquisitive about the nature of the report, and try to offer
          any information that you think will help clarify what happened.
          Always be as straightforward as possible -- don't "sugar coat"
          the things you are saying. If you do not remember something
          clearly, please say so.
        </p>

        <p>
          5:  <b>  Know what to expect.</b>  Ask the chair at the preliminary
          meeting when you can expect a decision from them of whether the case
          will be brought to a full board hearing. Ask them what you might
          expect at a BoC hearing for this case and how you can best
          prepare for it. Try to understand what types of questions the
          Board might ask and what information you might be asked to recall.
        </p>

        <p>
          6: <b> Dismissal by chair and secretary?  </b> If you're case gets
          dismissed at this point, congratulations! Go have a popsicle.
          If not, don't fret, plenty of cases get dismissed before the
          full Board.
        </p>

        <p>
          7: <b> The waiting game. </b>  This is where most of the time in cases
          will pass. Sometimes cases can be backlogged for several weeks.
          Hopefully this does not happen to you, and if it does I am sorry.
          At this point the chair and secretary will ask for a list of
           dismissals and for your availability in the next couple of
           weeks. Use this time to appoint your silent witness, someone
           who will give you advice and support throughout the process.
           Consult with your assistant representative to make sure you
           understand what to expect at the BoC hearing. Consult the
           FAQ for more advice, and always feel free to contact the chair
           and secretary, the Deans, any RA, or any member of the counseling
           center for more help.
        </p>

        <p>
          8: <b> Interview with the BoC. </b>  Bring your assistant representative
          and your silent witness with you to the meeting; you may also
          bring an RA of your choice. As in step 4, be honest and
          straightforward about what happened. Provide as much detail as
          you can remember, and tell the Board when you cannot recall
          something clearly. Try to offer any additional information
          that might help clarify what happened, and make sure that you
          get a chance to state your points as completely as possible.
          If you want a short break during the meeting to consult with
          your assistant representative, to go to the bathroom, or if
          you just need a break, feel free to request the chair for
          this break at any time during the interview. If you feel like
          you haven't gotten the chance to say everything, speak up!
        </p>
        <p>
          9: <b> Sit tight.</b>  Depending on the specific circumstances of the
          case, the Board may have to talk to you again or will meet
          again on a subsequent day to complete the case. When the
          interviews are done, the BoC will deliberate privately until
          a decision is reached. You will be notified of when
          (approximately) to expect a decision and will be kept updated
          if there are significant delays. If you want an update of
          how much longer the deliberation will last, contact the chair
          or secretary for the case and ask them.
        </p>

        <p>
          10: <b> Decision time.</b> The Board will ask you to come back in to
          hear the decision. The BoC is obligated to present its reasoning
          for all of its decisions to the defendant; if you do not
          understand the decision or the reasoning behind it, please ask.
        </p>

        <p>
          11: <b> Meeting with the Deans.</b> If you are convicted of an Honor Code
          violation you will need to arrange a thirty minute meeting with
          both Deans to discuss the case. The chair and secretary will meet
          with the Deans as soon as possible to inform them of the decision
          and the details of the case. After this meeting the chair and
          secretary will contact you to arrange your meeting with the Deans.
          The Deans will want to know how things went, how you felt about
          the process, how you were treated, how well informed you were
          throughout the process, and how you feel about the decision.
        </p>

        <p>
          12:<b> The appeals process.</b> The BoC's decisions are ultimately
          recommendations to the Deans. If you wish to appeal any part
          of our decision, please contact the Deans within ten days.
          A good time to notify them of your intent to appeal is at your
          meeting with them (see step 11). If your decision involves
          academic suspension, there will be an automatic appeal through
          the Vice President for Student Affairs (in addition to any
          appeal you might make to the Deans).
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

