{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div class="col-md-24">
    <div class="jumbotron">
      <h1 class="text-center">BoC Reps</h1>
      {% if permission %}
      <a href="{{ url_for('editor.editor', input_text=BoC_reporters, title=BoC_reporters) }}">edit this page</a>
      {% else %}
      {% endif %}
      <div id = 'title'>
        <h2>Reporting Concerns to the BoC</h2>
      </div>
      <div id = 'content'>
        <p>
          This is a guide with advice on how to respond to a BoC concern against
          you and what to expect throughout the case process. You may also find
          information in our
	  <a href="{{ url_for('committee_sites.FAQ')}}">
	Frequently Asked Questions useful.</a>
        </p>

        <h3>Guide for TAs and Professors</h3>
        <p>
          1: <b>Contact the BoC.</b> Email the BoC Chair and Secretaries
          (boc at caltech.edu) and tell them that you would like to
          report a potential violation to the BoC. The BoC will respond
          to you to arrange a short meeting to discuss the concern and
          receive copies of the evidence. See
          <a href="{{ url_for('committee_sites.FAQ', _anchor='How do I report a potential violation?') }}">
		  "How do I report a potential violation?"</a>
          for more information.
        </p>
        <p>
          2: <b>Copy the evidence.</b> We recommend that you make two copies of
          all of the relevant the evidence: one for your own records and one for
          the BoC.
        </p>
        <p>
          3: <b>Meet with the BoC.</b> Meet with the BoC Chair and one of the
          Secretaries to discuss the concerns. They will want to collect a copy
          of the assignment(s) in question and the relevant evidence. They will
          also ask general questions about the class and more specific questions
          about your suspicions.
        </p>
        <p>
          4: <b>Returning the assignment.</b> Temporarily grade the assignment
          as if there were no concern, credit may be removed later through the
          BoC's nullification decision.
        </p>
        <p>
          5: <b>During the case.</b> You may be contacted at some point for
          clarification of some issue are some more information about the
          suspected violation. Otherwise your involvement in the case will
          be very limited. Contact the BoC Chair and Secretaries if you
          have any questions or if you want an update on the status of a case.
        </p>
        <p>
          6: <b>Decision.</b> After the case is concluded (you'll probably
          hear back a few weeks later depending on how busy we are) you
          will be informed of the conviction and nullification decisions.
          Please remove credit as indicated and contact the BoC Chair and
          Secretaries or the Deans if you have any questions, comments,
          concerns, or want any clarification of the BoC's decision
        </p>

        <h3>Guide for Students</h3>
        <p>
          1: <b>Contact the BoC.</b> Email the BoC Chair and Secretaries
          (boc@caltech.edu) and tell them that you would like to report a
          potential violation to the BoC. The BoC will respond to you to
          arrange a short meeting to discuss the concern and receive copies of
          the evidence. See "How do I report a potential violation?" for more
          information.
        </p>
        <p>
          2: <b>Retain any evidence.</b> We will collect any evidence you have and we
          will handle making copies for the defendants.
        </p>
        <p>
          3: <b>Meet with the BoC.</b> Meet with the BoC Chair and one of
          the Secretaries to discuss the concerns. They will want to collect
          whatever relevant evidence you have. They will also ask more specific
          questions about your suspicions.
        </p>
        <p>
          4: <b>During the case.</b> You may be contacted at some point for
          clarification of some issue are some more information about the
          suspected violation. Otherwise your involvement in the case will
          be very limited. Contact the BoC Chair and Secretaries if you have
          any questions or if you want an update on the status of a case.
        </p>
        <p>
          5: <b>Decision.</b> After the case is concluded (you'll probably
          hear back a few weeks later depending on how busy we are) you will
          be informed that "the case has been concluded." You will not be told
          the details of the case or the decisions of the BoC. Contact the chair
          and secretary for the case or the Deans if you have any questions,
          comments, concerns, or want any clarifications.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
