{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div class="col-md-24">
    <div class="jumbotron">
      <div id = 'content'>
        <h1 class="text-center">BoC Bylaws</h1>
        {% if permission %}
        <a href="{{ url_for('editor.editor', input_text='BoC_Bylaws', title='BoC_Bylaws') }}">edit this page</a>
        {% else %}
        {% endif %}
        <h2>BOARD OF CONTROL</h2>
        <p>
          SECTION 1. Purpose and Duties. The Board of Control (BoC) shall review
          all cases of alleged academic violations of the Honor Code and shall
          make recommendations to the Dean of Students for action in those
          cases in which a violation is found to have been committed.
        </p>
        <p>
          SECTION 2. Membership. The activities of the BoC will be led and
          reviewed by the BoC Chair. The two BoC Secretaries shall assist
          the Chairman in investigation and case organization. The voting
          members of the Board shall consist of: two members elected from
          each of the undergraduate houses, up to five at-large members
          appointed by the BoC, and one member elected by students outside
          of the Houses.
        </p>
        <div class = 'col-xs-offset-1'>
          <p>
            (a) All BoC members shall serve a term of one year. The BoC
            representatives shall be selected as follows:
          </p>
          <div class = 'col-xs-offset-1'>
            <p>
              (i) House representatives shall be elected each year by vote
              of the members of that House. Voting shall be open to all
              registered undergraduates who are members of the House and
              who have not yet voted in another election for BoC representative.
              A candidate may run in any House, but students may only vote
              in one House. All representatives must be elected before the
              eighth week of second term.
            </p>
            <p>
              (ii) At-large representatives shall be appointed each year
              by the newly elected Board members before the end of second term.
            </p>
            <p>
              (iii) The election for the off-campus representative shall be
              run by the Review Committee before the beginning of third term.
              Elections will be announced and conducted as specified in
              rticle VII. Registered undergraduates who did not vote in an
              election for House representative may vote for the off-campus
              representative.
            </p>
          </div>
          <p>
            (b) If a BoC member fails to register or takes a leave of absence
            at any time during his term of office, said member shall retire
            from that office immediately. Only registered undergraduates
            may serve on a case.
          </p>
          <p>
            (c) If a BoC member retires before his term of office expires,
            he shall be replaced in the manner of his selection. The
            new representative shall serve for the remainder of the term.
          </p>
          <p>
            (d) All BoC representatives must attend a formal training before
            they may serve on a case. Training shall be conducted by the
            Chairman and Secretaries with assistance from the Dean of
            Students and former Board representatives. Training should occur
            at the end of second term or the beginning of third term
            such that new representatives can begin hearing cases promptly.
            The training shall be open to any member of the Caltech
            community at the discretion of the Chairman and the Dean.
          </p>
        </div>
        <p>
          SECTION 3. Rules of Procedure.
        </p>
        <div class = 'col-xs-offset-1'>
          <p>
            (a) Reporting. Violations of the Honor System may be brought to
            the attention of the Board by any member of the Caltech community.
          </p>
          <p>
            (b) Preliminary Investigation. When a suspected violation of
            the Honor System is reported, two members of the Board will
            conduct a preliminary investigation. The Chairman and
            one of the Secretaries will conduct this investigation
            unless one or both of them must excuse themselves, in which
            case the Chairman shall appoint suitable replacements. The
            preliminary investigation will be conducted as follows:
          </p>
          <div class = 'col-xs-offset-1'>
            <p>
              (i) The investigators will require any persons involved
              to discuss their knowledge of information concerning the
              case and will receive copies of all relevant evidence.
            </p>
            <p>
              (ii) The investigators will determine whether or not the
              case will be brought to a hearing of the full Board or
              should be dismissed.
            </p>
            <p>
              (iii) All potential defendants will be informed of all
              potential violations cited in the initial report. In
              addition, they will be informed of any current or former
              Board members or House presidents who may hear the case.
            </p>
            <p>
              (iv) The defendant may select an assistant representative
              who may be present at the preliminary meeting and any
              future meetings. The defendant may consult this
              representative for explanations of Board proceedings
              and for information regarding the resources available to
              him. The assistant representative must be selected from a
              list of current or former representatives or House
              presidents and approved by the Chairman.
            </p>
          </div>
          <p>
            (c) Hearing.
          </p>
          <div class = 'col-xs-offset-1'>
            <p>
              (i) If a defendant feels that particular Board members are
              unable to render an unbiased judgment, a request may be made
              to the Chairman or the Dean of Students before the start of
              the full Board hearing that those members not sit on the case.
            </p>
            <p>
              (ii) If a Board member feels unable to render an unbiased
              judgment in a particular case, that member should disqualify
              himself. Furthermore, no member of the Board shall sit in
              judgment of his own case. The preliminary investigators shall
              not have a vote on the Board.
            </p>
            <p>
              (iii) No Board representative shall conduct any
              investigation outside a hearing except at the instruction
              of the Chairman.
            </p>
            <p>
              (iv) Any person appearing before the Board at a hearing will
              be informed of the reasons for their presence.
            </p>
            <p>
              (v) At any point before or during the hearing the defendant
              may select a silent witness with whom he may speak about
              his case. The silent witness may accompany him to any
              future meetings with the BoC. This silent witness must
              be a member of the Caltech community and approved by the
              Chairman. Additional silent witnesses may be granted only
              at the discretion of the Chair and the Dean of Students.
            </p>
            <p>
              (vi) A defendant may be accompanied by an assistant
              representative and a silent witness. During the hearing,
              the defendant may request an aside with the assistant
              representative and may speak with him at any time for
              clarification or explanation. All those accompanying
              him to a BoC hearing must not disrupt or interfere with
              the proceedings of the Board in any way, and shall be
              immediately removed at the Chair's discretion if such
              disruption occurs.
            </p>
            <p>
              (vii) Seven (7) voting members of the Board shall
              constitute a quorum. If needed to maintain a full quorum of
              the Board, the Board shall reserve the right to ask a past
              BoC representative or a current House president to serve on
              a case, contingent on a three-fourths (3/4) vote of the
              remaining voting Board members. All those serving on
              a case are bound to secrecy.
            </p>
            <p>
              (viii) In case of absence or disability of the Chairman,
              the Board shall select a temporary chairman from among their
              number who, while acting as Chairman, shall not have a vote.
              In the case of absence of the Secretary, the Chairman shall
              appoint a temporary Secretary, who shall not have a vote.
            </p>
            <p>
              (ix) A defendant attending a hearing of the full Board may
              ask the Chairman at any time for permission to hold a short,
              private recess with a Board member of the defendant's choice.
              Any new information pertaining to the case revealed in this
              conference will be shared with the full Board. The member
              shall remain able to vote on the case.
            </p>
            <p>
              (x) OATH. The oath taken by all persons appearing before the
              Board of Control shall be: "I do solemnly swear (or affirm) to tell the truth, the whole truth, and nothing but the truth."
            </p>
        </div>
        <p>
          (d) Decisions.
        </p>
        <div class = 'col-xs-offset-1'>
          <p>
            (i) When a case is brought to a hearing of the full Board,
            the Board will make three decisions:
          </p>
          <div class = 'col-xs-offset-1'>
            <p>
              1. Conviction: Whether or not an Honor System violation
              has been committed.
            </p>
            <p>
              2. Nullification: How to nullify the advantage that has
              been taken.
            </p>
            <p>
              3. Protection: How to protect the Caltech Community from
              future violations.
            </p>
          </div>
            <p>
              (ii) Before the Board votes to convict, the defendant will be
              shown all physical evidence pertaining to his case and given a
              reasonable opportunity to respond.
            </p>
            <p>
              (iii) Before a vote for conviction or dismissal, all aspects of
              the case must be thoroughly considered. A three-fourths (3/4)
              vote of voting members of the Board present shall be necessary
              for any decision of the Board except case dismissal or the
              tabling of a case, which shall both require a simple majority.
            </p>
            <p>
              (iv) No decision of a previous Board shall be revoked, unless
              the Board is convinced that new evidence or changed conditions
              change the status of the original case.
            </p>
            <p>
              (v) In cases resulting in conviction, the Chairman and
              Secretary must make clear to the defendant the Board's basis
              for its decisions, including but not limited to the main line
              of reasoning that led to conviction.
            </p>
        </div>
        <p>
          (e) Confidentiality.
        </p>
        <div class = 'col-xs-offset-1'>
          <p>
            (i) All those appearing before the Board, and the Board
            itself, are expected to maintain absolute secrecy regarding
            case meetings of the BoC. Divulgence of any of the proceedings
            shall be considered a violation of the Honor System.
          </p>
          <p>
            (ii) Should the defendant wish to discuss the issues involved
            in his case with others, after his case has been completed,
            he may do so at any time, provided no portion of the case
            that concerns other defendants is made public without the
            permission of those persons. However, once the defendant
            initiates discussion, witnesses in the case are no longer
            bound to secrecy.
          </p>
          <p>
            (iii) If, in a particular case, the Board shall deem it wise
            to make known the proceedings of the Board, the Chairman shall
            be empowered to, upon resolution of the Board, to convey such
            information without disclosing the names or identities of any
            ersons involved.
          </p>
          <p>
            (iv) When a case is reported to the Board by some member of
            the Community, the Board will inform this member that the case
            is being considered. If any grade changes or status changes are
            necessary, the appropriate faculty member or administrator
            will be notified of the need for such changes at the close of
            the case.
          </p>
        </div>
        <p>
          (f) Records. Records of the proceedings of the Board are to be kept
          by the Secretaries.
        </p>
        <div class = 'col-xs-offset-1'>
          <p>
            (i) The Chairman and the Secretaries shall have the sole power
            to access the BoC records and shall do so only on official
            business of the Board.
          </p>
          <p>
            (ii) The official minutes of proceedings resulting in
            convictions shall include the names of all persons concerned,
            the decisions reached by the Board with corresponding vote
            tallies, a description of any previous convictions, as well as
            the names of the members of the Board present.
          </p>
        </div>
        <p>
          (g) Collaboration with other bodies.
        </p>
        <div class = 'col-xs-offset-1'>
          <p>
            (i) The BoC may collaborate with the Graduate Review Board (GRB),
            the Dean of Students, the Director of Residence Life, and the
            Conduct Review Committee.
          </p>
          <p>
            (ii) If a case involves both a undergraduate and graduate
            defendant, the Chairman and Secretary may conduct the
            preliminary investigation with the Chairman and Secretary of
            the GRB. The Chairman and Secretary of the GRB may sit in on
            the Board hearing for the case and shall not have a vote. The
            GRB shall have access to the records for this case.
          </p>
        </div>
        <p>
          (h) Review and Appeals.
        </p>
        <div class = 'col-xs-offset-1'>
          <p>
            (i) Persons who feel that they have been unfairly treated by
            any members of the Board or that their personal rights have
            been violated may make appeals to the Dean of Students. If
            a defendant wishes to appeal any portion of the Board’s
            ecision, they must make an appeal to the Dean within ten
            (10) days.
          </p>
          <p>
            (ii) The Dean of Students will review all cases resulting
            in conviction conducted by the Board of Control. The Dean
            reserves the right to call for a reinvestigation of any
            case resulting in conviction upon suspicion of bias,
            incomplete information, or if additional relevant evidence
            becomes available.
          </p>
          <p>
            (iii) Cases resulting in leave shall receive a procedural
            review through the Vice President for Student Affairs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
