{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div class="col-md-24">
    <div class="jumbotron">
      <h1 class="text-center">BoC Witness</h1>
      <div id = 'title'>
        <h2>Being a BoC Witness</h2>
        {% if permission %}
        <a href="{{ url_for('editor.editor', input_text='BoC_Witness', title='BoC_Witness') }}">>edit this page</a>
        {% else %}
        {% endif %}
      </div>
      <div id = 'content'>
        <p>
          Depending on the specific nature of the case, your role as a
          witness can be very frustrating and leave you with little idea of
          what is going on. This is a guide with general advice on being a
          witness in a Board of Control case and what to expect throughout
          the case process. You may also find information in our
          <a href="{{ url_for('committee_sites.FAQ') }}">Frequently Asked Questions</a> useful.
        </p>

        <h3>Information for a Silent Witness</h3>

        <p>
          1: <b>Provide support.</b> You're role in this case is to provide help
          and support for a defendant throughout the case process. Try to
          make sure that they stay informed and up to date on the case,
          that they do not get too stressed or overwhelmed by the case, and
          notify the chair and secretary or the Deans if you have any concerns.
        </p>

        <p>
          2: <b>Accompany defendant.</b> You will likely be asked by the defendant
          to accompany them to the hearing. Please do accompany them if
          possible, we will try to schedule the hearing to accommodate you.
          During the hearing you will sit with the defendant and may speak
          with them in an aside. You will not be asked any questions or
          need to speak directly to the BoC.
        </p>

        <p>
          3: <b>Decision.</b> You will likely be asked by the defendant to accompany
          them to the meeting where the decision is read. As before, please
          offer the defendant your advice and support.
        </p>

        <p>
          4: <b>Confidentiality.</b> You are expected to maintain absolute secrecy
          regarding the case to anyone other than the defendant you
          accompany, the chair and secretary for the case, the Deans,
          and any member of the counseling center. See
          <a href="{{ url_for('committee_sites.FAQ',
          _anchor="What confidentiality must I keep?")}}">"What confidentiality
          must I keep?" </a> for more details.
        </p>

        <h3>Information for a BoC Witness</h3>

        <p>
          1: <b>Meeting with the Board.</b> It is important that you be as honest
          and accurate as possible, and state whether you remember something
          clearly, vaguely, or not at all. While the case almost certainly
          does not depend on your word alone (physical evidence is the
          number one factor), we do feel that your input will be important
          to ensure that this case is decided as accurately and fairly as
          possible. Please see the
	  <a href="{{ url_for('committee_sites.FAQ', _anchor="Witness Questions") }}
	 ">Witness FAQ</a> for more information.
        </p>

        <p>
          2: <b>Decision.</b> After the case is concluded you will be informed that
          "the case has been concluded." You will not be told the details
          of the case or the decisions of the BoC. Contact the chair and
          secretary for the case or the Deans if you have any questions,
          comments, concerns, or want any clarifications.
        </p>

        <p>
          3: Confidentiality. You are expected to maintain absolute secrecy
          regarding the case to anyone other than the chair and secretary
          for the case, the Deans, and any member of the counseling center.
          See
          <a href="{{ url_for('committee_sites.FAQ',
          _anchor="What confidentiality must I keep?")}}">"What confidentiality must I keep?"</a>
          for more details.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
