{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div class="col-md-24">
    <div class="jumbotron">
      <h1 class="text-center">CONDUCT REVIEW COMMITTEE(CRC)</h1>
      <div id = 'CRC'>
        <div id = 'representative' style="font-size:21px;font-weight:200;
        margin-bottom:15px;>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Email</th>
          </tr>
          <!-- Creating table for list of people on crc. -->
          {% for name, pos, email in CRC %}
          <tr>
              <td>{{ member }}</td>
              <td>{{ pos }}</td>
              <td>{{ email }}</td>
          </tr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
