{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div id = 'CRC'>
    <h2>CONDUCT REVIEW COMMITTEE(CRC)</h2>
    <div id = 'representative'>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Email</th>
      </tr>
      <!-- Creating table for list of people on crc. -->
      {% for name, pos, email in CRC %}
      <tr>
          <td>{{ member }}</td>
          <td>{{ pos }}</td>
          <td>{{ email }}</td>
      </tr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

