
{% extends "layout.html" %}
{% block page %}
<div class="container">
  <div class="col-md-24">
    <div class="jumbotron">
      <h1 class="text-center">The Honor System</h1>
      {% if permission %}
      <a href="{{ url_for('editor.editor', input_text=The_Honor_System, title=The_Honor_System) }}">>edit this page</a>
      {% else %}
      {% endif %}
      <div id = 'content'>


<H2>Table of Contents</H2>
<UL>
<LI> <A HREF="#Philosophy">Philosophy of the Honor System</A>
<LI> <A HREF="#Undergrads">The Honor System and Undergraduates</A>
<UL>
<LI> <A HREF="#Tests">Tests</A>
<LI> <A HREF="#Homework">Homework and Laboratory Assignments</A>
<LI> <A HREF="#NonAcademic">Non-Academic Matters</A>
</UL>
<LI> <A HREF="#TheBOC">The Board of Control</A>
<LI> <A HREF="#Procedures">Procedures (flowchart)</A>
<LI> <A HREF="#Reporting">Reporting of Suspected Violations</A>
<LI> <A HREF="#Prelims">Preliminary Investigation</A>
<LI> <A HREF="#Hearing">The Hearing</A>
<UL>
<LI> <A HREF="#Violation">Resolution of Possible Violation</A>
<LI> <A HREF="#Nullification">Nullification of Unfair Advantage</A>
<LI> <A HREF="#Protection">Protection of the Community</A>
</UL>
<LI> <A HREF="#Conclusion">Conclusion and Consequences of Investigation</A>
<LI> <A HREF="#Questions">Questions and Answers</A>
<LI> <A HREF="#Statistics">Statistics</A>
<LI> <A HREF="#Samples">Sample Investigations of the Board of Control</A>
<LI> <A HREF="#Bylaws">The Board of Control Bylaws</A>
</UL>

<HR>

<a name="Philosophy"></a>

<H3>Philosophy of the Honor System</h3><p>
<p>
Every community, either through accident or conscious design, adopts certain
levels of accepted conduct.  With unfortunate frequency, the standards adopted
officially and unofficially by academic communities are founded on a "lowest
common denominator" of human behavior.  It is considered a fact of life at many
colleges that intensive proctoring, special examination booklets, and energetic
suspicion on the part of the faculty are required to achieve some semblance of
honesty in the majority of students.<p>
The Caltech community has had the privilege of disregarding these pessimistic
traditions.  The name given to the official -- and practiced -- ethical code of
our community is the "Honor System."  The Honor System embodies our mutual
trust and respect.<p>
The Honor System makes Caltech a better and more enjoyable place to work and
live because it affords to each person within the Caltech community the trust
and freedom that honesty merits.  As such, only one guideline is necessary to
protect our community:  "No one shall take unfair advantage of any other member
of the Caltech community."  Because of its nature, it must apply to all of the
community, everywhere within the community.  It is not restricted to
transactions of a purely academic nature between students and faculty, but also
binds students in their non-academic relations with any other member of the
community.<p>
On the other hand, the Honor System is not an administrative creation intended
to ease the enforcement of university regulations or marginally decrease the
chance of student cheating.  It is a fundamental aspect of the Honor System
that the responsibility students display in their conduct must be met by trust
from others.  An example of this is the official position on proctoring, which
is not only held unnecessary but is discouraged under current faculty
regulations.  The bodies which deal with violations of the Honor System are
also bound to promote an atmosphere of trust and confidence.  As it should be,
honesty is a two-way street at Caltech.<p>
It must be stressed that the responsibility for the maintenance of the Honor
System lies with each student.  In particular, this responsibility includes
determining any possible consequences of our actions.  We have accepted such
responsibility in the belief that only by regulating our own conduct can we
successfully promote a high standard of individual integrity.<p>
Therefore any necessary interpretation or enforcement is the duty of, and
administered by, students themselves. However, for the Honor System's continued
survival and improvement it is also necessary that faculty members take an
active interest in its maintenance and well-being.  For if the Honor System
eliminates at Caltech the inconvenient encumbrances of suspicion--proctors,
stringent regulations--it is also the case that faculty share the cost of any
failures.<p>
The following pages are meant to provide a starting point for understanding
the Honor System as it relates to undergraduates.  It is hoped that such
information will enable faculty to help students maintain the health of the
Honor System.  <p>


<hr>

<A NAME="Undergrads"></A>

<H3>The Honor System and Undergraduates</H3>
<p>
The Honor System is an agreement between members of the Caltech community,
embodied in a single sentence:<p>
<DL>
<DD> <I>No one shall take unfair advantage of any other member of the Caltech
community.</I>
</DL>

<p>
This principle, while extremely short, is the sole basis of the Honor System.
The key words are <b>unfair advantage</b>.  Often, not taking unfair advantage
is merely a matter of using common sense of showing respect and consideration
for others and their privacy.  But there are times when distinguishing between
fair and unfair courses of action requires a considerable amount of analytic
thought.  It is when one loses the habit of such thought that one's actions may
come into conflict with Honor System. <p>
The Honor System governs every interaction among members of the Caltech
community--in particular, the following discussion emphasizes those areas in
which faculty are most likely to deal with undergraduates.<p>

<A NAME="Tests"></A>

<DL>
<DT> <H4>I.  Tests</H4>
<DD> Academic life at Caltech, in its strenuousness, could only be less productive
and more threatening if test-taking were supervised.  Under the Honor System a
tradition of take-home exams has therefore arisen.  Exams, stapled shut, are
given to students with necessary instructions: these include the exact time
allotted for the test; resources allowed (previous tests? all or some books?
Mathematica?); and the due date.  <p>
Under the Honor System <i>students themselves must be responsible for
understanding and seeking clarification of all exam conditions</i>.
Instructors new to take-home exams, however, must also realize that only
<b>detailed written instructions</b> provide the necessary guidelines for what
are self-administered tests.  Just as students can be trusted, under the Honor
System, to follow any instructions to the letter, so should instructors
minimize confusion so that there is no room for differing interpretations of
the directions.  <p>
Inconsistency is an enemy of this essential clarity.  Instructors should make
sure that all statements they make, both written and in-class, are not
contradictory with respect to the exam conditions.<p>
Why take-home exams?  Caltech's mission, according to the <i>Catalog</i>, is
the education of "creative scientists and engineers."  Real-world scientific
creativity is not proctored, supervised, or scheduled--the first and most
important guarantor of scientific integrity is the scientist.  The Honor
System's contribution to academic independence, the establishment of an
unsupervised honesty, is therefore indispensable to Caltech's notion of a full
scientific education.<p>
Take-home exams eliminate the need for time-consuming proctoring, supervision,
and other secretarial labors.  Students are not pressured to perform in an
artificial environment (the <i>en masse </i>test administration) which
corresponds to little future scientific work they will do.<p>
In-class exams, therefore, are in most cases unnecessary, and represent in
students' minds a manifestation of distrust on the instructor's part.  It is,
indeed, unclear what use these exams have.  An instructor who suspects certain
students of Honor System violations should bring his concerns to the
appropriate body's attention; he should not penalize an entire class by
altering normal exam practices.<p>
Some in-class exams, for whatever reason specific to the class, are necessary.
Proctoring by any means, however, is never suitable and always counter to the
spirit of the Honor System.<p>

<A NAME="Homework"></A>
<DT> <H4>II.  Homework and Laboratory Assignments</H4>

<DD> As always, <i>it is the student's responsibility to seek  any necessary
clarification of homework collaboration policies</i>.  Through these policies,
known colloquially as "collab policies," instructors make known under what
conditions their homework should be completed.  Is all consultation (short of
direct copying) allowed?  What resources can be used?  How much time must be
spent on an assignment before collaboration can take place?  It is often most
convenient for these precisely worded policies, together with exam policies, to
be compiled in the syllabus (or a separate handout) for easy reference.<p>
Here too, consistency is essential.  For example, in undergraduate laboratory
courses, TAs have on occasion unfortunately disseminated inconsistent collab
policies.  Students cannot be expected to construct a mean collaboration policy
from several different statements; TAs must be fully and consistently aware of
the instructor's collab policy and instruct students accordingly.<p>

<A NAME="NonAcademic"></A>
<DT> <H4>III.  Non-Academic Matters</H4>
<DD>  The Honor System governs all behavior within the Caltech community; as
such, it does not exempt non-academic matters.  Undergraduates should be
expected to comport themselves in a manner consistent with the Honor System.
While mere intermittent inconsideration is not necessarily actionable (the
Honor System cannot alter personalities), patterns of unfair action should be
brought to the attention of the Board of Control.<p>
One must realize, in addition, that the term "undergraduates" is
underdescriptive.  They are Caltech students, and are unusual in their
creativity and activity.  On occasion, this creativity extends to pranks.  Each
student-committed prank should be accompanied by a written note identifying the
masterminds and any action needed to restore things to order.<p>
Pranks, Ditch Day, and other undergraduate activities can be disruptive; but
the associated inconvenience does not necessarily represent an unfair
advantage.<p>

</DL>

<hr>

<A NAME="TheBOC"></A>
<H3>The Board of Control</H3>
<p>
Ideally, the Honor System should operate smoothly without intervention by any
governing body.  However, in practice, there are circumstances which prevent
this.  First, some individuals fail to abide by the Honor System and adequate
measures must be taken to protect our community from them.  Second, the
intuitive sense of right and wrong upon which the Honor System so heavily
relies does not always operate uniformly in complex situations.  The Board of
Control has been formed to help alleviate these problems.  The Board, a
committee of undergraduates, is part of the Associated Students of Caltech,
Inc. (ASCIT), and is chaired by the ASCIT Vice President.  The duties and
procedures of the Board are outlined in the ASCIT bylaws.  (See
<A HREF="#Bylaws">Bylaws</A>.)  It
is composed of eleven students: the Chair and the Secretary, who do not vote;
one representative elected from each of the seven undergraduate houses; and two
representatives-at-large, appointed by the Board from the entire student
body.<p>
The Board currently deals with violations involving undergraduates, that is,
situations in which an undergraduate has, either consciously or unconsciously,
gained an unfair advantage over other members of the community.  Each decision
is made independently, as the Board does not act on precedent.  Considering
every case on its own merits, the Board tries to treat each person fairly and
protect our community as a whole.<p>
The following sections describe the investigation of a potential Honor System
violation as it is dealt with by the Board of Control.  The accompanying figure
illustrates the procedural flow between the different stages of the
investigation.<p>


<A NAME="Procedures"></A>
Note: the figure is temporarily missing....
<! --- A href="FacHSBook.rtf.txt1.gif">Click here for Picture <! -- /A><p>

<hr>

<A NAME="Reporting"></A>
<H3>Reporting of Suspected Violations</H3>
Under the Honor System, no group is charged with suveillance; the Board
forms a judiciary body, not a police agency.  This means that every member must
share the responsibility of protecting the Caltech community and perpetuating
the Honor System.  This is indeed a heavy obligation.  It involves not only
refraining from actions that may violate the Honor System, but also protecting
our community from any who engage in such activities.<p>
Undergraduates are required to report suspected violations.  The same
requirement cannot be enforced by the Board among faculty--but their obligation
is, if anything, as strong.  Undergraduates cannot possibly assuage the
concerns of faculty if the latter do not report their suspicions to the
appropriate body.  TAs, also, should be fully informed of the necessity of such
reporting.<p>
Vigilantism is discouraged.  When a faculty member suspects that an Honor
System violation has occurred, promptly giving an F for the assignment may seem
a quick and easy solution.  Such treatment, however, is damaging to the Caltech
community--any case treated independently by faculty without investigation by
the Board of Control will reduce the consistency and effectiveness of the Honor
System.  (If a student has committed several Honor System violations, and only
the last is reported to the Board, it can only adjudicate that case.  The Board
is then forced to make a decision based on incomplete information.) <p>
Suspected violations can be reported to any member of the Board of Control.
The following numbers are also useful:<p>
The Chair and Secretary of the Board of Control can always be contacted at
<b>(818) 395-6200</b> or campus extension <b>x6200</b>.  The Secretary can also
be reached at <b>x6236</b>.<p>
<p>
In all cases, consider your personal responsibility to the Caltech community
of which you are a vital part.  It is far better to report a strong suspicion
than to allow it to grow and compound.  A case that is closed without a
conviction vanishes from the records of all concerned.  It can in no way
prejudice the future of the student.<p>
Some faculty are of the opinion that they should not report a suspected
violation to the Board without fully elaborated, iron-clad evidence.  This is
not the case.  It is the Board's responsibility to investigate any suspected
violation (see below).  While these instructors' wish to take the burden upon
themselves is admirable, it is not necessary, and can slow considerably the
process of reporting and investigation.<p>
<p>

<hr>
<A NAME="Prelims"></A>
<H3>Preliminary Investigation</H3>

When a suspected Honor System violation is brought to the attention of the
Board of Control, a preliminary investigation is conducted by the Chair and
Secretary of the Board, or by one of them and a Board representative.  The
Chair and Secretary then decide if the incident resides within the jurisdiction
of the Honor System and the Board of Control.  To fulfill this duty, interviews
are held with those individuals directly involved with a specific incident.
These persons may include teaching assistants, graders, instructors, other
witnesses, and defendants.  After receiving testimony and physical evidence
(e.g., homework sets, tests, damaged property) the preliminary investigators
decide if the case merits the attention of the remaining Board members.  It is
important to note that the preliminary investigators are not empowered to
decide if the alleged offense actually constitutes a violation; this decision
can only be made by the full Board of Control.  If the matter at hand lacks
sufficient evidence or is clearly not an Honor System issue, then the case may
be dismissed by the preliminary investigators.  If they feel that the offense
may constitute an Honor System violation but cannot be properly and
expeditiously handled by the Board of Control, then the investigation may be
passed on to an appropriate organization such as the Office of the Dean of
Students, the Office of the Director of Residence Life, or the Office of Human
Relations.<p>
The Secretary will contact the necessary individuals and arrange for them to
attend the preliminary hearings.  If requested by the witness or defendant,
another Board of Control member may attend the preliminary investigation in
order to provide support or to explain the proceedings.  In addition, if a
defendant feels that the Chair or Secretary is unable to deliver an unbiased
decision, then a request can be placed with the Dean of Students to have either
individual temporarily replaced.  Since the Board realizes that personal
interaction is extremely valuable in deciding any Honor System issue, the
nature of the suspected violation or specific details of the case will not be
revealed until the actual interview.  Throughout the interview process, it is
the duty of any person interviewed to maintain absolute secrecy concerning the
investigation.<p>
<b>If you are a witness, or have reported a case:</b>  You will be spoken to,
by phone or in person, about the investigation.  The Chair and Secretary will
review with you the Board of Control's procedure and ask you for information
about the case.  The investigation is now confidential, and you should neither
confront any involved students nor alter their assignment grades.  Making
private arrangements with students involved in an investigation introduces
unfairness and inconsistency into the process.<p>
At the conclusion of the interview process, the Chair will decide if the case
will be considered by the full Board of Control.  If so, the procedures of a
full case meeting will be explained to the witness(es) and defendant(s).  The
minutes taken during the preliminary interviews will then be passed along for
the entire Board's consideration.  If the Chair decides to dismiss the case,
the interviewee(s) will be informed that the case is closed, and the Secretary
will destroy any minutes recorded.  It is important to note that only when a
case is completed may a defendant initiate discussion with others concerning
his or her individual case, as outlined and regulated by the Board of Control
bylaws.  (See <A HREF="#Bylaws">Bylaws</A>.)
Witnesses are bound to secrecy and can not divulge
information concerning the investigation unless the defendant(s) initiate
discussion.  In all stages of the investigation, the Board strives to maintain
the privacy of those interviewed and questioned.<p>

<hr>
<A NAME="Hearing"></A>
<H3>The Hearing</H3>

If the preliminary investigators deem it necessary to bring a case before the
full Board, the Secretary schedules a time that minimizes conflicts for the
Board members, defendants, and witnesses.  Of the nine voting members on the
Board, at least seven must be present at the hearing.  Witnesses and defendants
are told to wait by a phone during this time until called.  Faculty members are
also asked to appear before the full Board, although (since hearings are often
on weekends) this is not always possible.<p>
If any individuals appearing before the Board feel that a particular member
will be unable to render an unbiased judgment, they may ask the Chair of the
Board or the Dean of Students to appoint a temporary replacement for that
member.  In addition, if any member of the Board of Control is uncomfortable
with working on a particular case, he or she is expected to remove himself or
herself for the duration of the case.<p>
The Board is first presented with the case in abstract: no student names, no
class names -- just a description of the violation involved.  The Board may
decide at this point that a full hearing is not appropriate, in which case all
records of the preliminary investigation are eventually destroyed (see
<A HREF="#Bylaws">Bylaws</A>),
and no further action is taken.  The Chair and Secretary take care to
report only those cases to the Board that merit its attention; however, it is
this stage which allows the full Board a preliminary consideration of the
matter's importance.<p>
The defendant is allowed to be accompanied by a companion while waiting (in a
room provided) to be questioned by the Board.  This companion is also sworn to
secrecy about the case, even upon completion, as are the witnesses and the
Board members themselves.  All involved are asked not to reveal the meeting
place of the Board.  However, the defendant reserves the right to release
information about the case upon completion of the investigation.  If he or she
chooses to do so, then the witnesses are also permitted to discuss the case.
(See Section 3, subsections (l) and (r) of the <A HREF="#Bylaws">Bylaws</A>.)<p>
<b>If you are a witness, or have reported a case:</b>  If you have agreed to
speak with the Board in person, you will be called and informed of the meeting
place.  After placing you under oath, the Board members will ask you questions
relating to the case.  (This is definitely an appropriate time to ask any
questions you might have.)<p>
The defendant may also request a "side-bar" with  an individual member if he
or she wishes to relate sensitive information that is difficult to tell to the
entire Board.  (See subsection (m) of Section VII of the <A HREF="#Bylaws">Bylaws
</A>.)<p>
The witnesses may request that their identities be kept from the defendant;
the Board will make a sincere effort to do so, although it cannot always be
guaranteed.<p>
The following three subsections describe, in order, the three decisions that
the full Board of Control will ultimately consider.<p>

<A NAME="Violation"></A>
<DL>
<DT> <H4>I.  Resolution of Possible Violation</H4>
<DD> If the Board votes to hear a case, all the details of the preliminary
investigation are revealed.  The Board must decide whether an Honor System
violation has occurred.  Copies of evidence, such as examinations and homework,
are provided.  Defendants and witnesses are interviewed once again -- this time
by the full Board of Control.<p>
Privacy is important, but the Board of Control may ask questions of anyone who
can provide useful information.  Teaching assistants, classmates, professors,
and roommates may be consulted.  Every relevant resource is considered.<p>
<b>If you are a witness, or have reported a case:</b>  You will be asked to
provide all relevant facts at your disposal concerning the case.  These may
include dates, times, or testimony of any actions observed.<p>
A decision may be postponed for a few days if new evidence will be
forthcoming.  Deliberation continues until the members of the Board are
satisfied.  If a defendant has confessed, proceedings are often short.
However, defendants may be convicted without a confession.<p>
<b>Defendants</b> will be asked to explain any circumstances concerning the
event or action in question.  For example, in an academic case, this may
include where and when a particular homework set or exam was completed, and
what references were used.  They may also be asked to explain their reasoning
and thought processes on certain problems.<p>
After discussion, a voting member of the Board may move to dismiss the case.
Members of the Board may vote if favor of the dismissal if they find the
evidence insufficient, or if they determine that a violation has not occurred.
If the motion passes, the records of the case are eventually destroyed.  (See
<A HREF="#Bylaws">Bylaws</A>.)
They are never brought to light unless new evidence arises
concerning the same case.<p>
Otherwise, a voting member of the Board may move to convict a defendant of an
Honor System violation.  The specifics of the violation are included in the
motion.  The Board votes, and the results are recorded in the minutes of the
case.  If the motion passes, the Board discusses further convictions or
nullifications of the unfair advantage.<p>

<A NAME="Nullification"></A>
<DT> <H4>II.  Nullification of Unfair Advantage</H4>
<DD> If a defendant is convicted of an Honor System violation, the Board of Control
will then determine what measures would best nullify any unfair advantage
taken.  Decisions are made on a case by case basis, without precedent or
pre-established penalties for specific violations.<p>
<i>The decisions of the Board of Control are never intended as punishment</i>.
Nullification simply involves removing the unfair advantage gained.  This may
be accomplished through such actions as grade changes, monetary reimbursement,
or letters of apology.  In some situations, an Honor System violation may have
no corresponding way to remove the unfair advantage.  In these cases the Board
may not recommend any steps for nullification, but this in no way diminishes
the effects or seriousness of the violation.<p>
For example, if a defendant has copied one isolated problem on an exam, the
Board may decide to nullify the advantage by giving zero credit on that
problem.  However, if the copied problem allows the student to answer other
questions or verify previous results, it is possible that credit will be
removed for those problems as well.<p>

<A NAME="Protection"></A>
<DT> <H4>III.  Protection of the Community</H4>
<DD> After steps to nullify any advantage taken have been identified, the Board
must decide if measures to protect the community are necessary and what these
might be.  This happens only if the Board has determined that an Honor System
violation has indeed occurred.  In many ways, this is the most difficult
decision that the Board must make, because it has the most influence on the
defendant's career.  It is at this point and this point only that the Board is
made aware of any previous convictions of the defendant.<p>
The title commonly given to the third decision is rather important:
protection of the community.  <i>This is not an attempt to punish, nor to
deter</i>.  It is an attempt by the Board to establish whether or not the
defendant is likely to commit a violation in the future, and if so, take
appropriate action to protect the community.  Three decisions of the Board are
common enough to discuss.<p>
All students convicted by the Board are required to speak with the Dean of
Students after the case has been closed.  This is known as "review" or
"reprimand."  In addition, records of the case are kept and are available to
future Boards when determining protection of the community if the student is
convicted again.  This alteration in the status of a student is called
"probation."  If is important to note that these records are only made known
after a future conviction has been made and nullification determined, and thus
are not allowed to influence these first two decisions.<p>
Suspension generally indicates that the Board is of the opinion that the
defendant committed the violation because of immaturity or inordinate pressure
and would benefit from some time away from Caltech.  Time spent in the outside
world often appears to relieve pressure and perhaps gives a student a better
perspective on the Honor System and its advantages.<p>
The most drastic action that the Board can take is to place a student on
indefinite leave.  The Board resorts to this only in situations where it feels
that the defendant cannot live within the Honor System.  This decision may or
may not include a recommendation for <i>persona non grata</i> status (i.e.,
severing all ties with the Institute).<p>
<b>If you are a witness, or have reported a case:</b>  You will not be involved
in this process, nor will you know its outcome unless the defendant chooses to
tell you.  Remember that you should divulge as little as possible about the
case.<p>
</DL>

<p>
	The Board is not restricted to these choices of action.  It must be stressed
that the decision is made in consideration of the defendant's demonstrated
ability to abide by the Honor System.  Although the gravity or magnitude of the
violation committed is an indicator of such ability, it is not the only one.
Two defendants convicted of similar violations could receive different measures
for protection of the community if the Board felt that the likelihood of their
committing another violation differed.<p>
<p>

<hr>

<A NAME="Conclusion"></A>
<H3>Conclusion and Consequences of Investigation</H3>

If, at any time during the investigation, the case is dismissed or closed
without a conviction, the records and any evidence will eventually be destroyed
(see <A HREF="#Bylaws">Bylaws</A>)
, and the individuals involved are released of all suspicion.<p>
<b>If you are a witness, or have reported a case:</b>  If the case does not
result in a conviction, the investigation will end here.  You will be informed
that the case has been dismissed.  Furthermore, the Chair and Secretary will
make every effort consistent with confidentiality to make known to you what
circumstances might have caused dismissal.<p>
Upon completion of a hearing that results in a conviction, the Chair and
Secretary of the Board will inform the Dean of Students of the details of the
investigation and the outcome of the three decisions.  It is the responsibility
of the defendant to arrange a meeting with the Dean as soon as possible,
usually the first working day following the final hearing.  There are several
purposes to this meeting.  First, the Dean wants to know if the student felt
comfortable with the proceedings of the case, the line of questioning, and his
or her treatment throughout the case.  This is done to ensure that students are
not scared or intimidated during the case, and that they were treated with
respect throughout the proceedings.<p>
A second purpose of the meeting is to enable the Dean to review the final
decision of the Board and to assess its implications.  The Dean carefully
explains the three decisions and discusses them with the student.  At this
stage the student may ask questions to clarify the implications of the
decisions.  Finally the Dean allows the student to voice any objections about
the case of the final decision.<p>
At the end of the meeting, the Dean decides whether or not to uphold the
decision of the Board.  The Board's decision, once delivered, is almost always
final.  However, the importance of the Dean must not be overlooked.  It is the
Dean's responsibility to make the final decision and to ensure that it is
carried out.  For these reasons, the meeting with the Dean is extremely
important for both the student and the Board of Control.<p>
<b>If you are a witness, or have reported a case:</b>  After meeting with the
Dean of Students, the Chair or Secretary will inform you by letter about the
aspects of the case that concern you.  If you are a <b>witness</b>, you will be
informed when the case is closed but not told of any decisions; you will also
be reminded that the case should remain confidential.  If you <b>have reported
a case</b>, you will be told when the case is closed; apprised of all relevant
decisions; and informed of what grade changes need to be made in order to help
the Board carry out its decision.  Please note that <b>witnesses and those who
report cases </b>are never apprised of the protection decision.  The Chair and
Secretary will make every effort to meet in person with those who report cases
in order to discuss with them the case and its outcome.<p>
When a case is completed and a violation of the Honor System has occurred, the
official records of the case are kept in the Board files.  It is important to
understand that these files are strictly confidential.  Only the Chair and
Secretary have access for the purpose of reviewing previous convictions of a
defendant.  If a defendant has any prior convictions, the previous files may be
reviewed by the entire Board to aid in determining the protection of the
community.  However, these minutes will only be revealed after all motions for
convictions and nullification are resolved.<p>
The records of the Board of Control are never intended for public viewing,
especially by outside agencies unrelated to Caltech.  However, there has been
some concern with outside companies and government agencies that request
information about disciplinary action from the Dean's Office for clearance
purposes.  It has always been the policy of the Dean and the Board to keep all
proceedings and decisions completely internal as far as the law will allow.  To
this date, the only instances where a Board decision was revealed concerned
students placed on involuntary leave of absence.  The Dean considers this to be
a disciplinary action and will admit to such if directly questioned.  <i>A
student's transcript, however, will never show any record of a Board of Control
investigation</i>.  Thus, no one except the Dean, the Board, and the student
knows that a violation has occurred.<p>

<hr>

<A NAME="Questions"></A>
<H3>Questions and Answers</H3>


<b>Q:  Who can be investigated by the Board of Control?</b><p>
<b>A:</b>  The Board is in charge of dealing with suspected Honor System
violations by undergraduates.  The Graduate Review Board is responsible for
cases involving graduate students.  The Graduate Review Board Chair may be
reached at campus extension 6049.  Problems involving faculty members, staff,
or administration should be brought to the attention of the Student Grievance
Committee.  Currently, the ombudsman for the student grievance procedure is the
Vice President for Student Affairs.  The officers and representatives of the
Board of Control have further information and can assist with pursuing these
other procedures.<p>

<b>Q:  What can a person be investigated for?</b><p>
<b>A:</b>  Cases in which the Honor System may have been violated by an
undergraduate student are investigated by the Board of Control.  Obvious
examples include cheating on exams, breaking homework collaboration policies,
and non-academic actions such as theft or harassment.  However, the Honor
System is not limited to examples such as these; any action which places a
member of the Caltech community at an unfair disadvantage may result in an
investigation.  Honor System violations do not necessarily entail material
disadvantage; invasion of privacy and actions that cause others emotional
distress are examples.  Actions against people who are not direct members of
the Caltech community may eventually become Honor System offenses if they
result in action being taken against the Caltech community.  In cases regarding
pranks or two-party incidents, the Board will frequently try to resolve the
problem outside of a full hearing by having the parties involved reach some
sort of satisfactory agreement.  Before carrying out a prank, it is expected
that the people responsible consider the outcome of their actions as well as
the reactions of those being targeted.<p>

<b>Q:  Why is the Board so secretive?</b><p>
<b>A:</b>  The Board of Control investigations and hearings are conducted in
secret to protect the individuals being investigated.  In order to prevent the
formation of an unfair bias or prejudice against those appearing before the
Board, extreme measures are taken to ensure that details about particular cases
do not become known to the community.  The results of Board votes are kept
confidential to prevent any conflicts between defendants and individual Board
members.  The Board is also secretive about where and when it meets to prevent
speculation about people seen entering or leaving the meeting place.<p>

<b>Q:  What can the Board do to a person?</b><p>
<b>A:</b> If a person is convicted of committing an Honor System violation by
the Board of Control, the responsibility of the Board is to nullify whatever
advantages were taken by the individual.  This would include actions such as
giving no credit for homework, or exam problems completed in violation of the
Honor System or requiring the person to provide compensation if property had
been damaged.  After nullification, the Board considers whether the person is
capable of living under the Honor System in the future.  Among actions that may
result from this are placing the student on probation, having the student take
a leave of absence, or recommending the student for expulsion.  See
<A HREF="#Protection">Protection of the Community</A> for more information.<p>

<b>Q:  Are the Board's decisions always carried out by the Dean?</b><p>
<b>A:</b>  The Board of Control acts as an advisory committee for the Dean,
providing recommendations after investigating the case and coming to a
decision.  If the Dean feels that the Board's decision is not justified then he
or she may choose to not follow it.  However, it is only in very rare
circumstances that the Dean will overrule a Board decision.  Slightly more
often he or she may ask the Board to reconsider its decision, though this too
is rare.  (See <A HREF="#Statistics">Statistics</A>.)<p>

<b>Q:  What records are kept of cases?</b><p>
<b>A:</b> In the case of a conviction, the records will contain the names of
the defendants and the decisions of the Board.  The minutes will also contain a
summary of the ideas and concerns that were brought up during the investigation
by Board members as well as testimonies of those interviewed.  The records will
only be consulted in the event of a future conviction of one of the defendants,
or for purposes of preparing abstracts or computing statistics.  If no
conviction results, the evidence that accumulated during the investigation will
be kept by the Board Secretary in case the investigation is re-opened.
However, when a new Secretary is elected, all the evidence of the
investigations that did not result in a conviction will be destroyed by the
outgoing Secretary.<p>

<b>Q:  Why do Board of Control investigations take so long?</b><p>
<b>A:  </b>Preliminary investigations must include interviews with all relevant
defendants, witnesses, and faculty members; full hearings require many hours of
thoughtful deliberation.  Therefore, it often happens that cases take a term or
more to be decided.  Such delay is unavoidable and reflects the difficulty of
reaching decisions; the necessity of accommodating defendants and witnesses;
and the demanding academics of Caltech life.  At every stage of the case, Chair
and Secretary will inform the relevant faculty members of the investigation's
progress in as full detail as possible.<p>

<b>Q:  What should I do if I suspect an undergraduate of an Honor System
violation?</b><p>
<b>A:  </b>Two important principles--confidentiality and presumption of
innocence--are intimately associated with the Honor System.  Most consonant
with the latter principle is for the student's grade to be recorded as if no
potential violation existed.  The faculty member should then report the
relevant details to the Board of Control; and  confidentiality should govern
future interaction with the student.  That is, no details of the investigation
should be made known to the student or other members of the community, nor
should private arrangements be made with students involved.<p>

<hr>
<A NAME="Statistics"></A>
<H3>Case Statistics</H3>

<p>
The following statistics were compiled from records of the Board of
Control.<p>
<p>
<center>
<table border>
<caption>Board of Control Statistics</caption>
<tr align=center><th></th><th>88-89</th><th>89-90</th><th>90-91</th><th>91-92</th><th>92-93</th><th>93-94</th><th>94-95</th></tr>
<tr align=center><td align=left>Cases Dismissed by Chair</td><td>5</td><td>4</td><td>28</td><td>5</td><td>22</td><td>5</td><td>6</td></tr>
<tr align=center><td align=left>Cases Referred to Other Body</td><td>5</td><td>5</td><td>4</td><td>3</td><td>1</td><td>0</td><td>2</td></tr>
<tr align=center><td align=left>Cases Dismissed by Board</td><td>4</td><td>2</td><td>2</td><td>2</td><td>4</td><td>3</td><td>2</td></tr>
<tr align=center><td align=left>Cases Leading to Conviction</td><td>12</td><td>10</td><td>13</td><td>11</td><td>22</td><td>14</td><td>10</td></tr>
<tr align=center><td align=left>Cases Upheld by Dean</td><td>12</td><td>10</td><td>13</td><td>11</td><td>18</td><td>14</td><td>10</td></tr>
<tr align=center><td align=left>Hours Spent in Prelims</td><td>59.5</td><td>69</td><td>67.5</td><td>80</td><td>180</td><td>15</td><td>43.5</td></tr>
<tr align=center><td align=left>Hours Spent in Hearings</td><td>105.5</td><td>66.5</td><td>62.5</td><td>71</td><td>108</td><td>33</td><td>41</td></tr>
</table>
</center>
<p>

<hr>
<A NAME="Samples"></A>

<H3>Sample Investigations of the Board of Control</H3>

The abstracts that follow are essentially fictitious.  Use has been made of
past reports and minutes of the Board of Control to illustrate procedures and
methods of investigation. While the facts are invented, the procedures,
investigation methods, and items considered in arriving at a recommendation are
exact and drawn directly from Board minutes of various meetings.<p>
<p>
<b>Abstract 1</b><p>
Student A used the account number of a campus organization with which he had
no affiliation to make long-distance phone calls.  The organization complained
to the phone office, and they discovered who made the calls.  The bill came to
$80.<p>
When asked how he obtained the account number, Student A explains that it was
on a piece of paper in the library of a student house.  The paper was part of a
pile of other papers, and it did not explain who the number belonged to; it
merely described how to make the call.  Student A says that he did not know who
was getting billed, and he didn't think about it very much.  He was sure, now
that he is thinking about it, that it was an Honor System violation, but at the
time he just thought he was getting a "freebie" and didn't worry about it.<p>
Student A is convicted of an Honor System violation for placing long-distance
calls using an account number that he had no right to use.  For nullification
of the unfair advantage, it is decided that Student A should pay the $80 back
to the campus organization.<p>
Student A does not seem to be a malicious person.  He admits what he did was
wrong, and he doesn't try to justify it.  No further action beyond reprimand
and probation seems necessary for protection of the community.  Student A is
read the decision, and he is cautioned to devote more thought to his actions in
the future.  The Chair and Secretary meet with the Dean of Students and relate
the details of the Board's decisions for violation, nullification, and
protection.  The Dean then meets with Student A and after discussing the events
and case hearing, the Dean approved the Board's recommendations.<p>
<p>
<b>Abstract 2</b><p>

Two students turned in identical homework sets on two occasions in a
non-collaboration class.  The similarity was not noticed during the grading.
After the course was over, Student C, noticing that Student B had received a
higher score for similar work, went to complain to the teaching assistants
(T.A.'s).  The T.A.'s then noticed the extreme similarity between the homeworks
and referred the matter to the Board<p>
Student B claims that he finished the first set three days before it was due.
He started working on it the day after it was handed out, and then asked the
T.A.'s for help over the next two days.  He got the wording for his answer from
the book, from the T.A.'s, and from a similar example that had been done in
class.  Student B seems nervous, and says he had already discussed the case
with the T.A.'s and they would vouch for the fact that his wording on the
homework did reflect discussion with them held soon after the assignment had
been given.  Student B says that Student C had borrowed his notebook without
permission after the term was over in order to compare their homework scores.
B claims that C had also borrowed his class notes with his permission for about
half the lectures of the term.  This might account for the similarity of the
wording.<p>
Student C explains that he had borrowed Student B's lecture notes for the two
homework sets in question.  He did not finish either set until the night before
it was due, and he had worked alone in a building on campus.  When pressed to
explain why there were no erasures on his paper and no points on his hand-drawn
graph, C claims that he did most of his work on scratch paper, and although he
admits things look suspicious, he maintains that he did his work independently.
He does admit to entering Student B's room after the room was over to see how
many points B had received.<p>
The Board reviews the evidence again very carefully, and determines that there
is no way the two sets of homework papers could represent independent work.
The wording on the papers is compared with that in the book and in the
notebooks, and those members of the Board who currently or previously had taken
the course particularly feel that the similarities between the papers are in no
way accounted for in the class notes or textbook.<p>
Although it seems incredible that C would cheat on two homework sets and then
have the nerve to complain about the grading to the T.A.'s, there is no other
plausible explanation.  The T.A.'s did verify that Student B had consulted with
them and had completed his homework early.<p>
Student C is convicted of an Honor System violation for copying two homework
sets in a non-collaboration class, and for lying under oath to the Board.  In
order to nullify the advantage, Student C is given zero credit on both homework
sets.  C seems to be overwhelmingly preoccupied with grades.  He received an A
in the course, yet he tried to get more points from the T.A.'s on these two
homework sets in order to get an A+.  The violation was committed deliberately
and for purely selfish motives.  Based on student C's failure to recognize his
responsibility to the community, a motion is approved to place Student C on
indefinite leave of absence from the Institute.  Student C is informed of the
decision and that he must meet with the Dean of Students after the Chair and
Secretary relate the details of the Board's decisions.  Later, the Dean
discusses the course of events and the case hearing with C and afterwards
decides to approve the Board's recommendations.<p>

<hr>
<A NAME="Bylaws"></A>
<H3>The Board of Control Bylaws</H3>

The Board of Control is defined in Articles III, IV, and VII of the
bylaws of the Associated Students of the California Institute of Technology
(ASCIT), Incorporated.  The bylaws below were current as of the time of
publication of this handbook, but may be subject to change through subsequent
student body elections.<p>
<p>
		<b>ARTICLE III--THE HONOR SYSTEM</b><p>

SECTION 1. No one shall take unfair advantage of any member of the Caltech
community.<p>

SECTION 2. The Honor System as stated in Section 1 shall be the fundamental
principle of conduct of all members of the Corporation. It shall apply to all
scholastic activities as well as to relations with other members of the Caltech
community.<p>

<b>ARTICLE IV--OFFICERS</b><p>

SECTION 4. Office of the Vice President: The Vice President shall, during
absences of the President, assume the duties of that office. He shall act as
chairman of the Board of Control. He shall assist the President in coordinating
the policies and activities of the Associated Students. His primary
responsibility shall be to insure the continuance of the Honor System among the
students. He must be either a junior or a senior in the fall term immediately
following his election.<p>

SECTION 12.  Office of the Secretary of the Board of Control:  The specific
duties of the Secretary of the Board of Control shall be determined by the
Board of Control.<p>

<b>ARTICLE VII--THE BOARD OF CONTROL</b><p>

SECTION 1--PURPOSES AND DUTIES. The Board of Control shall review all
cases of alleged violations of the Honor System and shall make recommendations
to the Dean of Students for action in those cases in which a violation is found
to have been committed. All defendants will be asked if they wish the
Associate/Assistant Dean of Students to participate in the Dean's review of the
Board's recommendations. It shall be the duty of the Chairman to see that the
student body is informed of the policies of the Board of Control. Violations of
the Honor System may be brought to the attention of the Board by any member of
the Caltech Community.<p>

SECTION 2--MEMBERSHIP. The Board of Control shall consist of the Vice President
of the Corporation, who shall act as chairman, and the following members: the
Secretary of the Board of Control, two members appointed by the Board of
Control, and seven members, one elected in each of the seven undergraduate
student Houses.<p>
(a)	The representatives from the Houses shall be elected each year in
accordance with the election procedures determined by the House.<p>
(b)	A candidate may declare his candidacy in any House, but all students shall
vote in the House with which they are affiliated at the time of the election.
Students not affiliated with any House may register to vote in the House of
their choice. Students not registered nor affiliated with a House at the time
of the election may not vote.<p>
(c)	The Board of Control shall appoint two members from the undergraduate
student body at large for a term of office not to exceed one year. All
applicants must be interviewed by the Board of Control.<p>
(d)	Only registered undergraduates may serve on a case of the Board of
Control.<p>
(e)	In the event that a Board of Control member fails to register or takes a
leave of absence at any time during his term of office, said member shall
retire from that office immediately.<p>
(f)	In the event that a Board of Control representative from the Houses retires
before his term of office expires, the House shall elect a replacement for the
remainder of the term of office in accordance with the election procedures
determined by the House.<p>
(g)	These representatives at large shall be chosen after ASCIT elections but
before the swearing in of the new officers. They shall assume office at the
time the Vice President is installed.<p>
(h)	In the event that a Board of Control representative at large retires before
his term of office expires, the Board of Control shall appoint a replacement
from the undergraduate student body at large for the remainder of the term of
office.<p>

SECTION 3--RULES OF PROCEDURE.<p>
(a)	When a suspected violation of the Honor System is reported to the Board,
the Chairman or Secretary, and one other Board member will conduct a
preliminary investigation to examine all relevant facts. They may require any
persons involved to discuss their knowledge of any information concerning the
case. The Chairman and Secretary will determine whether or not the case will be
brought to a hearing of the full Board.<p>
(b)	When a case is brought to a hearing of the full Board, the Board will make
three decisions:<p>
	1.	Whether or not an Honor System violation has been committed.<p>
	2.	How to nullify the advantage that has been taken.<p>
	3.	How to protect the Caltech Community.<p>
(c)	All persons appearing before the Board at a hearing or a preliminary
investigation will be informed of the reasons for their presence.<p>
(d)	Persons who feel that they have been unfairly treated by any members of the
Board or that their personal rights have been violated may make appeals to the
Dean of Students.<p>
(e)	The preliminary investigators shall not have a vote on the Board.<p>
(f)	Seven (7) voting members of the Board shall constitute a quorum.<p>
(g)	In case of absence or disability of the Chairman, the Board shall select a
temporary chairman from among their number who, while acting as Chairman, shall
not have a vote. In the case of absence of the Secretary, the Chairman shall
appoint a temporary Secretary, who shall not have a vote, from among those who
are present or past Board members (see subsection (j)).<p>
(h)	If a Board member feels unable to render an unbiased judgment in a
particular case, that member should disqualify himself. Furthermore, no member
of the Board shall sit in judgment of his own case.<p>
(i)	If a defendant feels that particular Board members are unable to render an
unbiased judgment, a request may be made to the Chairman or the Dean that those
members not sit on the case.<p>
(j)	If made necessary by subsections (g), (h), or (i) in order to maintain a
full quorum of the Board, the Board shall reserve the right to ask any past
members of the Board of Control to serve on a case, contingent on a
three-fourths (3/4) vote of the remaining voting Board members. All those
serving on a case are bound to secrecy as stated in subsection (s).<p>
(k)	Any person asked to attend a preliminary investigation may be accompanied
by any Board member of his choice.<p>
(l)	A defendant attending a hearing of the full Board may be accompanied by any
one member of the Caltech community of his own choosing, to keep him company
during waiting periods outside of the hearing. This person may not witness any
part of the actual hearing, will be bound by secrecy as set forth in subsection
(s) for all witnesses, and must not interfere with the normal proceedings of
the Board.<p>
(m)	A defendant attending a hearing of the full Board may ask the Chair at any
time for permission to hold a short, private recess with a Board member of the
defendant's choice. Any new information pertaining to the case revealed in this
conference will be shared with the full Board. The member shall remain able to
vote on the case.<p>
(n)	A three-fourths (3/4) vote of the voting members of the Board present shall
be necessary for a decision of the Board.<p>
(o)	No decision of a previous Board shall be revoked, unless the Board is
convinced that new evidence or changed conditions change the status of the
original case, or upon recommendation of the Dean.<p>
(p)	Any records of the proceedings of the Board are to be kept only by the
Secretary. The official minutes of proceedings resulting in convictions shall
be kept by the Secretary in a minute book of the Board of Control. This book
shall be kept under lock and key by the Dean of students. The Chairman and
Secretary shall have the sole power to get the minute book from the Dean and
shall do so only on official business of the Board. All other records shall be
destroyed by the Secretary.<p>
(q)	The official minutes of proceedings resulting in convictions shall include
the names of all persons concerned, the decisions reached by the Board with
corresponding vote tallies, a description of any previous convictions, as well
as the names of the members of the Board present.<p>
(r)	The Board of Control has the right to collaborate with the Graduate Review
Board, the Dean of Students, and the Director of Residence Life.<p>
(s)	All those appearing before the Board, and the Board itself, are expected to
maintain absolute secrecy regarding case meetings of the BOC. Divulgence of any
of the proceedings shall be considered a violation of the Honor System. Should
the defendant wish to discuss the issues involved in his case with others,
after his case has been completed, he may do so at any time, provided no
portion of the case that concerns other defendants is made public without the
permission of those persons. However, once the defendant initiates discussion,
witnesses in the case are no longer bound to secrecy. If, in a particular case,
the Board shall deem it wise to make known the proceedings of the Board, the
Chairman shall be empowered to, upon resolution of the Board, to convey such
information without disclosing the names or identities of any persons
involved.<p>
(t)	When a case is reported to the Board by some member of the Community, the
Board will inform this member that the case is being considered. If any grade
changes or status changes are necessary, the appropriate faculty member or
administrator will be notified of the need for such changes at the close of the
case.<p>
(u)	OATH. The oath taken by all persons appearing before the Board of Control
shall be: "I do solemnly swear (or affirm) to tell the truth, the whole truth,
and nothing but the truth."<p>


<hr>

<b>Use of This Booklet</b><p>
<p>
	This booklet is a resource for all members of the Caltech community--in
particular, for faculty members.  The material herein is an educational tool
for those living under the Honor System, providing examples of its application.
In addition, current procedures and practices of the Board of Control are
described.  The legal obligations of students and of the Board of Control are
outlined in the Caltech Catalog and in the Bylaws of the Associated Students of
the California Institute of Technology, Incorporated.<p>

<b>Acknowledgments</b><p>

This publication has been prepared and published with the joint cooperation of
the Associated Students of the California Institute of Technology,
Incorporated, the 1994-95 Board of Control, and the Office of the Dean of
Students.  Its preparation has depended heavily on previous publications of
ASCIT's Board of Control and upon material gained through their records.<p>
Special thanks are due the Office of the Dean of Students for its continuing
support of our endeavors.<p>
The manner of publication and format of this booklet has been designed to
facilitate change.  Only continued comment and criticism will enable us to best
meet the needs of the community.  Comments should be directed to:<p>
<p>


<dl>
<dd>Board of Control
<dd>c/o Dean of Students Office
<DD>MSC 102-31
<dd>Caltech
<dd>Pasadena, CA 91125
</DL>

<p>
or to any member of the Board of Control.  Confidential messages can always be
left at (818) 395-6200 (campus extension 6200).  All comments will be
gratefully received and suggestions for change will be seriously considered.<p>
<p>
</div>
</div>
</div>
</div>
{% endblock %}
