{% extends "layout.html" %}

{% block scripts %}
  {{ super() }}
  <script>
    var QUESTION_TYPES = {{ question_types|safe }}
    var questionData = {{ questions_json|safe }}

    var dragSrcEl = null
    var questionContainer, typeSelect

    function handleDragStart(e) {
      dragSrcEl = this
      e.originalEvent.dataTransfer.effectAllowed = 'move'
      $(this).addClass('dragElem')
    }
    function handleDragOver(e) {
      e.preventDefault() // Necessary. Allows us to drop.
      $(this).addClass('over')
      e.originalEvent.dataTransfer.dropEffect = 'move'
      return false
    }

    function handleDragEnter(e) {}

    function handleDragLeave(e) {
      $(this).removeClass('over')
    }

    function handleDrop(e) {
      e.stopPropagation() // Stops some browsers from redirecting.
      var $this = $(this)

      // Don't do anything if dropping the same column we're dragging.
      if (dragSrcEl != this) {
        $(dragSrcEl).insertBefore($this)
        var dropElem = $this.prev()
        addDnDHandlers(dropElem)
      }
      $this.removeClass('over')
      return false
    }

    function handleDragEnd(e) {
      $(this).removeClass('over')
    }

    function addDnDHandlers(question) {
      question
        .on('dragstart', handleDragStart)
        .on('dragenter', handleDragEnter)
        .on('dragover', handleDragOver)
        .on('dragleave', handleDragLeave)
        .on('drop', handleDrop)
        .on('dragend', handleDragEnd)
    }

    function addElement() {
      var li = $('<li>').addClass('element').attr('draggable', 'true')
      switch (Number(typeSelect.val())) {
        case QUESTION_TYPES.Dropdown:
          li.append($('<select>'))
          break
        case QUESTION_TYPES.Checkboxes:
          li.append($('<input>').attr('type', 'checkbox'))
          break
        case QUESTION_TYPES['Elected position']:
          li.append($('<div>').text('Some elected position'))
          break
        case QUESTION_TYPES['Short text']:
          li.append($('<input>'))
          break
        case QUESTION_TYPES['Long text']:
          li.append($('<textarea>'))
      }
      li.append($('<div>').addClass('remove_element').click(removeElement))
      questionContainer.append(li)
      addDnDHandlers(li)
    }

    function removeElement() {}

    $(document).ready(function() {
      questionContainer = $('#question_container')

      typeSelect = $('select#question_type')
      for (var questionType in QUESTION_TYPES) {
        typeSelect.append($('<option>').val(QUESTION_TYPES[questionType]).text(questionType))
      }

      $('button#add_question').click(addElement)
      addDnDHandlers(questionContainer.find('.element'))
    })
  </script>
{% endblock %}

{% block page %}
  <div class="col-md-8 col-md-offset-2" style="float: none; padding-bottom: 25px">
    <ul id="question_container">
      <li draggable="true" class="element">
        This is a temp example for when I start adding these dynamically in JS.
        <div class="remove_element"></div>
      </li>
      <li draggable="true" class="element">
        This is a temp example for when I start adding these dynamically in JS.
        <div class="remove_element"></div>
      </li>
    </ul>
    <select id="question_type"></select>
    <button id="add_question">Add question</button>
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  <style>
    [draggable] {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }

    #question_container {
      list-style-type: none;
    }

    .element {
      width: 162px;
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: center;
      cursor: move;
    }

    .element.over {
      border-top: 2px dashed #000;
    }
  </style>
{% endblock %}
