{% extends "layout.html" %}

{% block scripts %}
  {{ super() }}
  <script>
    var QUESTION_TYPES = {{ question_types|safe }}
    var questionData = {{ questions_json|safe }}

    var dragSrcEl = null
    var questionContainer, typeSelect

    function handleDragStart(e) {
      dragSrcEl = this
      e.originalEvent.dataTransfer.effectAllowed = 'move'
      $(this).addClass('dragElem')
    }
    function handleDragOver(e) {
      e.preventDefault() // Necessary. Allows us to drop.
      $(this).addClass('over')
      e.originalEvent.dataTransfer.dropEffect = 'move'
      return false
    }

    function handleDragEnter(e) {}

    function handleDragLeave(e) {
      $(this).removeClass('over')
    }

    function handleDrop(e) {
      e.stopPropagation() // Stops some browsers from redirecting.
      var $this = $(this)

      // Don't do anything if dropping the same column we're dragging.
      if (dragSrcEl != this) {
        $(dragSrcEl).insertBefore($this)
        var dropElem = $this.prev()
        addDnDHandlers(dropElem)
      }
      $this.removeClass('over')
      return false
    }

    function handleDragEnd(e) {
      $(this).removeClass('over')
    }

    function addDnDHandlers(question) {
      question
        .on('dragstart', handleDragStart)
        .on('dragenter', handleDragEnter)
        .on('dragover', handleDragOver)
        .on('dragleave', handleDragLeave)
        .on('drop', handleDrop)
        .on('dragend', handleDragEnd)
    }

    function addSelectOption() {
	var option_text = $(this).parent().children('input').first().val()
	if (option_text != "") {
	 $(this).parent().children('select').first().append($('<option>' + option_text + '</option>'))
	}
    }

    function addElement() {
      var li = $('<li>').addClass('element').attr('question_type', typeSelect.val()).attr('draggable', 'true')
      switch (Number(typeSelect.val())) {
        case QUESTION_TYPES.Dropdown:
          var add_dropdown_option = $('<button>').click(addSelectOption).text('Add Option')
          li.append($('<input>'))
	  li.append($('<p>').text('Question:'))
	  li.append($('<input>').attr('id', 'question_name'))
	  li.append(add_dropdown_option)
          li.append($('<select>'))
          break
        case QUESTION_TYPES.Checkboxes:
	  li.append($('<p>').text('Question:'))
	  li.append($('<input>').attr('id', 'question_name'))
          li.append($('<input>').attr('type', 'checkbox'))
          break
        case QUESTION_TYPES['Elected position']:
          var add_dropdown_option = $('<button>').click(addSelectOption).text('Add Option')
          li.append($('<input>'))
	  li.append($('<p>').text('Question:'))
	  li.append($('<input>').attr('id', 'question_name'))
	  li.append(add_dropdown_option)
          li.append($('<select>'))
          break
        case QUESTION_TYPES['Short text']:
	  li.append($('<p>').text('Question:'))
	  li.append($('<input>').attr('id', 'question_name'))
          li.append($('<input>'))
          break
        case QUESTION_TYPES['Long text']:
	  li.append($('<p>').text('Question:'))
	  li.append($('<input>').attr('id', 'question_name'))
          li.append($('<textarea>'))
      }
      li.append($('<button>').addClass('remove_element').text('Remove').click(function() { $(this).closest('li').remove() }))
      questionContainer.append(li)
      addDnDHandlers(li)
    }

    function generateJSON() {
	var json_string = "["
	var question_container = $('ul#question_container').children('li').each(
		function() {
			json_string += "{"
			json_string += "type: " + this.question_type
			json_string += "title: " + this.select('input#question_name').val()
			json_string += ""
			json_string += "}"
		})
	json_string += "]"
    }

    $(document).ready(function() {
      questionContainer = $('#question_container')

      typeSelect = $('select#question_type')
      for (var questionType in QUESTION_TYPES) {
        typeSelect.append($('<option>').val(QUESTION_TYPES[questionType]).text(questionType))
      }

      $('button#add_question').click(addElement)
      $('button#save_survey').click(generateJSON)
      addDnDHandlers(questionContainer.find('.element'))
    })
  </script>
{% endblock %}

{% block page %}
  <div class="col-md-8 col-md-offset-2" style="float: none; padding-bottom: 25px">
    <ul id="question_container">
    </ul>
    <select id="question_type"></select>
    <button id="add_question">Add question</button>
    <button id="save_survey">Save</button>
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  <style>
    [draggable] {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }

    #question_container {
      list-style-type: none;
    }

    .element {
      width: 162px;
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: center;
      cursor: move;
    }

    .element.over {
      border-top: 2px dashed #000;
    }
  </style>
{% endblock %}
