{% extends "layout.html" %}

{% block scripts %}
  {{ super() }}
  <script>
    var QUESTION_TYPES = {{ question_types|safe }}
    var questionData = {{ questions_json|safe }}

    var dragSrcEl = null
    var questionContainer, typeSelect, saveButton

    function handleDragStart(e) {
      dragSrcEl = this
      e.originalEvent.dataTransfer.effectAllowed = 'move'
      $(this).addClass('dragElem')
    }
    function handleDragOver(e) {
      e.preventDefault() // Necessary. Allows us to drop.
      $(this).addClass('over')
      e.originalEvent.dataTransfer.dropEffect = 'move'
      return false
    }

    function handleDragEnter(e) {}

    function handleDragLeave(e) {
      $(this).removeClass('over')
    }

    function handleDrop(e) {
      e.stopPropagation() // Stops some browsers from redirecting.
      var $this = $(this)

      // Don't do anything if dropping the same column we're dragging.
      if (dragSrcEl != this) {
        $(dragSrcEl).insertBefore($this)
        var dropElem = $this.prev()
        addDnDHandlers(dropElem)
      }
      $this.removeClass('over')
      return false
    }

    function handleDragEnd(e) {
      $(this).removeClass('over')
    }

    function addDnDHandlers(question) {
      question
        .on('dragstart', handleDragStart)
        .on('dragenter', handleDragEnter)
        .on('dragover', handleDragOver)
        .on('dragleave', handleDragLeave)
        .on('drop', handleDrop)
        .on('dragend', handleDragEnd)
    }

    function addOption(makeOptionElement) {
      return function() {
        var parent = $(this).closest('.element')
        var optionInput = parent.find('input.option')
        var optionText = optionInput.val()
        if (optionText) {
          parent.find('.choices').append(makeOptionElement(optionText).attr('choice', optionText))
          optionInput.val('')
        }
      }
    }

    function addElement() {
      var questionType = typeSelect.val()
      var li = $('<li>').addClass('element').attr('question_type', questionType).attr('draggable', 'true')
        .append($('<div>').addClass('input-group').append(
          $('<input>').addClass('form-control title').attr('placeholder', 'Question title'),
          $('<span>').addClass('input-group-btn').append(
            $('<button>').addClass('btn btn-danger').text('Remove').click(function() {
              li.remove()
            })
          )
        ))
      switch (Number(questionType)) {
        case QUESTION_TYPES.Dropdown:
        case QUESTION_TYPES['Elected position']:
          li.append(
            $('<div>').addClass('input-group').append(
              $('<input>').addClass('form-control option').attr('placeholder', 'Option'),
              $('<span>').addClass('input-group-btn').append(
                $('<button>')
                  .addClass('btn btn-success')
                  .click(addOption(function(option) { return $('<option>').text(option) }))
                  .text('Add option')
              )
            ),
            $('<select>').addClass('form-control choices')
          )
          break
        case QUESTION_TYPES.Checkboxes:
          li.append(
            $('<div>').addClass('input-group').append(
              $('<input>').addClass('form-control option').attr('placeholder', 'Option'),
              $('<span>').addClass('input-group-btn').append(
                $('<button>')
                  .addClass('btn btn-success')
                  .click(addOption(function(option) {
                    return $('<div>').append(
                      $('<label>').text(option).append($('<input>').attr('type', 'checkbox'))
                    )
                  }))
                  .text('Add option')
              )
            ),
            $('<div>').addClass('choices')
          )
          break
        case QUESTION_TYPES['Short text']:
          li.append($('<input>').addClass('form-control'))
          break
        case QUESTION_TYPES['Long text']:
          li.append($('<textarea>').addClass('form-control'))
      }
      questionContainer.append(li)
      addDnDHandlers(li)
    }

    function generateJSON() {
      if (!saveButton.hasClass('btn-primary')) return //submission already in progress

      var questions = []
      questionContainer.children().each(function(_, question) {
        var $question = $(question)
        var choices = []
        $question.find('.choices').children().each(function(_, choice) {
          choices.push($(choice).attr('choice'))
        })
        questions.push({
          type: Number($question.attr('question_type')),
          description: '',
          title: $question.find('input.title').val(),
          choices: choices
        })
      })
      saveButton.removeClass('btn-primary').addClass('btn-warning')
      $.ajax({
        url: '{{ url_for("voting.save_questions", access_key=access_key) }}',
        type: 'POST',
        data: JSON.stringify(questions),
        dataType: 'json',
        success: function(response) {
          saveButton.removeClass('btn-warning')
          saveButton.addClass(response.success ? 'btn-success' : 'btn-danger')
          setTimeout(function() {
            saveButton.removeClass('btn-success btn-danger').addClass('btn-primary')
          }, 2e3)
        },
        error: function(jqXHR, status, error) {
          console.error(jqXHR, status, error)
          saveButton.removeClass('btn-warning')
          saveButton.addClass('btn-danger')
          setTimeout(function() {
            saveButton.removeClass('btn-danger').addClass('btn-primary')
          }, 2e3)
        }
      })
    }

    $(document).ready(function() {
      questionContainer = $('#question_container')

      typeSelect = $('select#question_type')
      for (var questionType in QUESTION_TYPES) {
        typeSelect.append($('<option>').val(QUESTION_TYPES[questionType]).text(questionType))
      }

      $('button#add_question').click(addElement)
      saveButton = $('button#save_survey').click(generateJSON)
      addDnDHandlers(questionContainer.find('.element'))
    })
  </script>
{% endblock %}

{% block page %}
  <div class="col-md-8 col-md-offset-2" style="float: none; padding-bottom: 25px">
    <h1>Editing survey questions for {{ survey['title'] }}</h1>
    {% if survey['description'] %}
      <h3>{{ survey['description'] }}</h3>
    {% endif %}
    <a href="{{ url_for('voting.edit_params', access_key=access_key) }}">
      Edit survey settings
    </a>
    <ul id="question_container">
    </ul>
    <div class="form-group">
      <div class="input-group">
        <select class="form-control" id="question_type"></select>
        <span class="input-group-btn">
          <button class="btn btn-default" id="add_question">Add question</button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" id="save_survey">Save</button>
    </div>
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  <style>
    [draggable] {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }

    #question_container {
      list-style-type: none;
    }

    .element {
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: center;
      cursor: move;
    }

    .element.over {
      border-top: 2px dashed #000;
    }

    input[type=checkbox] {
      position: relative;
      top: 2px;
      left: 3px;
    }
  </style>
{% endblock %}
