{% extends 'layout.html' %}
{% block page %}
    <div class='col-md-8 col-md-offset-2' id='main' style='float: none; padding-bottom: 25px'>
        <a href='{{ url_for("voting.make_survey_form") }}' style='padding-left: 15px'>
            Make new survey
        </a>
        <br />
        <div class='col-md-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Active surveys</h3>
                </div>
                <div class='panel-body'>
                    <div class='list-group'>
                        {% for survey in active_surveys %}
                            <a class='list-group-item' href='{{ url_for("voting.take_survey", access_key=survey["access_key"]) }}'>
                                <h4 class='list-group-item-heading'>
                                    {{ survey['title'] }}
                                </h4>
                                {% if survey['description'] %}
                                    <p class='list-group-item-text'>{{ survey['description'] }}</p>
                                {% endif %}
                                <p class='list-group-item-text'>
                                    Open until {{ survey['end_time'].strftime('%A, %B %d, %Y at %-I:%M %p') }}.
                                </p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Survey results</h3>
                </div>
                <div class='panel-body'></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        #main:before, #main:after {
            content: " ";
            display: table;
        }
        #main:after {
            clear: both;
        }
        div.panel-body {
            padding: 0;
            margin: -1px;
        }
        div.list-group {
            margin: 0;
        }
    </style>
{% endblock %}