{% extends "layout.html" %}
{% block page %}

<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<p>This is a list of all surveys that are in progress or which have been completed. All public surveys also have public results which you may view.</p>
		<p>In Progress</p>
		{% for survey in surveys %}
		<div>
			{% if survey['release_results'] == True %}
			<p>survey['name']</p>
			{% endif %}
		</div>
		{% endfor %}

		<p>Completed</p>
		{% for survey in surveys %}
		<div>
			<a href="results?"{{survey['key']}}>survey['name']</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
