{% extends 'layout.html' %}
{% block page %}
<div class="container theme-showcase">
  <div class="jumbotron">
    {% if is_owner %}
      <a href="{{ url_for('voting.edit_questions', access_key=access_key) }}">
        <h4>Edit</h4>
      </a>
    {% endif %}
    <h1>
      <strong>{{ title }}</strong>
    </h1>
    {% if description %}
      <div id="description"></div>
    {% endif %}
    <ul id="question_container"></ul>
    <button class="btn btn-primary" id="submit">Submit answers</button>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src='{{ url_for("static", filename="js/format-text.js") }}'></script>
<script src='{{ url_for("static", filename="js/search-directory.js") }}'></script>
<script>
  var NO = '{{ NO }}'
  var description = {{ description|tojson }}
  var QUESTION_TYPES = {{ question_types|safe }}
  var questionData = {{ questions_json|safe }}

  var questionContainer

  function addChoice() {
    var $this = $(this)
    var element = $this.closest('.element')
    var chosenTable = element.find('.chosen')
    var userId = $this.attr('user-id')
    if (userId) { //a writein
      var choice = $this.find('p').text()
      element.find('input.writein')
        .val('')
        .keyup() //clear search results
    }
    else { //not a writein
      var inputGroup = $this.closest('.input-group')
      var choiceSpan = inputGroup.find('.candidate')
      var choice = choiceSpan.text()
      var choiceId = choiceSpan.attr('choice-id')
      inputGroup.remove()
    }
    var displayedChoice = $('<span>').addClass('choice-text').text(choice)
    if (choiceId) displayedChoice.attr('choice-id', choiceId)
    else if (userId) displayedChoice.attr('user-id', userId)
    chosenTable.append(
      $('<tr>').append($('<td>').append(
        displayedChoice,
        $('<div>').addClass('btn-group vote-controls').append(
          $('<button>').addClass('btn btn-default').click(removeChoice(userId)).append(
            $('<span>').addClass('glyphicon glyphicon-minus')
          ),
          $('<button>').addClass('btn btn-default').click(moveUp).append(
            $('<span>').addClass('glyphicon glyphicon-triangle-top')
          ),
          $('<button>').addClass('btn btn-default').click(moveDown).append(
            $('<span>').addClass('glyphicon glyphicon-triangle-bottom')
          )
        )
      ))
    )
  }
  function removeChoice(writein) {
    return function() {
      var $this = $(this)
      var rankCell = $this.closest('td')
      var rank = rankCell.closest('tr')
      if (!writein) {
        var displayedChoice = rankCell.find('span')
        $this.closest('.element').find('.choices')
          .prepend(candidateInput({ //add back to choices list
            choice: displayedChoice.text(),
            id: displayedChoice.attr('choice-id')
          }))
      }
      rankCell.remove()
      if (rank.is(':empty')) rank.remove()
    }
  }
  function moveUp() {
    var rankCell = $(this).closest('td')
    var rank = rankCell.parent()
    var previousRank = rank.prev()
    if (!previousRank.length) previousRank = $('<tr>').insertBefore(rank)
    previousRank.append(rankCell)
    if (rank.is(':empty')) rank.remove()
  }
  function moveDown() {
    var rankCell = $(this).closest('td')
    var rank = rankCell.parent()
    var nextRank = rank.next()
    if (!nextRank.length) nextRank = $('<tr>').insertAfter(rank)
    nextRank.append(rankCell)
    if (rank.is(':empty')) rank.remove()
  }
  function electedPositionChoice(input) {
    return $('<div>').addClass('form-group').append(
      $('<div>').addClass('input-group').append(
        input,
        $('<span>').addClass('input-group-btn').append(
          $('<button>').addClass('btn btn-default').click(addChoice).append(
            $('<span>').addClass('glyphicon glyphicon-plus')
          )
        )
      )
    )
  }
  function candidateInput(choice) {
    return electedPositionChoice(
      $('<span>')
        .addClass('input-group-addon candidate')
        .attr('choice-id', choice.id)
        .text(choice.choice)
    )
  }
  function submitSurvey() {
    var responses = new Array(questionData.length)
    var elements = questionContainer.children()
    for (var i = 0; i < questionData.length; i++) {
      var question = questionData[i]
      var element = elements.eq(i)
      switch (question.type) {
        case QUESTION_TYPES.Dropdown:
          var response = Number(element.find('select').val())
          break
        case QUESTION_TYPES['Elected position']:
          var response = []
          element.find('.chosen tr').each(function() {
            var rank = []
            $(this).find('.choice-text').each(function() {
              var $this = $(this)
              var choiceId = $this.attr('choice-id'), userId = $this.attr('user-id')
              rank.push(
                choiceId
                  ? {choice_id: Number(choiceId)}
                  : userId ? {user_id: Number(userId)} : null
              )
            })
            response.push(rank)
          })
          break
        case QUESTION_TYPES.Checkboxes:
          var response = []
          var choices = element.find('.choices').children()
          choices.each(function() {
            var checked = $(this).find(':checked')
            if (checked.length) response.push(Number(checked.val()))
          })
          break
        case QUESTION_TYPES['Short text']:
        case QUESTION_TYPES['Long text']:
          var response = element.find('.text-input').val()
      }
      responses[i] = {
        question: question.question_id,
        response: response
      }
    }
    $.ajax({
      url: '{{ url_for("voting.submit", access_key=access_key) }}',
      type: 'POST',
      data: JSON.stringify({
        uid: $('input#uid').val(),
        birthday: $('input#birthday').val(),
        responses: responses
      }),
      success: function(response) {
        if (response.success) {
          alert('Submission received')
          location.assign('{{ url_for("voting.list_surveys") }}')
        }
        else alert('Submission failed: ' + response.message)
      },
      error: function(jqXHR, status, error) {
        console.error(jqXHR, status, error)
        alert('Submission failed?')
      }
    })
  }
  function shuffle(arr) {
    for (var i = arr.length - 1; i > 0; i--) {
      var j = (Math.random() * (i + 1)) | 0
      var swap = arr[i]
      arr[i] = arr[j]
      arr[j] = swap
    }
  }

  $(document).ready(function() {
    if (description) $('#description').append(formatText(description, 'h2'))
    questionContainer = $('#question_container')
    questionData.forEach(function(question, index) {
      var elementInner = $('<div>').addClass('left').append(
        $('<h3>').text(
          String(index + 1) + '. ' + question.title
        )
      )
      if (question.description) elementInner.append($('<h4>').text(question.description))
      var li = $('<li>').addClass('element').append(elementInner)
      switch (question.type) {
        case QUESTION_TYPES.Dropdown:
          var select = $('<select>').addClass('form-control choices')
          question.choices.forEach(function(choice) {
            select.append($('<option>').val(choice.id).text(choice.choice))
          })
          elementInner.append(select)
          break
        case QUESTION_TYPES['Elected position']:
          var choicesDiv = $('<div>').addClass('col-md-6 choices')
          var choices = question.choices
          shuffle(choices)
          choices.forEach(function(choice) {
            choicesDiv.append(candidateInput(choice))
          })
          var nameInput = $('<input>').addClass('form-control writein').attr('placeholder', 'Write-in')
          var searchResults = $('<ul>').addClass('list-group')
          choicesDiv.append(
            candidateInput({choice: NO, id: null}),
            nameInput,
            searchResults
          )
          attachDirectorySearch(nameInput, searchResults, function(user) {
            return $('<button>').addClass('list-group-item')
              .attr('user-id', user.user_id)
              .click(addChoice)
              .append($('<p>').text(user.full_name))
          })
          elementInner.append(
            $('<div>').addClass('row').append(
              choicesDiv,
              $('<div>').addClass('col-md-6').append(
                $('<h5>').text('Chosen:'),
                $('<table>').addClass('table chosen')
              )
            )
          )
          break
        case QUESTION_TYPES.Checkboxes:
          var choicesDiv = $('<div>').addClass('choices')
          question.choices.forEach(function(choice) {
            choicesDiv.append($('<div>').append(
              $('<label>').text(choice.choice).append(
                $('<input>').attr('type', 'checkbox').val(choice.id)
              )
            ))
          })
          elementInner.append(choicesDiv)
          break
        case QUESTION_TYPES['Short text']:
          elementInner.append($('<input>').addClass('form-control text-input'))
          break
        case QUESTION_TYPES['Long text']:
          elementInner.append($('<textarea>').addClass('form-control text-input'))
      }
      questionContainer.append(li)
    })
    $('button#submit').click(submitSurvey)
  })
</script>
{% endblock %}
{% block styles %}
  {{ super() }}
  <style>
    .left {
      text-align: left;
    }
    button[user-id] > p { /* override jumbotron p styles */
      font-size: 15px;
      margin-bottom: 0;
    }
    .vote-controls {
      padding-left: 10px;
    }
    .vote-controls button {
      padding: 4px 8px;
    }
  </style>
{% endblock %}
