body{
    padding-bottom:0;
    padding-top:0;
}
.jumbotron {
    padding-top: 83px
}
.checkbox-inline input[type=checkbox]{
    margin-top: 2px;
    margin-left: 0;
}

#calendar {
    font-size: 14px;
}
#cal{
    height: 100%;
    font-size: 14px;
}

#cal td{
    overflow: auto;
    width: 80px;
    text-align: center;
    padding: 5px;
}

.day {
    height: 78%;
    overflow: auto;
    border-radius:5px;
}

#future {
    height:35%;
    overflow:auto;
}

#past {
    height:35%;
    overflow:auto;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.close {
    float: right;
    cursor:pointer;
}

.extendInfoCol .close {
    margin-top: 10px;
    display: None;
}

.events{
    word-wrap: break-word;
    margin: 0;
    margin-top:2px;
    padding: 2px;
    width:100%;
    border-radius:3px;
    overflow:auto;
    padding-left:5px;
    padding-right:5px;
    word-break: break-all;
    text-align: left;
    font-size: 12px;
}

.glyphicon-search {
    margin-right: 15px;
    margin-top: 12px;
}

.searchInput{
    margin-right: 15px;
}

.searchEvents
{
    margin: 0;
    margin-top:8px;
    margin-bottom:8px;
    padding: 0;
    width:100%;
    font-size:12px;
    border-radius:5px;
}

.searchEvents label {
    margin-left: 8px;
    font-weight: 400;
    text-align: left;
    overflow-wrap: break-word;
}

.searchInfoUpdate{
    margin-bottom:3px;
    margin-top:3px;
}

.eventName{
    display: inline-flex;
}

.searchBar{
    display: flex;
}

#extraInfo {
    display:none;
    position: absolute;
    top: 120px;
    z-index: 999;
    width:45%;
    border: gray;
    border-style: solid;
    border-width:1px;
    background-color:white;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
    overflow-wrap: normal;
    padding-top:10px;
    max-width:400px;
}

.infoText{
    font-weight:200;
}

#searchResDiv{
    width: 100%;
}

#extendInfo{
    position: float;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color:rgba(255,255,255,0.5);
    overflow: auto;
    display: none;
}

#extendInfo tr{
    height:10px;
}

#failover_message{
    background-color: #FFFFE5;
    text-align: center;
    display:none;
}

.input_float{
    position: float;
}

.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.checkbox-inline, .radio-inline {
  margin-right: 10px;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
  margin-right: 10px;
  margin-left: 0px;
}

.addEvents {
    margin-bottom: 5px;
    margin-top: 0px;
    top: 101px;
    margin-right: 0px;
    position: absolute;
    right: 182px;
}

.share {
    margin-bottom: 3px;
}

.share:hover {
    margin-bottom: 3px;
    margin-top: 0px;
}

.search {
    margin-bottom: 5px;
    margin-top: 0px;
    top: 101px;
    margin-right: 0px;
    position: absolute;
    right: 100px;
}

button {
    margin:7px;
}

.spread-label {
    margin-bottom: 0px;
    margin-top: 15px;
}

.next-month {
    margin-bottom: 5px;
    margin-top: 0px;
    top: 101px;
    margin-right: 0px;
    position: absolute;
    right: 0;
}

.prev-month {
    margin-bottom: 5px;
    margin-top: 0px;
    top: 101px;
    margin-right: 0px;
    position: absolute;
    right: 50px;
}
.jumpto:hover {
    margin-bottom: 10px;
}

.halfWidth {
    width: 50%;
    display: table-cell;
}

.halfWidth .input-group{
    width:100%;
}

.jump {
    margin-bottom: 5px;
    margin-top: 0px;
    top: 94px;
    margin-right: 0px;
    position: absolute;
    left: 10px;
}

.events label{
   font-weight: 400;
   margin-bottom: 0px;
}

.row {
  height: 80%;
  margin-right: 0px;
  margin-left: 0px;
}

.fullHeight {
  height: 100%;
}

.jumpto_year{
  width: 63px;
}

.jumpto {
  margin-bottom: 10px;
}

.jumpto_month{
  margin-left: 7px;
  width: 50px;
}

.noPadding {
  padding-left: 0px;
  padding-right: 0px;
}

.back {
  top: 90px;
  position: absolute;
}

.editable {
  display: none;
}

#start_date {
  margin-top:0px;
}

#end_date {
  margin-top: 0px;
}

.searchBar .btn-primary {
  margin-bottom: 0px;
}

.alignright {
	float: right;
}

.alignleft {
    width: 45%;
}

#searchCheckBox{
    margin-bottom: 10px;
}

#cal th {
    text-align: center;
    height: 10px
}
@media (min-width: 992px) { 
  .col-md-1 {
    width: 11%;
  }
  .col-md-11 {
    width: 89%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 900px) and (orientation: portrait) {
  .checkbox-inline {
    margin-right: 20px;
  }
  .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
    margin-right: 20px;
  }

  .row {
    height: auto;
    margin-left: 0px;
    display: grid;
  }
  
  .noPadding {
    padding-left: 3px;
    padding-right: 3px; 
  }
  #cal td {
    padding:2px;
    height: 60px;
    font-size: 10px;
  }
  .events {
    font-size: 10px;
  }
  .jump {
     bottom: 80px;
     top: auto;
     position: initial;
  }
  .addEvents{
    left: 5px;
    right: auto;
    top: 100px;
  }
  .search{
    position:initial;
    display: grid;
  }
  .col-md-1 {
    width: auto;
  }
  .halfWidth {
    display: contents;
  }
  .jumbotron form input {
    margin-top:0px;
  }

  .back {
    left: 15px;
    top: 45px;
  }

  #past {
    height: 300px;
  }
  #future {
    height: 300px;
  }
  #extraInfo {
    width:100%;
    top: 0px;
  }
  #cal th {
    font-size: 10px;
    padding: 2px;
  }
  .extendInfoCol {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100%;
    background: white;
    box-shadow: 0px 3px 100px 10px rgba(0, 0, 0, 0.5);
    display: none;
  }
  .extendInfoCol  form{
    margin-top: 0px;
  }
}

>>>>>>> bug fix+style fix
