{% extends "layout.html" %}
{% block body %}
{% include "topbar.html" %}

<div class="text-center">
    <!-- SECTION 3 OF SELLING: VERIFICATION -->
    <p>PAGE 3</p>
    {% if state == "new" %}
    <h3>Create a new item</h3>
    {% else %}
    <h3>Modify an existing item</h3>
    {% endif %}
    <br>
    Please select a category for your item.
    <br>
    <br>
    {% if state=='edit' %}
    <form action={{ url_for(".sell", state=state, item_id=request.args['item']) }} method='post'>
    {% else %}
    <form action={{ url_for(".sell", state=state) }} method='post'>
    {% endif %}
        <select name="cat_id">
            {% for i in range(cats|length) %}
                {% for j in range(cats[i]|length) %}
                    <option value={{ i*cats[0]|length+j+1 }}>
                        <!-- i*cats[0]|length+j+1 converts 2d array to 1-indexed 1d array -->
                        {{ cats[i][j] }}
                    </option>
                {% endfor %}
            {% endfor %}
        </select>
        <button name="page" value=2>Back</button>
        <button name="page" value=4>Continue</button>

        <!-- hidden fields allow us to pass info between form pages -->
        {% for h in hidden %}
        <input type="hidden" name={{ h[0] }} value={{ h[1] }}>
        {% endfor %}
    </form>
</div>
<br>

{% endblock %}
