{% extends "layout.html" %}
{% block page %}
{% include "topbar.html" %}

<div class="col-md-4 col-md-offset-4" style="margin-bottom: 25px" id="mainbody">
    <!-- SECTION 2 OF SELLING: INFO INPUT -->
    <div class="text-center">
        {% if state == "new" %}
        <h3>Create a new item</h3>
        {% else %}
        <h3>Modify an existing item</h3>
        {% endif %}
        <br>
        <p>Please provide additional details about your item.</p>
        <p style="color:#ff0000">* Required field.</p>
        <div id="errors">
            {% for error in errors %}
                <p style="color:#ff0000" id="error">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
    </div>
    {% if state=='edit' %}
    <form action={{ url_for(".sell", state=state, item_id=request.args['item_id']) }} method='post'>
    {% else %}
    <form action={{ url_for(".sell", state=state) }} method='post'>
    {% endif %}
        <div class="form-group">
            <label>Category</label>
            <input class="form-control" disabled value="{{ cat_title }}" />
        </div>
        {% if cat_title == "Textbooks" %}
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" disabled value="{{ stored['textbook_title'] }}" />
            </div>
            <div class="form-group">
                <label>Author</label>
                <input class="form-control" disabled value="{{ stored['textbook_author'] }}" />
            </div>
            <div class="form-group">
                <label for="edition">Edition</label>
                <input class="form-control" name="textbook_edition" id="edition" maxlength="20" value="{{ stored['textbook_edition'] }}" />
            </div>
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input class="form-control" name="textbook_isbn" id="isbn" maxlength="20" value="{{ stored['textbook_isbn'] }}" />
            </div>
        {% else %}
            <div class="form-group">
                <label class="required" for="title">Title</label>
                <input class="form-control" name="item_title" id="title" maxlength="240" value="{{ stored['item_title'] }}" />
            </div>
        {% endif %}

        <div class="form-group">
            <label class="required" for="condition">Condition</label>
            <select class="form-control" name="item_condition" id="condition">
                {% for condition in ["", "New", "Very Good", "Good", "Acceptable", "Poor"] %}
                    <option value="{{condition}}" {% if condition == stored["item_condition"] %} selected {% endif %}>
                        {% if condition %}
                            {{condition}}
                        {% else %}
                            Choose one...
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="required" for="price">Price</label>
            <input class="form-control" name="item_price" id="price" maxlength="7" value="{{ stored['item_price'] }}" />
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class="form-control" name="item_details" id="details" maxlength="2000">{{ stored['item_details'] }}</textarea>
        </div>

        <div class="form-group">
            <p>
                You may submit up to 5 images using the buttons below. If the buttons don't work or you wish to upload them manually, you may also copy the links here. All images are uploaded to imgur.
            </p>

            <table>
                {% for i in range(stored_images|length) %}
                <tr>
                    <td>
                        Image {{ i+1 }}:
                    </td>
                    <td>
                        <input id="image{{ i+1 }}" type="text" name="item_images[]" value={{ stored_images[i] }}></input>
                    </td>
                    <td>
                        <button type="button" onclick="showUploadForm({{ i+1 }})">Upload an image</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <script>
            var IMGUR_CLIENT_ID = '{{ imgur_id }}';
            var LOADING_PATH = "{{ url_for('static', filename='images/marketplace/loading.gif') }}";
        </script>
        <script src={{ url_for('static', filename='js/marketplace/overlay.js') }}></script>
        <script src={{ url_for('static', filename='js/marketplace/sell_images.js') }}></script>
        <div class="text-center">
            <button class="btn btn-warning" name="page" value="CATEGORY">Back</button>
            <button class="btn btn-primary" name="page" value="CONFIRMATION">Continue</button>
        </div>
        <br>

        <!-- hidden fields allow us to pass info between form pages -->
        {% for h in hidden %}
        <input type="hidden" name="{{ h[0] }}" value="{{ h[1] }}">
        {% endfor %}
    </form>
</div>

{% endblock %}
