{% extends "layout.html" %}
{% block page %}
{% include "topbar.html" %}

<div id="wide-column" class="text-center">
    <!-- SECTION 10 OF SELLING: TEXTBOOK SELECT -->
    {% if state == "new" %}
    <h3>Create a new item</h3>
    {% else %}
    <h3>Modify an existing item</h3>
    {% endif %}
    <br>
    Please find and select your textbook from the list below.
    <br>
    <br>
    {% if state=='edit' %}
    <form action={{ url_for(".sell", state=state, item_id=request.args['item_id']) }} method='post'>
    {% else %}
    <form action={{ url_for(".sell", state=state) }} method='post'>
    {% endif %}
        <!-- TODO: implement searching <input id="tb-search" type="text" maxlength=255 size=60 placeholder="Search for a book.">
        <br>
        <br>-->
        <div class="scrollbox">
            <table class="table table-hover table-condensed sortable" style="margin-left: auto;margin-right: auto;table-layout:fixed;width:50%;min-width:590px" frame=void rules=rows>
                <thead>
                    <tr style="text-align:center">
                        <th class="sorttable_nosort" style="width:50px"></th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                <!-- textbooks is an array with elements for each textbook.  textbook[0] is the ith textbook's id; [1] is the title; [2] is the author. -->
                    {% for textbook in textbooks %}
                        <tr style="text-align:left" id={{ "td-"+textbook[0]|string }}>
                            <td><input type="radio" name="textbook_id" value="{{ textbook[0] }}"
                                {% if textbook[0]|string == old_textbook_id %} checked {% endif %}>
                            </td>
                            <td>{{ textbook[1] }}</td>
                            <td>{{ textbook[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-warning" name="page" value=1>Back</button>
        <button class="btn btn-primary" name="page" value=2>Continue</button>

        <!-- hidden fields allow us to pass info between form pages -->
        {% for h in hidden %}
        <input type="hidden" name="{{ h[0] }}" value="{{ h[1] }}">
        {% endfor %}
    </form>
    <br>
    <br>
    <p>Alternatively, if you can't find your textbook, you can add it here.</p>
    <form action={{ url_for(".sell", state=state) }} method="post">
        {% for h in hidden %}
        <input type="hidden" name="{{ h[0] }}" value="{{ h[1] }}">
        {% endfor %}
        <input type="hidden" name="action" value="add-textbook">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="textbook_title" id="title" maxlength="255" style="width: 250px; margin-left: auto; margin-right: auto" />
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input class="form-control" type="text" name="textbook_author" id="author" maxlength="255" style="width: 250px; margin-left: auto; margin-right: auto" />
        </div>
        <button class="btn btn-default" type="submit" name="page" value=10>Add textbook</button>
    </form>


</div>
<br>

{% endblock %}
