{% extends "layout.html" %}
{% block page %}
{% include "topbar.html" %}

<div id="wide-column" class="text-center">
    <!-- SECTION 10 OF SELLING: TEXTBOOK SELECT -->
    {% if state == "new" %}
    <h3>Create a new item</h3>
    {% else %}
    <h3>Modify an existing item</h3>
    {% endif %}
    <br>
    Please find and select your textbook from the list below.
    <br>
    <br>
    {% if state=='edit' %}
    <form action={{ url_for(".sell", state=state, item_id=request.args['item_id']) }} method='post'>
    {% else %}
    <form action={{ url_for(".sell", state=state) }} method='post'>
    {% endif %}
        <!-- TODO: implement searching <input id="tb-search" type="text" maxlength=255 size=60 placeholder="Search for a book.">
        <br>
        <br>-->
        <div class="scrollbox">
            <table style="margin-left: auto;margin-right: auto;table-layout:fixed;width:50%;min-width:590px" class="sortable" border=1 frame=void rules=rows>
                <thead>
                    <tr style="text-align:center">
                        <th class="sorttable_nosort" style="width:50px"></th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                <!-- textbooks is an array with elements for each textbook.  textbook[i][0] is the ith textbook's id; [1] is the title; [2] is the author. -->
                    {% for i in range(textbooks|length) %}
                        <tr style="text-align:left" id={{ "td-"+textbooks[i][0]|string }}>
                            <td><input type="radio" name="textbook_id" value="{{ textbooks[i][0] }}"
                                {% if textbooks[i][0]|string == old_textbook_id %} checked {% endif %}>
                            </td>
                            <td>{{ textbooks[i][1] }}</td>
                            <td>{{ textbooks[i][2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <button name="page" value=1>Back</button>
        <button name="page" value=2>Continue</button>

        <!-- hidden fields allow us to pass info between form pages -->
        {% for h in hidden %}
        <input type="hidden" name="{{ h[0] }}" value="{{ h[1] }}">
        {% endfor %}
    </form>
    <br>
    <br>
    <p>
    Alternatively, if you can't find your textbook, you can add it here.
    <form action={{ url_for(".sell", state=state) }} method="post">
        {% for h in hidden %}
        <input type="hidden" name="{{ h[0] }}" value="{{ h[1] }}">
        {% endfor %}
        <input type="hidden" name="action" value="add-textbook">
        <table style="margin-left: auto;margin-right: auto;">
            <tr>
                <td>Title:</td>
                <td> <input type="text" name="textbook_title" maxlength="255" size="40"> </td>
            </tr>
            <tr>
                <td>Author:</td>
                <td> <input type="text" name="textbook_author" maxlength="255" size="40"> </td>
            </tr>
        </table>
        <button type="submit" name="page" value=10>Add textbook</button>
        </form>
    </p>


</div>
<br>

{% endblock %}
