{% extends "layout.html" %}
{% block page %}
{% include "topbar.html" %}

<div class="text-center">
    <!-- SECTION 3 OF SELLING: VERIFICATION -->
    {% if state == "new" %}
    <h3>Create a new item</h3>
    {% else %}
    <h3>Modify an existing item</h3>
    {% endif %}
    <br>
    Confirm submission?
    <br>
    <br>
    {% if state=='edit' %}
    <form action={{ url_for(".sell", state=state, item_id=request.args['item_id']) }} method='post'>
    {% else %}
    <form action={{ url_for(".sell", state=state) }} method='post'>
    {% endif %}
        <table style="margin-left: auto;margin-right: auto;text-align:left">
            <thead>
                <tr style="hidden">
                    <td style="width:90px"></td>
                    <td style="width:400px"></td>
                </tr>
            </thead>
            <tr>
                <td>Category:</td>
                <td>{{ cat_title }}</td>
            </tr>
            {% if cat_title == "Textbooks" %}
                <tr>
                    <td>Title:</td>
                    <td> {{stored["textbook_title"]}} </td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td> {{stored["textbook_author"]}} </td>
                </tr>
                <tr>
                    <td>Edition:</td>
                    <td> {{stored["textbook_edition"]}} </td>
                </tr>
                <tr>
                    <td>ISBN:</td>
                    <td> {{stored["textbook_isbn"]}} </td>
                </tr>
            {% else %}
                <tr>
                    <td>Title:</td>
                    <td> {{stored["item_title"]}} </td>
                </tr>
            {% endif %}

            <tr>
                <td>Condition:</td>
                <td> {{stored["item_condition"]}} </td>
            </tr>

            <tr>
                <td>Price:</td>
                <td> {{stored["item_price"]}} </td>
            </tr>

            <tr>
                <td>Details:</td>
                <td> {{stored["item_details"]}} </td>
            </tr>
        </table>
        <br>
        <br>

        <button class="btn btn-danger" name="page" value="INFORMATION">Back</button>
        <button class="btn btn-success" name="page" value="SUBMIT">Confirm</button>

        <!-- hidden fields allow us to pass info between form pages -->
        {% for h in hidden %}
        <input type="hidden" name="{{ h[0] }}" value="{{ h[1] }}">
        {% endfor %}
    </form>
</div>
<br>

{% endblock %}
