#targetDiv {
  border: 1px dashed #333;
  width: 900px;
  height: 400px;
}

textarea {
  margin: 10px;
  width: 80%;
}

.jumbotron h1 {
  font-family: 'Open Sans', Helvetica, Arial, 'sans-serif';
  color: #000;
  text-align: left;
}

.front {
  z-index:1;
  margin-top: 30px;
}

.btn {
  margin: 5px;
}

.btn-group .dropdown:hover .dropdown-menu {
  display: block;
}

#display_area{
  text-align: center;
}

#preview{
  text-align: left;
}

#info {
  text-align: left;
}

#title{
  text-align: center;
}
#preview_title {
  z-index: 0;
  text-align: center;
}
