{% extends "layout.html" %}
{% block page %}
	<div class="col-md-6 col-md-offset-3" style="float: none; padding-bottom: 25px">
		<ul class="nav nav-tabs nav-justified">
			<li class="active">
				<a href="#send" aria-controls="send" role="tab" data-toggle="tab">
					Send Email
				</a>
			</li>
			<li>
				<a href="#view" aria-controls="view" role="tab" data-toggle="tab">
					View Newsgroups
				</a>
			</li>
			<li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="send">
				{% include "send.html" %}
			</div>
			<div class="tab-pane" id="view">
				{% include "viewall.html" %}
			</div>
		</div>
	</div>
{% endblock %}
