{% if "username" in session %}
<form action={{ url_for(".book") }} method="POST">
	<table id="email" class="table">
		<tr>
		  <div class="form-group">
		  <td class="feedback">From: </td>
		  <td class="feedback"><input type="text" name="name" class="form-control" maxlength="50" /></td>
		  </div>
		</tr>
		<tr>
		  <div class="form-group">
		  <td class="feedback">To: </td>
		  <td class="feedback"><div class="form-group">
			<label for="group" id="group">To:</label>
			<select class="form-control" id="group" name="group">
				{% for group in newsgroups %}
				<option> {{ group }} </option>
    				{% endfor %}
  			</select>
		</div></td>
		  </div>
		</tr>
		<tr>
		  <div class="form-group">
		  <td class="feedback">Subject*: </td>
		  <td class="feedback"><input type="text" name="subject" class="form-control" required maxlength="50" /></td>
		  </div>
		</tr>
		<tr>
		  <div class="form-group">
		  <td class="feedback">Message*: </td>
		  <td class="feedback"><textarea class="form-control" name="msg" rows="10" required maxlength="5000"></textarea></td>
		  </div>
		</tr>
	      </table>
		     <button class="btn btn-primary" type="submit">Send</button>
	      </form>
	      {% else %}
	<h2>Please log in to reserve a room</h2>
	      {% endif %}
