{% extends "layout.html" %}
{% block page %}

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <img src="{{  url_for('static', filename='images/newdonut.png')  }}" alt="d(O)nut" title="d(O)nut" style="margin: auto; display: block">
        <p>This is the ARC anonymous course feedback form.</p>
	
	<p>Do feel free to send us
  comments about anything ARC-related -- such as problems with TAs,
  professors or courses, particularly good instructors or clear course
  policies, ideas for what the ARC should be doing, or just
  about anything else (in fact, we'd be interested to know what at
  Caltech does not have some relation to academics or research).
  Please also refer to these <a href="{{ url_for('static', filename='pdf/arc_tips.pdf') }}">tips from the ARC</a>
  about common course concerns. </p>

	<p>Fill in your name and email address if you are willing to have the ARC contact
  you with follow up questions; this will obviously make your comment
  non-anonymous, but we do promise to keep comments strictly
  confidential. </p>

	<p>After you submit your feedback, you'll be given a URL
	 where you can follow up on what the ARC is doing in response.</p>
	<div class="col-md-8 col-md-offset-2">
	  <div class="row">
	    <form method="POST" action="{{  url_for('arcfeedback.arcfeedback_submit')  }}">
	      <table id="feedback" class="table">
		<tr>
		  <div class="form-group">
		  <td class="feedback">Name: </td>
		  <td class="feedback"><input type="text" name="name" class="form-control" maxlength="50" /></td>
		  </div>
		</tr>
		<tr>
		  <div class="form-group">
		  <td class="feedback">Reply Email: </td>
		  <td class="feedback"><input type="email" name="email" class="form-control" maxlength="50" /></td>
		  </div>
		</tr>
		<tr>
		  <div class="form-group">
		  <td class="feedback">Course*: </td>
		  <td class="feedback"><input type="text" name="course" class="form-control" required maxlength="50" /></td>
		  </div>
		</tr>
		<tr>
		  <div class="form-group">
		  <td class="feedback">Feedback*: </td>
		  <td class="feedback"><textarea class="form-control" name="msg" rows="10" required maxlength="5000"></textarea></td>
		  </div>
		</tr>
	      </table>
	      <div class="row">
		<div class="text-center">
		     <input class="btn" type="submit" value="Submit" />
		</div>
	      </div>
	    </form>
	  </div>
	</div>
    </div>

</div>

{% endblock %}
