{% extends "layout.html" %}
{% block page %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Feedback Summary</h3>
  </div>
  <div class="panel-body">
    <p>Course: {{complaint['course']}} </p>
    <p>Status: {{complaint['status']}} </p>
    {% if len(complaint['emails']) == 0 %}
    <p>No emails subscribed to this complaint </p>
    {% endif %}
    {% else %}
    <p>Subscribed emails: </p>
    {% for email in complaint['emails'] %}
    <p>{{email}}</p>
    {% endfor %}
    {% endelse %}
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <tr> <td>Name</td> <td>Message</td> </tr>
    {% for message in complaint['messages'] %}
    <tr> <td>{{ message['poster'] }}</td> <td>{{ message['message'] }}</td></tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
