{% extends "layout.html" %}
{% block page %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
	<table>
	    <tr>
		<th>Course</th>
		<th>Latest Message</th>
		<th>Link</th>
	    </tr>
	    {% for complaint in complaints %}
	    <tr>
		<td>{{ complaint['course'] }}</td>
		<td>{{ complaint['poster'] }}:  {{ complaint['message'] }}<br>Posted at {{ complaint['time'].strftime('%b %d %Y %-I:%M%p') }}</td>
		<td><a href="{{ complaint['link'] }}">Link</a></td>
	    </tr>
	    {% endfor %}
	</table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}

{% endblock %}