{% extends 'layout.html' %}
{% block page %}
	<div class='container theme-showcase jumbotron'>
		<h2>Directory Search</h2>
		<h4>I'm looking for someone...</h4>
		<form action='{{ url_for("directory_search.search") }}' method='POST'>
			<div class='form-group'>
				<label for='name'>Named</label>
				<input class='form-control' id='name' name='name' placeholder='Name' autofocus />
				<ul class='list-group' id='name-search'></ul>
			</div>
			<div class='form-group'>
				<label for='house_id'>Affiliated with</label>
				<select class='form-control' id='house_id' name='house_id'>
					<option value=''>Any house</option>
					{% for house in houses %}
						<option value={{ house['group_id'] }}>{{ house['group_name'] }}</option>
					{% endfor %}
				</select>
			</div>
			<div class='form-group'>
				<label for='option_id'>Pursuing</label>
				<select class='form-control' id='option_id' name='option_id'>
					<option value=''>Any option</option>
					{% for option in options %}
						<option value={{ option['option_id'] }}>{{ option['option_name'] }}</option>
					{% endfor %}
				</select>
			</div>
			<div class='form-group'>
				<label for='building_id'>Living in</label>
				<select class='form-control' id='building_id' name='building_id'>
					<option value=''>Any residence</option>
					{% for residence in residences %}
						<option value={{ residence['building_id'] }}>{{ residence['building_name'] }}</option>
					{% endfor %}
				</select>
			</div>
			<div class='form-group'>
				<label for='grad_year'>Graduating in</label>
				<select class='form-control' id='grad_year' name='grad_year'>
					<option value=''>Any year</option>
					{% for year in grad_years %}
						<option>{{ year }}</option>
					{% endfor %}
				</select>
			</div>
			<div class='form-group'>
				<label for='username'>Username</label>
				<input class='form-control' id='username' name='username' />
			</div>
			<div class='form-group'>
				<label for='email'>Email</label>
				<input class='form-control' id='email' name='email' />
			</div>
			<div class='form-check'>
				<input type='checkbox' class='form-check-input' id='show_images' name='show_images' />
				<label for='show_images'>Show images</label>
			</div>
			<div class='form-group'>
				<input type='submit' class='btn' value='Search' />
			</div>
		</form>
	</div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script src='{{ url_for("static", filename="js/search-directory.js") }}'></script>
	<script>
		$(document).ready(function() {
			var nameInput = $('input#name'), nameSearch = $('ul#name-search')
			attachDirectorySearch(nameInput, nameSearch, function(user) {
				return $('<li>').addClass('list-group-item').append(
					$('<a>').attr('href', '/1/users/' + String(user.user_id)).text(user.full_name)
				)
			})
			document.addEventListener("click", function() {
                                nameSearch.children().remove()
                        })
		})
	</script>
{% endblock %}
