{% extends 'layout.html' %}
{% block page %}
	<div class='col-md-6 col-md-offset-3' style='float: none; padding-bottom: 25px'>
		{% if user is none %}
			No such user!
		{% else %}
			<h2>
				{{ user['preferred_name'] or user['first_name'] }}
				{{ user['middle_name'] or '' }}
				{{ user['last_name'] }}
			</h2>
			<ul class='list-group'>
				<li class='list-group-item'>
					<strong>UID</strong>:
					{{ user['uid'] }}
				</li>
				{% if user['birthday'] %}
					<li class='list-group-item'>
						<strong>Birthday</strong>:
						{{ user['birthday'].strftime('%b %-d, %Y') }}
					</li>
				{% endif %}
				{% if 'gender_string' in user %}
					<li class='list-group-item'>
						<strong>Gender</strong>:
						{{ user['gender_string'] }}
					</li>
				{% endif %}
				{% if user['email'] %}
					<li class='list-group-item'>
						<strong>Email</strong>:
						<a href='mailto:{{ user["email"] }}'>{{ user['email'] }}</a>
					</li>
				{% endif %}
				{% if 'phone_string' in user %}
					<li class='list-group-item'>
						<strong>Phone</strong>:
						{{ user['phone_string'] }}
					</li>
				{% endif %}
				{% if user['msc'] %}
					<li class='list-group-item'>
						<strong>Mail Stop Code (MSC)</strong>:
						{{ user['msc'] }}
					</li>
				{% endif %}
				{% if user['building'] %}
					<li class='list-group-item'>
						<strong>Residence</strong>:
						{{ user['building'] }}
						{% if user['room_num'] %}{{ user['room_num'] }}{% endif %}
					</li>
				{% endif %}
				{% if 'hometown_string' in user %}
					<li class='list-group-item'>
						<strong>Hometown</strong>:
						{{ user['hometown_string'] }}
					</li>
				{% endif %}
				{% if user['entry_year'] %}
					<li class='list-group-item'>
						<strong>Matriculation</strong>:
						{{ user['entry_year'] }}
					</li>
				{% endif %}
				{% if user['graduation_year'] %}
					<li class='list-group-item'>
						<strong>Graduation</strong>:
						{{ user['graduation_year'] }}
					</li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
{% endblock %}