{% extends "layout.html" %}
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href={{ url_for('editor.static', filename='style.css')}}>
{% endblock %}
{% block scripts %}
  {{super()}}
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
{% endblock %}
{% block page%}
<div class="container theme-showcase" role="main">
  <div class="col-md-24">
    <div class="jumbotron">
      <h1 id = "title" class="text-center">List of User Created Pages</h1>
      <div id = "display_list_content">
        <table class = "table">
          <tr>
            <th>Page name</th>
            <th></th>
          </tr>
          {% for link, name in links %}
            <tr>
              <td><a href= "{{ link }}">{{name}}</a></td>
              {% if permissions %}
                <td><a href= "{{ url_for('editor.delete_page', filename=name)}}">Delete</td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
