{% extends "layout.html" %}
{% block page %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
    <h2>Important Campus Contact Numbers</h2>
        {% for department, people in contacts.items() %}
            <h3>{{ department }}</h3>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in people %}
                        <tr>
                            <td>{{ person['name'] }}</td>
                            <td>{{ person['role'] }}</td>
                            <td>
                                <a href='mailto:{{ person["email"] }}'>
                                    {{ person['email'] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>

{% endblock %}
