{% extends "layout.html" %}
{% block page %}

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color: transparent; padding-bottom: 0">
	<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
        <video class="background-video" data-dashjs-player src="./static/videos/stream.mpd" autoplay loop muted></video>
	    <div class="container pos-center">
                <h1>Caltech Donut</h1>
		<br>
		<p class="large-text light-text"><button class="btn btn-primary pos-center">Learn More</button></p>
	    <div>
    </div>
</div>

{% endblock %}
