{% extends "layout.html" %}
{% block page %}

<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <embed src="{{  url_for('static', filename='images/svgdonut.svg')  }}" alt="d(O)nut" title="d(O)nut" style="margin: auto; display: block">

    {% if is_admin %}
      <form action="{{ url_for('.add_news') }}" method="POST">
        <div class="form-group">
          <label for="news">New news</label>
          <textarea class="form-control" id="news" name="news"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </form>
    {% endif %}
    {% if news %}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">News</h3>
        </div>
        <ul class="list-group">
          {% for news_item in news %}
            <li class="list-group-item">
              <strong>{{ news_item['news_date'].strftime('%m/%d/%Y') }}</strong>:
              {{ news_item['news_text'] }}
              {% if is_admin %}
                <form action="{{ url_for('.delete_news', news_id=news_item['news_id']) }}" method="POST">
                  <button class="btn btn-danger" type="submit">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </form>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <p>Welcome to Donut, the official website of the Associated Students of the California Institute of Technology. We provide unique services on behalf of the student body in an effort to better communication and make services accessible to all students.</p>

    <p>If you're a guest or prospective student, you might consider looking into our publications or ASCIT documents in the left-hand sidebar to get a better idea of who we are. You can also email the board of directors from the suggestions page if you'd like more information.
      If you're a student or on campus, you can explore more features, such as the undergraduate directory search or course review system.</p>

    <p>And of course, if you have any questions/comments/concerns/jokes you'd like the site admins to know, don't hesitate to contact us below.</p>

    <p>
      Sincerely, <br>
      Donut Devteam
    </p>
  </div>
{% endblock %}
