{% extends "layout.html" %}
{% block page %}

{% block styles %}
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}

<div class="container theme-showcase jumbotron">
<div class="half-float-left"> 
    <div>
	<div class="pos-center">
            <h2>Marketplace</h2>
            <button class="btn" href={{ url_for(".sell", state='new') }} method='post'>Sell an item</button>
            <div style="width: 100%" class="medium-text">
                    <!-- links to various categories -->
                        {% for i in range(cats|length) %}
                            {% for j in range(cats[i]|length) %}
                            <p style="display: inline;">
                                <a href={{ url_for(".category", cat=i*cats[0]|length+j+1) }}>{{ cats[i][j] }}</a>
                                <!-- i*cats[0]|length+j+1 converts 2d array to 1-indexed 1d array -->
                            </p>
			    <br>
                            {% endfor %}
                        {% endfor %}
            </div>
            <br>
            <div>
                <form action={{ url_for(".query") }}>
                    <div class="form-group">
                        <label for="q">Search for an item</label>
                        <input class="form-control" placeholder="Enter search terms" name="q" id="q" autofocus />
                    </div>
                    <div class="form-group">
                        <label for="cat">Category</label>
                        <select class="form-control" name="cat" id="cat">
                            <!-- option 0: all categories -->
                            <option {% if 0 == cat_id %} selected {% endif%}
                                value=all>
                                All Categories
                            </option>

                            <!-- other options, one for each category -->
                            {% for i in range(cats|length) %}
                                {% for j in range(cats[i]|length) %}
                                <option {% if i*cats[0]|length+j+1 == cat_id %} selected {% endif%}
                                        value={{ i*cats[0]|length+j+1 }}>
                                    {{ cats[i][j] }}
                                </option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="half-float-right medium-text">
	<h2>Welcome to the ASCIT Marketplace!</h2>
    <p>Here, Caltech undergraduates can buy and sell textbooks and other items to other Caltech undergrads. We've tried to make using Marketplace as intuitive as possible, but we've included some FAQ below just in case things aren't clear.</p>


    <h4>Frequently Asked Questions</h4>
    <ul>
    <li>
    <p>How do I register if I'm not an undergraduate?</p>
    <p>Currently, ASCIT Donut is a service for Caltech undergraduates only.
        Please see the marketplace@caltech.edu <a href="https://lists.caltech.edu/listinfo/marketplace">mailing list</a>
        for a place to sell things to the Caltech community.
    </p>
    </li>
    <li>
    <p>How do I sell an item?</p>
    <p>To post a listing for an item, click the "sell an item" link at the top of this page.</p>
    </li>
    <li>
    <p>How do I buy an item?</p>
    <p>You can browse each category by clicking on each link above. If you have something specific you are looking for, you can also search for it with the search bar provided. Once you've found what you're looking for, you can buy the item by contacting the seller directly.</p>
    </li>
    <li>
    <p>Do I pay online or in person?</p>
    <p>There is no online payment system built into Marketplace. To buy an item, you should contact the seller directly (links to their directory profile are provided, or you could just knock on their door...)</p>
    </li>
    <li>
    <p>What should I do after my item is sold?</p>
    <p>You should archive or delete your item so it no longer appears in search results.</p>
    </li>
    <li>
    <p>What's the difference between archiving and deleting an item?</p>
    <p>Archiving an item marks it as inactive, so it will no longer appear in search results. The data remains stored on the system, so if you want to look at it later or make it active again, you can simply unarchive it. Deleting an item removes it from the system entirely (there is no undo for deleting items). We prefer if you archive items instead of deleting them, as that helps improve other search results, but if you absolutely do not want that item's data to be stored anywhere, then you should delete it.</p>
    <li>
    <p>Why are all the images hosted in Imgur?</p>
    <p>We upload all images to Imgur instead of hosting them on our own server for faster content delivery and for unlimited storage (Imgur handles images much better than we can). In addition, for security reasons, we require that all manually uploaded images also be hosted by Imgur, as it is a trusted host.</p>
    </li>
    </ul>

    <p>If you find any bugs or have any suggestions, please let us know by emailing <a href="mailto:devteam@donut.caltech.edu">devteam@donut.caltech.edu</a>. Thanks!</p>
</div>
</div>


{% endblock %}
