{% extends "layout.html" %}
{% block page %}

<div class="container theme-showcase jumbotron">
<h4>
    Found {{ datalist|length }} results.
</h4>
{% if datalist %}
    <div class="pos-left">
        <table class="table table-condensed table-hover sortable" frame=void rules=rows>
            <thead>
                <tr>
                    {% for i in headers %}
                        <th>
                            <b>{{i}}</b>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- display data in one main table -->
                {% for i in range(datalist|length) %}
                    <tr>
                        {% for j in range(datalist[i]|length) %}
                            <td>
                                {% if links[i][j] != 0 %} <a href={{ links[i][j] }}> {% endif %}
                                {{ datalist[i][j] }}
                                {% if links[i][j] != 0 %} </a> {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
</div>

{% endblock %}
