{% extends "layout.html" %}
{% exte
    <form action{{ url_for(".sell") }}>
        <select name="cat_id">
            {% for i in range(cats|length) %}
                {% for j in range(cats[i]|length) %}
                    <option value={{ i*cats[0]|length+j+1 }}>
                        <!-- i*cats[0]|length+j+1 converts 2d array to 1-indexed 1d array -->
                        {{ cats[i][j] }}
                    </option>
                {% endfor %}
            {% endfor %}
        </select>
        <button>Continue</button>
    </form>
</div>
<br>

{% endblock %}
{% block body %}
{% include "topbar.html" %}

<div class="text-center">
    <!-- SECTION 1.5 OF SELLING: TEXTBOOK SELECT -->
    <!-- only if it's a t
    <h3>Create a new item</h3>
    <br>
    Please select a category for your item.
    <br>
    <br>
    <form action{{ url_for(".sell") }}>
        <select name="cat_id">
            {% for i in range(cats|length) %}
                {% for j in range(cats[i]|length) %}
                    <option value={{ i*cats[0]|length+j+1 }}>
                        <!-- i*cats[0]|length+j+1 converts 2d array to 1-indexed 1d array -->
                        {{ cats[i][j] }}
                    </option>
                {% endfor %}
            {% endfor %}
        </select>
        <button>Continue</button>
    </form>
</div>
<br>

{% endblock %}
{% block body %}
{% include "topbar.html" %}

<div class="text-center">

    <!-- SECTION 2 OF SELLING: EVERYTHING ELSE -->
    

</div>
<br>

{% endblock %}
