{% extends "layout.html" %}
{% block page %}
{% include "topbar.html" %}

<div class="half-float-left jumbopadding" style="padding-left: 15px; padding-right: 15px;">

{% set is_textbook = item['cat_title'] == 'Textbooks' %}
{% set title = item['textbook_title' if is_textbook else 'item_title'] %}

<h3>Viewing item: {{ title }}</h3>
{% if can_edit %}
    <h4>
        <a href="{{ url_for('.sell', state='edit', item_id=item_id) }}">
            Edit this listing
        </a>
    </h4>
{% endif %}

<table class="table">
    <tr>
        <th>Category</th>
        <td>{{ item['cat_title'] }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ title }}</td>
    </tr>
    {% if is_textbook %}
        <tr>
            <th>Author</th>
            <td>{{ item['textbook_author'] }}</td>
        </tr>
        {% if item['textbook_edition'] %}
            <tr>
                <th>Edition</th>
                <td>{{ item['textbook_edition'] }}</td>
            </tr>
        {% endif %}
        {% if item['textbook_isbn'] %}
            <tr>
                <th>ISBN</th>
                <td>{{ item['textbook_isbn'] }}</td>
            </tr>
        {% endif %}
    {% endif %}
    <tr>
        <th>Condition</th>
        <td>{{ item['item_condition'] }}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>${{ item['item_price'] }}</td>
    </tr>
    {% if item['item_details'] %}
        <tr>
            <th>Details</th>
            <td>{{ item['item_details'] }}</td>
        </tr>
    {% endif %}
    {% if image_links %}
        <tr>
            <th>Images</th>
            <td>
                {% for link in image_links %}
                    <img class="item-image" src="{{ link }}" />
                {% endfor %}
            </td>
        </tr>
    {% endif %}
</table>

<h4>Seller details</h4>
<table class="table">
    <tr>
        <th>Name</th>
        <td>
            <a href="{{ url_for('directory_search.view_user', user_id=item['user_id']) }}">
                {{ user['full_name'] }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
            <a href="mailto:{{ user['email'] }}">
                {{ user['email'] }}
            </a>
        </td>
    </tr>
</table>
</div>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        td {
            width: 100%;
        }
        .item-image {
            max-width: 500px;
            max-height: 500px;
        }
    </style>
{% endblock %}
