{% extends "layout.html" %}
{% block page %}

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

      <h1>{{group}} Feedback</h1>
      <div class="half-float-left medium-text">
        <p style="white-space: pre-line;"> {{ msg }} </p>
        {% if summary %}
        <a class="btn btn-primary" href="{{ url_for('feedback.feedback_view_summary', group=group) }}" role="button">Summary</a>
        {% endif %}
      </div>

      <div class="half-float-right">
        <div>
          <div class="row">
            <form method="POST" action="{{ url_for('feedback.feedback_submit', group=group) }}">
              <table class="table">
                <tr>
                  <td>
                    <label for="name">Name:</label>
                  </td>
                  <td>
                    <input id="name" name="name" class="form-control" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="email">Reply Email(s) separated by commas:</label>
                  </td>
                  <td>
                    <input type="email" id="email" name="email" class="form-control" />
                  </td>
                </tr>
                <tr>
                  <div class="form-group">
                    <td>
                      <label class="required" for="subject">Subject:</label>
                    </td>
                    <td>
                      <input id="subject" name="subject" class="form-control" required />
                    </td>
                  </div>
                </tr>
                <tr>
                  <td>
                    <label class="required" for="msg">Feedback:</label>
                  </td>
                  <td>
                    <textarea class="form-control" id="msg" name="msg" rows="10" required></textarea>
                  </td>
                </tr>
              </table>
              <div class="row">
                <div class="text-center">
                  <input class="btn btn-primary" type="submit" value="Submit" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock %}
