{% extends "layout.html" %}
{% block page %}
<div class="container theme-showcase" role="main">
<div class="jumbotron" style="margin: 5px;">
<h2>{{group}} Summary</h2>
<form method="POST" action="{{ url_for('feedback.feedback_view_summary', group=group) }}">
                            <label for="unresolved">Show only unresolved feedbacks</label>
			    <input type="checkbox" id="unresolved" name="unresolved" onchange="this.form.submit()" {% if view_unresolved %} checked {% endif %}>
</form>
    <table class="table">
        <tr>
	    <th>Date Posted</th>
            <th>Subject</th>
            <th>Latest Message</th>
        </tr>
	{% for complaint in complaints %}
	<tr>
	    <td>{{ complaint['time'].strftime('%b %d %Y %-I:%M%p') }}</td>
	    <td><a href="{{ complaint['link'] }}">{{ complaint['subject'] }}</a></td>
            <td>{{ complaint['poster'] }}:  {{ complaint['message'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
