{% extends "layout.html" %}
{% block page %}
{% include "navbar.html" %}
{% if not group['visible'] and not member %}
<h1> Must be a member to view </h1>
{% else %}
<h1> {{ group['group_name'] }} </h1>
<h2> {{ group['desc'] }} </h2>
{% if not member %}
<form method="POST" id="apply" action="{{ url_for('newsgroups.apply_subscription', group_id=group['group_id']) }}">
  <div class="form-group">
	 <input class="btn btn-primary" id="apply-btn" type="submit" value="Apply for Subscription"/>
  </form>
{% else %}
<h1> Send: {{ actions["send"] }} </h1>
<h1> Receive: {{ actions["receive"] }} </h1>
<h1> Control: {{ actions["control"] }} </h1>
{% endif %}
{% if actions['send'] or group['anyone_can_send'] %}
<br>
<a href={{ url_for('newsgroups.post', group_id=group['group_id']) }}>Send Message</a>
{% endif %}
<h2> Group Owners </h2>
{% for owner in owners %}
<th> {{ owner }} </th>
{% endfor %}
<h4> Past Messages </h4>
    <table style="width:100%">
  <tr>
    <th>Date</th>
    <th>From</th>
    <th>Subject</th>
  </tr>
{% for message in messages %}
          <td> {{message.time_sent}}</td>
          <td> {{message.name}} </td>
          <td> {{message.subject}} </td>
{% endfor %}
{% endif %}
{% endblock %}
