{% extends "layout.html" %}
{% block page %}
{% include "navbar.html" %}
<form method="POST" action={{ url_for("newsgroups.post_message") }}>
	<table id="message" class="table">
	<tr>
	<div class="form-group">
		<label for="group" id="group">Group</label>
		<select class="form-control" id="group" name="group">
			{% for group in groups %}
			{% if group_selected == group["group_id"]|string %}
			<option value="{{ group['group_id'] }}" selected>{{ group["group_name"] }}</option>
			{% else %}
			<option value="{{ group['group_id'] }}">{{ group["group_name"] }}</option>
			{% endif %}
			{% endfor %}
		</select>
	</div>
	</tr>
	<tr>
        <div class="form-group">
                <label for="poster">Post As</label>
                <select class="form-control" id="poster" name="poster">
                        {% for poster in posters %}
                        <option value="{{ poster['pos_name'] }}">{{ poster["pos_name"] }}</option>
                        {% endfor %}
                </select>
        </div>
        </tr>
	<tr>
	<div class="form-group">
		<td>
		<label for="subj" class="required"> Subject: </label>
                 <input type="text" id="subj" name="subject" class="form-control" required /></td>
        </div>
	</tr>
	<tr>
                  <div class="form-group">
			  <td>
			  <label for="msg" class="required"> Message: </label>
                    <textarea id="msg" class="form-control" name="msg" rows="10" required ></textarea></td>
                  </div>
               
	</tr>
	</table>
	<div class="row">
                <div class="text-center">
                  <input class="btn" type="submit" value="Submit" />
                </div>
              </div>
{% endblock %}
