{% extends "layout.html" %}
{% block navbar %}{% endblock %}
{% block content %}
<form method="POST" action={{ url_for("newsgroups.post_message") }}>
	<table id="message" class="table">
	<tr>
	<div class="form-group">
		<label for="group" id="group">Group</label>
		<select class="form-control" id="group" name="group">
			{% if group_selected %}
			<option value=group_0["group_id]" selected>{{ group_0["group_name"] }}</option>
			{% else %}
			{% for group in groups %}
			<option value=group["group_id"]>{{ group["group_name"] }}</option>
			{% endfor %}
			{% endif %}
		</select>
	</div>
	</tr>
	<tr>
	<div class="form-group">
		<td> Subject*: </td>
                 <td><input type="text" name="subject" class="form-control" required /></td>
        </div>
	</tr>
	<tr>
                  <div class="form-group">
			  <td>Feedback*: </td>
                    <td><textarea class="form-control" name="msg" rows="10" required ></textarea></td>
                  </div>
               
	</tr>
	</table>
	<div class="row">
                <div class="text-center">
                  <input class="btn" type="submit" value="Submit" />
                </div>
              </div>
{% endblock %}
