{% extends "layout.html" %}
{% block page %}
{% include "navbar.html" %}
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
	<h3>
		<label for="from">From: </label>
		<a href={{ url_for('directory_search.view_user', user_id=post.user_id) }}>{{ post.post_as }}</a> </h3>
	<h3>
	<label for="to">To: </label>
	<a href={{ url_for('newsgroups.view_group', group_id=post.group_id) }}>{{ post.group_name }}</a>
		</h3>
		<h3>Date: {{ post.time_sent }}</h3>
		<h3>Subject: {{ post.subject }}</h3>
		<h3>Message:</h3>
		<h4 style="white-space: pre-wrap">{{ post.message }}</h4>
</div>
</div>
{% endblock %}
