{% extends "layout.html" %}
{% block page %}
{% include "navbar.html" %}
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
	<h3>
		<label for="from">From: </label>
		<a href={{ url_for('directory_search.view_user', user_id=post.user_id) }}>{{ post.post_as }}</a> </h3>
	<h3>
	<label for="to">To: </label>
	<a href={{ url_for('newsgroups.view_group', group_id=post.group_id) }}>{{ post.group_name }}</a>
		</h3>
		<h3>Date: {{ post.time_sent }}</h3>
		<h3>Subject: {{ post.subject }}</h3>
		<h3>Message:</h3>
		<div id="msg"></div>
</div>
</div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.7/dist/showdown.min.js"></script>
	<script>
		var target = $("#msg");
		var post = {{ post.message | e | tojson }};
		var converter = new showdown.Converter({strikethrough: true, tables: true});
  		target.html(converter.makeHtml(post));
	</script>
{% endblock %}
