{% extends "layout.html" %}
{% block page %}
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>
<script src={{ url_for('uploads.static', filename='script.js', _external = True)}} type="text/javascript"></script>
<div class="container">
  <div class="col-md-24">
    <div class="jumbotron">
      <h1 id = "title" class="text-center">{{title}}</h1>
      <div id = "content">

      <script>convert(`{{page}}`);</script>
    </div>
    {% if permission %}
    <a href="{{ url_for('editor.editor', input_text=title, title=title) }}">>edit this page</a>
    {% else %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
