{% extends "layout.html" %}
{% block page %}
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src={{ url_for('uploads.static', filename='script.js', _external = True)}} type="text/javascript"></script>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<div class="container">
  <div class="col-md-24">
    <div class="jumbotron">
      <h1 id = "title" class="text-center">Uploads</h1>
      <div id="info">
        <p>
          See a list of all uploaded files
          <a href="{{ url_for('uploads.uploaded_list') }}">here</a>.
        </p>
      </div>
        <form id="upload-file" method="post" enctype="multipart/form-data">
          <label for="file">Select a file</label>
          <input name="file" type="file">
          <button id="submit_btn">Upload</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}
